<section class="user">
  <div class="animated fadeIn">

    <div class="col-md-12 mb-2">
      <div class="card">
        <div v-if="ShowHideCron==0" @click = "ShowHideCron = '1'" class="card-header filter_main" style="cursor: pointer;">
          <i class="fa fa-plus plus"></i> SVC Cron Job Run/ Search &nbsp;&nbsp;<span style="font-size:13px;color:green;margin-left: 50%;"><b>( Today Date >> {{currDate}} )</b></span>
        </div>
        <div v-if="ShowHideCron==1" @click = "ShowHideCron = '0'" class="card-header filter_main" style="cursor: pointer;">
          <i class="fa fa-minus minus"></i> SVC Cron Job &nbsp;&nbsp;<span style="font-size:13px;color:green;margin-left: 58%"><b>( Today Date >> {{currDate}} )</b></span>
        </div>
        <b-collapse v-bind:class="`${ShowHideCron == '1' ? 'show' : 'hide'}`" id="collapse1">
          <div class="card-body">
            <form>
              <div class="form-group row">
                <div class="col-md-4">
                  <label>Cron Date <font color="red">*</font></label>
                  <b-input-group left="<i class='fa fa-calendar'></i>" style="height: 45px;">
                    <b-form-input id="crondate" type="date" name="crondate" v-model="crondate"></b-form-input>
                  </b-input-group>
                  <span id="cd" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                  <label>Cron Hub Ids <font color="red">*</font></label>
                  <b-input-group>
                    <textarea rows="2" name = "hubids" id="hubids" ref="textarea" v-model="hubids" placeholder="Enter Hub Ids..." v-bind:class="{'form-control': true}"></textarea>
                  </b-input-group>
                  <small class="text-muted"><font color="red">Note: * Only accept comma (,) separated hub ids.</font></small>
                  <br>
                  <span id="chi" class="text-danger"></span>
                </div>
              </div>

              <div class="card-footer">
                <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="runLoading" />
                <button class="btn btn-sm btn-success" type="button" @click="getCronStatus()"><i class="fa fa-search"></i> Search Failed Cron Hub Ids</button>
                &nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;
                <button class="btn btn-sm btn-primary" type="button" @click="cronSubmit()"><i class="fa fa-dot-circle-o"></i> Run Cron</button>
                <button class="btn btn-sm btn-danger" @click="resetCron()" type="reset"><i class="fa fa-ban"></i> Clear</button><br>
                <small class="text-muted">Note: * For Search Failed Cron Hub Ids, no need to fill 'Cron Hub Ids' input field & For Run Cron, no need to fill 'Cron Date' input field.</small>
              </div>
            </form>
          </div>
        </b-collapse>
        <div class="card-body">
          <table class="table-bordered table-hover tbl datatables" style="width:100%;">
            <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="cronLoading" />
            <thead>
              <tr class="text-primary">
                <th class="text-center tableheader"><b>Failed Cron Hub Ids</b>&nbsp;&nbsp;<span style="font-size:13px;"><b>({{cronrundate}})</b></span></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="cronDiffCount==0">
                <td align="center">All cron records found</td>
              </tr>
              <tr v-if="cronDiffCount>0">
                <td class="text-center">{{cronDiffList}}</td>
              </tr>
            </tbody>
          </table>

          <table class="table-bordered table-hover tbl datatables" style="width:100%; margin-top: 2%;">
            <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="hubidLoading" />
            <thead>
              <tr class="text-primary">
                <th class="text-center tableheader"><b>All Cron Hub Ids</b>&nbsp;&nbsp;<span style="font-size:13px;"><b>({{hubarrlength}})</b></span></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="hubarrlength==0">
                <td align="center">No record found</td>
              </tr>
              <tr v-if="hubarrlength>0">
                <td class="text-center">{{hubidarr}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-2">
      <div class="card">
        <div v-if="ShowHideFilter==0" @click = "ShowHideFilter = '1'" class="card-header filter_main" style="cursor: pointer;">
          <i class="fa fa-plus plus"></i> AWB Difference Search
        </div>
        <div v-if="ShowHideFilter==1" @click = "ShowHideFilter = '0'" class="card-header filter_main" style="cursor: pointer;">
          <i class="fa fa-minus minus"></i> AWB Difference Search
        </div>
        <b-collapse v-bind:class="`${ShowHideFilter == '1' ? 'show' : 'hide'}`" id="collapse1">
          <div class="card-body">
            <form  v-on:submit.prevent="onSubmit">
              <div class="form-group row">
                <div class="col-md-4">
                  <label>Delivery Date <font color="red">*</font></label>
                  <b-input-group left="<i class='fa fa-calendar'></i>" style="height: 45px;">
                    <b-form-input id="deliverydate" type="date" name="deliverydate" v-validate="{required: true}"
                    v-model="deliverydate" v-bind:class="{'form-control': true, 'error': errors.has('deliverydate') }"></b-form-input>
                  </b-input-group>
                  <span v-show="errors.has('deliverydate')" class="text-danger">Delivery date is required. </span>
                </div>

                <div class="col-md-4">
                  <label>Zone</label>
                  <b-input-group left="<i class='fa fa-list'></i>" style="height: 44px;">
                    <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="allZoneLoading" />
                    <select name="zone" id="zone" class="form-control" v-model="zone" v-on:change="getHubData" style="height: 44px;">
                      <option value="">--Select--</option>
                      <option v-for="zone_obj in zoneList" v-bind:value="zone_obj.hubzoneid" >{{zone_obj.hubzonename}}</option>
                    </select>
                  </b-input-group>
                </div>

                <div class="col-md-4">
                  <label>Hub Name</label>
                  <b-input-group left="<i class='fa fa-list'></i>">
                    <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="hubLoading" />
                    <Multiselect :options="hubList" name="HubId" id="HubId" v-model="HubId" placeholder="Select Hub" label="HubName" track-by="HubID" :optionHeight="100" :hide-selected="true" style="border: 1px solid #c2cfd6;z-index:999">
                       <template slot="noResult"><p>No Record Found.</p></template>
                    </Multiselect>
                  </b-input-group>
                  <span class="text-danger">Note: Please select Hub Name after Zone.</span>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label>Hub Ids to Check AWB Difference</label>
                  <b-input-group>
                    <textarea rows="2" name = "awbhubids" id="awbhubids" ref="textarea" v-model="awbhubids" placeholder="Enter Hub Ids..." v-bind:class="{'form-control': true}"></textarea>
                  </b-input-group>
                  <small class="text-muted"><font color="red">Note: * Only accept comma (,) separated hub ids.</font></small>
                </div>
              </div>

              <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                <button class="btn btn-sm btn-danger" @click="resetForm()" type="reset"><i class="fa fa-ban"></i> Clear</button>
              </div>
            </form>
          </div>
        </b-collapse>
      </div>
    </div>

    <div class="col-12" v-if="awbhubids">
      <div class="card-headerfrm" style="margin-bottom: 15px;">
        <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;SU & DB Result Count For Multiple Hubs&nbsp;&nbsp;<span style="font-size:13px;"><b>({{allddate}})</b></span></h4>
        <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
        <table class="table-bordered table-hover tbl datatables" style="width:100%;">
          <thead>
            <tr class="text-primary">
              <th colspan="2" class="text-center tableheader"><b>SU & DB AWB Number Count For Multiple Hubs</b></th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="allSUList">
              <td class="text-center"><strong>SU</strong></td>
              <td class="text-center">COD Count:&nbsp;&nbsp;{{allSUList.SUtotal}},
                &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;&nbsp;&nbsp;Cash Count:&nbsp;&nbsp;{{allSUList.SUcashCnt}},
                &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;&nbsp;&nbsp;Card Count:&nbsp;&nbsp;{{allSUList.SUcardCnt}},
                &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;&nbsp;&nbsp;Payphi Count:&nbsp;&nbsp;{{allSUList.SUpayphiCnt}},
                &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;&nbsp;&nbsp;Wallet Count:&nbsp;&nbsp;{{allSUList.SUwalletCnt}}
              </td>
            </tr>
            <tr v-if="allDBList">
              <td class="text-center"><strong>DB</strong></td>
              <td class="text-center">COD Count:&nbsp;&nbsp;{{allDBList.DBTotalCODCnt}},
                &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;&nbsp;&nbsp;Cash Count:&nbsp;&nbsp;{{allDBList.DBCODcashCnt}},
                &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;&nbsp;&nbsp;Card Count:&nbsp;&nbsp;{{allDBList.DBCODcardCnt}},
                &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;&nbsp;&nbsp;Payphi Count:&nbsp;&nbsp;{{allDBList.DBCODpayphiCnt}},
                &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;&nbsp;&nbsp;Wallet Count:&nbsp;&nbsp;{{allDBList.DBCODwalletCnt}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
     </div>

     <div class="col-12">
       <div class="card-headerfrm" style="margin-bottom: 15px;">
         <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp; AWB Difference Result&nbsp;&nbsp;<span style="font-size:13px;"><b>({{HubNm}}&nbsp;&nbsp;:&nbsp;&nbsp;{{closuredate}})</b></span></h4>
         <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
         <table class="table-bordered table-hover tbl datatables" style="width:100%;">
           <thead>
             <tr class="text-primary">
               <th colspan="2" class="text-center tableheader"><b>AWB Number Count & Amount</b></th>
             </tr>
           </thead>
           <tbody>
             <tr v-if="resultDiffCount==0">
               <td colspan="2" align="center">No record found</td>
             </tr>
             <tr v-if="resultDiffCount>0">
               <td class="text-center"><strong>COD Difference</strong></td>
               <td class="text-center">Difference Count:&nbsp;&nbsp;{{DiffList.TotalCODdiffCnt}},&nbsp;&nbsp;<b>||</b>&nbsp;&nbsp;Difference Amount:&nbsp;&nbsp;{{DiffList.CODdiffAmt}}</td>
             </tr>
             <tr v-if="resultDiffCount>0">
               <td class="text-center"><strong>COD AWB No</strong></td>
               <td class="text-center">{{DiffList.CODdiffArr}}</td>
             </tr>
           </tbody>
         </table>
       </div>
      </div>

      <div class="col-12" v-if="resultSUCount>0 || resultDBCount>0">
        <div class="card-headerfrm" style="margin-bottom: 15px;">
          <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;SU & DB Result Count&nbsp;&nbsp;<span style="font-size:13px;"><b>({{HubNm}}&nbsp;&nbsp;:&nbsp;&nbsp;{{closuredate}})</b></span></h4>
          <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
          <table class="table-bordered table-hover tbl datatables" style="width:100%;">
            <thead>
              <tr class="text-primary">
                <th colspan="2" class="text-center tableheader"><b>SU & DB AWB Number Count & Amount</b></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="resultSUCount>0">
                <td class="text-center"><strong>SU</strong></td>
                <td class="text-center">COD Count:&nbsp;&nbsp;{{SUList.TotalCODCnt}},
                  &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;Cash Count:&nbsp;&nbsp;{{SUList.CODcashCnt}},&nbsp;&nbsp;Cash Amount:&nbsp;&nbsp;{{SUList.CODCashAmt}},
                  &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;Card Count:&nbsp;&nbsp;{{SUList.CODcardCnt}},&nbsp;&nbsp;Card Amount:&nbsp;&nbsp;{{SUList.CODcardAmt}},
                  &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;Payphi Count:&nbsp;&nbsp;{{SUList.CODpayphiCnt}},&nbsp;&nbsp;Payphi Amount:&nbsp;&nbsp;{{SUList.CODpayphiAmt}},
                  &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;Wallet Count:&nbsp;&nbsp;{{SUList.CODwalletCnt}},&nbsp;&nbsp;Wallet Amount:&nbsp;&nbsp;{{SUList.CODwalletAmt}},
                  &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;Prepaid Count:&nbsp;&nbsp;{{SUList.CODprepaidCnt}}
                </td>
              </tr>
              <tr v-if="resultDBCount>0">
                <td class="text-center"><strong>DB</strong></td>
                <td class="text-center">COD Count:&nbsp;&nbsp;{{DBList.DBTotalCODCnt}},
                  &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;Cash Count:&nbsp;&nbsp;{{DBList.DBCODcashCnt}},&nbsp;&nbsp;Cash Amount:&nbsp;&nbsp;{{DBList.DBCODCashAmt}},
                  &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;Card Count:&nbsp;&nbsp;{{DBList.DBCODcardCnt}},&nbsp;&nbsp;Card Amount:&nbsp;&nbsp;{{DBList.DBCODcardAmt}},
                  &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;Payphi Count:&nbsp;&nbsp;{{DBList.DBCODpayphiCnt}},&nbsp;&nbsp;Payphi Amount:&nbsp;&nbsp;{{DBList.DBCODpayphiAmt}},
                  &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;Wallet Count:&nbsp;&nbsp;{{DBList.DBCODwalletCnt}},&nbsp;&nbsp;Wallet Amount:&nbsp;&nbsp;{{DBList.DBCODwalletAmt}},
                  &nbsp;&nbsp;<b style="font-size: large;">||</b>&nbsp;&nbsp;Prepaid Count:&nbsp;&nbsp;{{DBList.DBCODprepaidCnt}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>

      <div class="col-12">
        <div class="card-headerfrm" style="margin-bottom: 15px;">
          <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp; Shipment Update Result&nbsp;&nbsp;<span style="font-size:13px;"><b>({{HubNm}}&nbsp;&nbsp;:&nbsp;&nbsp;{{closuredate}})</b></span></h4>
          <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
          <table class="table-bordered table-hover tbl datatables" style="width:100%;">
            <thead>
              <tr class="text-primary">
                <th colspan="2" class="text-center tableheader"><b>AWB Numbers</b></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="resultSUCODCount==0">
                <td colspan="2" align="center">No record found</td>
              </tr>

              <tr v-if="SUList.CODcashCnt>0">
                <td class="text-center"><strong>Cash</strong></td>
                <td class="text-center">{{SUList.cashArr}}</td>
              </tr>
              <tr v-if="SUList.CODcardCnt>0">
                <td class="text-center"><strong>Card</strong></td>
                <td class="text-center">{{SUList.cardArr}}</td>
              </tr>
              <tr v-if="SUList.CODpayphiCnt>0">
                <td class="text-center"><strong>Payphi</strong></td>
                <td class="text-center">{{SUList.payphiArr}}</td>
              </tr>
              <tr v-if="SUList.CODwalletCnt>0">
                <td class="text-center"><strong>Wallet</strong></td>
                <td class="text-center">{{SUList.walletArr}}</td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>

       <div class="col-12">
         <div class="card-headerfrm" style="margin-bottom: 15px;">
           <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp; DB Result&nbsp;&nbsp;<span style="font-size:13px;"><b>({{HubNm}}&nbsp;&nbsp;:&nbsp;&nbsp;{{closuredate}})</b></span></h4>
           <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
           <table class="table-bordered table-hover tbl datatables" style="width:100%;">
             <thead>
               <tr class="text-primary">
                 <th colspan="2" class="text-center tableheader"><b>AWB Numbers</b></th>
               </tr>
             </thead>
             <tbody>
               <tr v-if="resultDBCount==0">
                 <td colspan="6" align="center">No record found</td>
               </tr>

               <tr v-if="DBList.DBCODcashCnt>0">
                 <td class="text-center"><strong>Cash</strong></td>
                 <td class="text-center">{{DBList.DBcashArr}}</td>
               </tr>
               <tr v-if="DBList.DBCODcardCnt>0">
                 <td class="text-center"><strong>Card</strong></td>
                 <td class="text-center">{{DBList.DBcardArr}}</td>
               </tr>
               <tr v-if="DBList.DBCODpayphiCnt>0">
                 <td class="text-center"><strong>Payphi</strong></td>
                 <td class="text-center">{{DBList.DBpayphiArr}}</td>
               </tr>
               <tr v-if="DBList.DBCODwalletCnt>0">
                 <td class="text-center"><strong>Wallet</strong></td>
                 <td class="text-center">{{DBList.DBwalletArr}}</td>
               </tr>
             </tbody>
           </table>
         </div>
      </div>
  </div>
</section>
