<section class="user">
  <div class="animated fadeIn">
    <div class="col-md-12 mb-2">
      <div class="card" >
        <div v-if="AddEditBankHoliday==0" @click = "AddEditBankHoliday = '1'" class="card-header filter_main" style="cursor: pointer;">
          <i class="fa fa-plus plus"></i>Add / Edit Bank Holiday List
        </div>
        <div v-if="AddEditBankHoliday==1" @click = "AddEditBankHoliday = '0'" class="card-header filter_main" style="cursor: pointer;">
          <i class="fa fa-minus minus"></i>Add / Edit Bank Holiday List
        </div>
        <b-collapse v-bind:class="`${AddEditBankHoliday == '1' ? 'show' : 'hide'}`" id="collapse1">
          <div class="card-body">
            <form v-on:submit.prevent="onSubmit" id="formSubmit" name="formSubmit">
              <div class="form-group row">
                <div class="col-md-4">
                  <label>Bank Holiday Occasion</label>
                  <b-input-group left="<i class='fa fa-list'></i>">
                    <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="holyLoading" />
                    <select name="holidayid" id="holidayid" class="form-control" v-model="holidayid" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('holidayid') }">
                      <option value="">--Select--</option>
                      <option v-for="holiday_obj in listholidayData" v-bind:title="holiday_obj.HolidayName" v-bind:value="holiday_obj.HolidayMasterId" >{{holiday_obj.HolidayName}}</option>
                    </select>
                  </b-input-group>
                  <span v-show="errors.has('holidayid')" class="text-danger">Please select bank holiday occasion.</span>
                </div>

                <div class="col-md-4">
                  <label>Date</label>
                  <b-input-group left="<i class='fa fa-calendar'></i>">
                    <b-form-input id="holidayDate" type="date" name="holidayDate" v-validate="{required: true}"
                    v-model="holidayDate" v-bind:class="{'form-control': true, 'error': errors.has('holidayDate') }"></b-form-input>
                  </b-input-group>
                  <span v-show="errors.has('holidayDate')" class="text-danger">Please select holiday date. </span>
                  <span id="fdate" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                  <label>Status</label>
                  <b-input-group left="<i class='fa fa-list'></i>">
                    <select name="status" id="status" class="form-control" v-model="status">
                      <option value="1">Active</option>
                      <option value="0">Inactive</option>
                    </select>
                  </b-input-group>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-primary" name="submit" id="submit" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button class="btn btn-sm btn-danger" @click="resetForm" type="reset"><i class="fa fa-ban"></i> Clear</button>
              </div>
            </form>
          </div>
        </b-collapse>
      </div>
    </div>

    <div class="col-md-12 mb-2">
      <div class="card-headerfrm" style="margin-bottom: 15px;">
        <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;Result</h4>
        <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
        <table class="table-bordered table-hover tbl datatables" style="width:100%;">
          <thead>
            <tr class="text-primary">
              <th class="text-center tableheader"><b>#</b></th>
              <th class="text-center tableheader"><b>Bank Holiday Occasion</b></th>
              <th class="text-center tableheader"><b>Day</b></th>
              <th class="text-center tableheader"><b>Date {{year}}</b></th>
              <th class="text-center tableheader"><b>Action</b></th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="resultCount==0">
              <td colspan="6" align="center">No record found</td>
            </tr>
            <tr v-if="resultCount>0 && saturdayDates">
              <td scope="row" class="text-center"><strong>1</strong></td>
              <td class="text-center">Non Working Saturday</td>
              <td class="text-center">Saturday</td>
              <td class="text-center">{{saturdayDates}}</td>
              <td class="text-center">&nbsp;</td>
            </tr>
            <tr v-if="resultCount>0 && sundayDates">
              <td scope="row" class="text-center"><strong>2</strong></td>
              <td class="text-center">All Sunday</td>
              <td class="text-center">Sunday</td>
              <td class="text-center">{{sundayDates}}</td>
              <td class="text-center">&nbsp;</td>
            </tr>
            <tr v-for="(data,index) in listBankHolidayData">
              <td scope="row" class="text-center"><strong>{{index+3}}</strong></td>
              <td class="text-center">{{data.HolidayMasterName}}</td>
              <td class="text-center">{{data.HolidayDay}}</td>
              <td class="text-center">{{data.HolidayfDate}}</td>
              <td class="text-center"><i @click.prevent="getBankHolidayRowData(data, resultCount), AddEditBankHoliday='1', scrollWin()" class="fa fa-edit text-successedit fa-lg mt-2 ml-3" style="cursor: pointer;"></i></td>
            </tr>
          </tbody>
        </table><br>
        <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
        </paginate>
      </div>
    </div>
  </div>
</section>
