<section class="user">
    <div class="col-md-12 mb-2">
        <div class="card">
            <div v-if="Search==1" @click="Search = '0'" class="card-header filter_main" style="cursor: pointer;">

                <i class="fa fa-plus plus"></i> COD Remittance
            </div>
            <div v-if="Search==0" @click="Search = '1'" class="card-header filter_main" style="cursor: pointer;">
                <i class="fa fa-minus minus"></i> COD Remittance
            </div>
            <b-collapse v-bind:class="`${Search == '0' ? 'show' : 'hide'}`" id="collapse1" visible>
                <div class="card-body">
                    <div class="form-group row">

                        <b-form-fieldset class="col-12">
                            <b-form-radio @input="changeRadio(selected)" name="searchview" id="searchview" :plain="true" :options="options" v-model="selected"></b-form-radio>
                            <span id="opt" class="text-danger"></span>
                            <hr style="margin-top: 0rem; margin-bottom: 0rem;">
                        </b-form-fieldset>

                        <div class="col-md-5">
                            <label>Client Name <font color="red">*</font></label>
                            <b-input-group left="<i class='fa fa-list'></i>">
                                <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="clientLoading" />
                                <Multiselect :options="ClientAccountList" name="Client" id="Client" v-model="Client" placeholder="Select Client" label="AccountName" track-by="AccountId" :data-ClientId="ClientId" :optionHeight="100" :hide-selected="true" style="border: 1px solid #c2cfd6;">
                                    <template slot="noResult">
                                    <p>No Record Found.</p>
                                </template>
                                </Multiselect>
                                <!-- <dynamic-multi-select 
                                :options="ClientAccountList"
                                option-value="AccountId"
                                option-text="AccountName"
                                placeholder="type to search"
                                v-model="Client" /> -->
                            </b-input-group>
                            <span id="clienterr" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" @click="onSearch" type="submit"><i class="fa fa-search"></i> Search</button>
                        <button class="btn btn-sm btn-danger" @click="resetSearch" type="reset"><i class="fa fa-ban"></i> Clear</button>
                    </div>
                </div>
            </b-collapse>
        </div>
    </div>

    <div class="animated fadeIn">
        <b-modal ref="myModalRef" v-model="modalShow" id=#confirmationmodal title="Confirmation">
            <div role="document">
                <div class="modal-content">
                    <div class="modal-headerfrm">
                        <h5 class="modal-title">Remittance Alert</h5>
                        <button type="button" class="close" @click="closeModal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
                    </div>
                    <div class="modal-bodyfrm">
                        <h5 style="font-size:1rem; color:red; line-height: 1.5 !important;">{{ofd}}</h5>
                    </div>
                    <div class="modal-footerfrm">
                        <center><button type="button" @click="modalShow = false" class="btn btn-success" style="background-color: #20a8d8;">OK</button></center>
                    </div>
                </div>
            </div>
        </b-modal>

        <div class="col-12">
            <div class="card-headerfrm datechecker" style="margin-bottom: 15px;">
                <h4 class="header col-2"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;Result
                    <span v-if="notApproved==2 && resultCounts>0" style="margin-left: 649%; cursor: pointer;" @click="exportDelivaryDate()">
                    <button class="btn btn-sm btn-success" type="button" style=" margin-top: -22px;">
                    <vue-element-loading spinner="mini-spinner" color="#FF6700" />
                    <i class="fa fa-download"></i> Export
                    </button>
                 </span>
                </h4>

                <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
                <table v-if="notApproved==1" class="table-bordered table-hover tbl datatables scrolltb" style="width:100%;">
                    <thead>
                        <tr class="text-primary">
                            <th class="text-center tableheader"><b>#</b></th>
                            <th class="text-center tableheader"><b>From Date</b></th>
                            <th class="text-center tableheader"><b>To / Delivery Date</b></th>
                            <th class="text-center tableheader"><b>Client</b></th>
                            <th class="text-center tableheader"><b>Remittance Type</b></th>
                            <th class="text-center tableheader"><b>Shipment Count</b></th>
                            <th class="text-center tableheader"><b>COD Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                            <th class="text-center tableheader"><b>Freight Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                            <th class="text-center tableheader"><b>Exception Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                            <th class="text-center tableheader"><b>Payable Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                            <th class="text-center tableheader"><b>Action</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="resultCount==0">
                            <td colspan="12" align="center">No record found</td>
                        </tr>
                        <tr v-if="resultCount>0" v-for="(data,index) in listPendingRemittanceData" v-bind:data-clientids="data.AccountId">
                            <td scope="row" class="text-center"><strong>{{pageno+index+1}}</strong></td>
                            <td>
                                <b-form-input type="hidden" v-model="form.oldFromDate[data.AccountId]" v-bind:name="setid('oldFromDate', data.AccountId)" v-bind:id="setid('oldFromDate', data.AccountId)"></b-form-input>

                                <b-input-group :data-fromids="'fromids'+data.AccountId" :data-fromdates="data.FromDate" left="<i class='fa fa-calendar'></i>" title="Change From Date">
                                    <b-form-input :data-fromdates="'fromdates'+data.AccountId" disabled @change="onChangeDate(form.FromDate[data.AccountId], form.toDate[data.AccountId], data.ClientId,data.AccountId,data.CompanyName,data.RemittanceType)" type="date" v-model="form.FromDate[data.AccountId]"
                                        v-bind:name="setid('FromDate', data.AccountId)" v-bind:id="setid('FromDate', data.AccountId)" class="form-control"></b-form-input>
                                </b-input-group>
                                <span v-bind:id="setid('fdate', data.AccountId)" class="text-danger"></span>
                            </td>
                            <td>
                                <b-input-group :data-toids="'toids'+data.AccountId" :data-dates="data.ToDate" left="<i class='fa fa-calendar'></i>" title="Change To / Delivery Date">
                                    <b-form-input :data-todates="'todates'+data.AccountId" @change="onChangeDate(form.FromDate[data.AccountId], form.toDate[data.AccountId], data.ClientId,data.AccountId,data.CompanyName,data.RemittanceType)" type="date" v-model="form.toDate[data.AccountId]"
                                        v-bind:name="setid('toDate', data.AccountId)" v-bind:id="setid('toDate', data.AccountId)" class="form-control"></b-form-input>
                                </b-input-group>
                                <span v-bind:id="setid('tdate', data.AccountId)" class="text-danger"></span>
                            </td>
                            <td :data-comp="'comp'+pageno+index+1" :data-comps="'comps'+data.AccountId" :data-compname="data.CompanyName">{{data.CompanyName}}</td>
                            <td :data-remi="'remi'+data.AccountId">{{data.RemittanceType}}</td>
                            <td :data-ship="'ship'+data.AccountId">{{data.ShipmentCount}}</td>
                            <td :data-cod="'cod'+data.AccountId">{{data.CODAmount}}</td>
                            <td :data-foregi="'foregi'+data.AccountId">{{data.FreightAmount}} </td>
                            <td><span :data-excep="'excep'+data.AccountId" @click="showReasonAWBNo(data.ExceptionAWB)" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;" v-if="data.ExceptionAWB.length>0">{{data.ExceptionAmount}}</span>
                                <span v-if="data.ExceptionAWB.length<=0">{{data.ExceptionAmount}}</span>
                            </td>
                            <td :data-pay="'pay'+data.AccountId">{{data.PayableAmount}}</td>
                            <td>
                                <button class="btn btn-sm btn-success" title="Edit" v-if="data.RemittanceType == 'Hybrid' && selected == 'AdHoc'" @click="enableResponse=true;editFreightAmount(data.FromDate, data.ToDate, data.ClientId, data.AccountId, data.CompanyName);" ><i class="fa fa-pencil" ></i> Edit</button>
                                <button :data-remittbtn="'remittbtn'+data.AccountId" v-if="recordType=='tatoverdue' && data.PayableAmount>0 && data.IsActive" class="btn btn-sm btn-primary" @click="onRemittance(form.FromDate[data.AccountId], form.toDate[data.AccountId], data)" title="Remit Client"><i class="fa fa-dot-circle-o"></i> Remit</button>
                                <button :data-remittbtn="'remittbtn'+data.AccountId" v-if="recordType=='adhoc' && data.PayableAmount>0 && data.IsActive" class="btn btn-sm btn-primary" @click="onAdHoctance(form.FromDate[data.AccountId], form.toDate[data.AccountId], data)" title="Remit Client"><i class="fa fa-dot-circle-o"></i> Remit</button>
                                <button :data-remittbtn="'remittbtn'+data.AccountId" v-if="data.PayableAmount>0" @click="exportData(data.FromDate,data.ClientId,data.AccountId,data.CompanyName)" class="btn btn-sm btn-danger" title="Download Remittance Report" type="button" style="width: 50px;"><i class="fa fa-download"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br v-if="notApproved==1 && resultCount>0">
                <paginate v-if="notApproved==1 && resultCount>1" :page-count="pagecount" :page-range="3" :margin-pages="3" :click-handler="getPaginationManulaData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
                </paginate>

                <table v-if="notApproved==2" class="table-bordered table-hover tbl datatables " style="width:100%;">
                    <thead>
                        <tr class="text-primary">
                            <th class="text-center tableheader"><b>#</b></th>
                            <th class="text-center tableheader"><b>Company Name</b></th>
                            <th class="text-center tableheader"><b>Remittance Type</b></th>
                            <th class="text-center tableheader"><b>Remittance Id</b></th>
                            <th class="text-center tableheader"><b>Cycle</b></th>
                            <th class="text-center tableheader"><b>Shipment Count</b></th>
                            <th class="text-center tableheader"><b>COD Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                            <th class="text-center tableheader"><b>Freight Amount <br>( <i class="fa fa-rupee"></i> )</b></th>

                            <th class="text-center tableheader"><b>Exception Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                            <th class="text-center tableheader"><b>Paid Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                            <th class="text-center tableheader"><b>Transaction<br> Date</b></th>
                            <th class="text-center tableheader"><b>UTR #</b></th>
                            <th class="text-center tableheader"><b>Action</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="resultCounts==0">
                            <td colspan="12" align="center">No record found</td>
                        </tr>
                        <tr v-if="resultCounts>0" v-for="(data,index) in listPendingRemittanceDatas" v-bind:data-clientids="data.ClientId">
                            <td scope="row" class="text-center"><strong>{{pageno+index+1}}</strong></td>

                            <td>{{data.CompanyName}}</td>
                            <td>{{data.RemittanceType}}</td>
                            <td>{{data.clientremittedid}}</td>
                            <td>{{data.Cycle}}</td>
                            <td>{{data.ShipmentCount}}</td>
                            <td>{{data.CODAmount}}</td>
                            <td>{{data.FreightAmount}}</td>

                            <td class="text-center">
                                <span v-if="data.ExceptionAmount >0" @click="showReasonAWBNo(data.ExceptionAWB)" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;">{{data.ExceptionAmount}}</span>
                                <span v-if="data.ExceptionAmount <=0">{{data.ExceptionAmount}}</span>
                            </td>
                            <td>{{data.PaidAmount}}</td>
                            <td>{{format_date(data.transactiondate)}}</td>
                            <td class="text-center">
                                <span v-if="data.UTRNo!==''" @click="PopUp(data)" style="cursor: pointer;text-decoration: underline;" title="Update URT">{{data.UTRNo}}</span>
                                <label v-if="data.UTRNo==''" @click="PopUp(data)" style="cursor: pointer; font-size: 16px;  font-weight: 500;" title="Add URT">
                                  <i class="fa fa-plus-circle"></i>
                                </label>
                            </td>
                            <td><button class="btns" @click="deleteRemittance(data.AccountId,data.clientremittedid,data.transactiondate,data.ShipmentCount)" title="Delete"
                                                        style="margin-left: 6px; background-color: rgb(248, 6, 6);"
                                                        ><i
                                                            class="fa fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
                <br v-if="notApproved==2 && resultCounts>0">
                <paginate v-if="notApproved==2 && resultCounts>1" :page-count="pagecount" :page-range="3" :margin-pages="3" :click-handler="getPaginationDelivaryData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
                </paginate>
            </div>
        </div>
        <b-modal size="vsm" id="bv-modal-example" v-model="enableResponse" style="border-radius: 5px;"
    :no-enforce-focus="true">
    <div class="col-lg-12" id="printPoContent" v-show="enableResponse">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div id="app" style="margin-top: 50px;">
      <label>Freight Amount</label>
      <b-input-group>
        <input type="number" id="freightamnt" min="0" name="freightamnt" v-model="freightamnt" placeholder="Enter Freight Amount" v-validate="{required: true}" v-bind:class="{'form-control': true, 'error': errors.has('freightamnt') }">
    </b-input-group>
    <button type="button" aria-label="Close" @click="updateFreightAmount();" class="btn btn-success btn-sm mt-4"
    >Update</button>
    <button type="button" aria-label="Close" @click="resetFreight();"  class="btn btn-danger btn-sm mt-4"
    >Reset</button>
    </div>
    <button type="button" aria-label="Close" id="closePop" @click="enableResponse=false;" style="margin-left: 200px;" class="btn btn-danger btn-sm mt-4"
    >Close</button>
    </div>
    </div>
    </div>
    </b-modal>
        <b-modal v-model="FCModal" @ok="FCModal = false" ref="myClosureModalRef">
            <div role="document">
                <div class="modal-content">
                    <div class="modal-bodyfrm">
                        <form id="FCform" v-on:submit.prevent="onUpdate('abc')">
                            <div class="form-group">
                                <b-card>
                                    <div slot="header">
                                        <span class="mdltitle">UTR Details <font color="red">*</font></span>
                                        <button type="button" aria-label="Close" @click="closeModal" class="close">×</button>
                                    </div>
                                    <fieldset>
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <b-form-fieldset>
                                                    <b-input-group>
                                                        <input type="text" id="utrno" name="utrno" v-model="utrno" placeholder="Enter UTR Number" v-validate="{required: true}" v-bind:class="{'form-control': true } " >
                                                    </b-input-group>
                                                    <span id="utrnoerr" class="text-danger" style="display:none;">UTR number is required. </span>
                                                </b-form-fieldset>
                                            </div>
                                        </div>
                                        <div class="rolefooter form-actions">
                                            <b-button class="btn btn-success" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
                                            <b-button type="button" class="btn btn-danger" @click="closeModal">Cancel</b-button>
                                        </div>
                                    </fieldset>
                                </b-card>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </b-modal>
        <b-modal ref="myReasonModalRef" v-model="ReasonModalShow" id=#confirmationmodal2 title="Confirmation">
            <div role="document">
                <div class="modal-content" style="width: 150%;">
                    <div class="modal-headerfrm">
                        <h5 class="modal-title" style="font-size: 1rem;">AWB No/Amount</h5>
                        <button type="button" class="close" @click="closeModal" aria-label="Close">
              <span aria-hidden="true" style="color: white;">×</span>
            </button>
                    </div>
                    <div class="modal-bodyfrm">
                        <table class="table-bordered table-hover tbl datatables" style="width:100%;">
                            <thead>
                                <tr class="text-primary">
                                    <th class="text-center tableheader" style="width: 1%"><b>#</b></th>
                                    <th class="text-center tableheader" style="width:50%"><b>AWB Number</b></th>
                                    <th class="text-center tableheader" style="width:40%"><b>Amount ( <i class="fa fa-rupee"></i> )</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="DisputeArr.length<=0">
                                    <td colspan="3" align="center">No record found</td>
                                </tr>
                                <tr v-for="(val,index) in DisputeArr">
                                    <td class="text-center" style="width: 1%">{{index+1}}</td>
                                    <td class="text-center" style="width: 50%">{{val.awb}}</td>
                                    <td class="text-center" style="width: 40%">{{val.Amount}}</td>
                                </tr>
                                <tr>
                                    <td class="text-center" style="width: 1%"></td>
                                    <td class="text-center" style="width: 50%"><b>Total</b></td>
                                    <td class="text-center" style="width: 40%"><b>{{totalSum}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </b-modal>
        <b-modal ref="myConfModalRef" v-model="confModalShow" id=#confirmationmodal title="Confirmation">
            <div role="document">
                <div class="modal-content">
                    <div class="modal-headerfrm">
                        <h5 class="modal-title" style="font-size: 1rem;">Confirmation</h5>
                        <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
                    </div>
                    <div class="modal-bodyfrm">
                        <h5 style="font-size: 15px; padding: 10px; color:red;">Are you sure?, you want to remit this record.</h5>
                    </div>
                    <div class="modal-footerfrm">
                        <center>
                            <button type="button" @click="hideConfModal('0')" class="btn btn-success" style="background-color: #20a8d8;">Ok</button>
                            <button type="button" @click="hideConfModal('1')" class="btn btn-danger" style="background-color: #f86c6b;">Cancel</button>
                        </center>
                    </div>
                </div>
            </div>
        </b-modal>
    </div>
</section>
