.block_hgt{
  height: 95px;
}

.fnt_blk_icon{
  font-size: 30px;
}

td{
  font-size: 12px;
  font-family: Roboto;
}

.scrolltb {
  //display: block;
  overflow-x: auto;
  // white-space: nowrap;
}

.btns {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.1rem 0.3rem !important;
  font-size: 0.875rem;
  line-height: 1.25;
  transition: all 0.15s ease-in-out;
  color:#f1f1f1;
  border-radius: 8px !important;
  
}


.show{
  display: block !important;
}

.hide{
  display: none !important;
}

.text-danger {
    color: #f86c6b !important;
    font-weight: bold;
    font-size: 0.8rem;
}
