<section class="user">
  <div class="animated fadeIn">
    <div class="row">
      <b-modal ref="myModalRef" v-model="modalShow" id=#confirmationmodal title="Confirmation">
        <div role="document">
          <div class="modal-content">
            <div class="modal-headerfrm">
              <h5 class="modal-title">Clients Remittance E-Mail Confirmation</h5>
              <button type="button" class="close" @click="closeModal(false)" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <h5 style="font-size:1rem; color:red; line-height: 1.5 !important;">Do you want to proceed to send an email to selected clients ?</h5>
            </div>
            <div class="modal-footerfrm">
              <center>
                <button type="button" @click="closeModal(true)" class="btn btn-success" style="background-color: #28a745;">Proceed</button>
                <button type="button" @click="closeModal(false)" class="btn btn-danger" style="background-color: #dc3545;">Cancel</button>
              </center>
            </div>
          </div>
        </div>
      </b-modal>
    </div>
    <div class="col-md-12 mb-2">
      <div class="card">
        <div class="card-header filter_main">
          <i class=" fa fa-filter filter"></i>E-Mail Remittance
        </div>
        <div class="card-body">
          <form v-on:submit.prevent="onSubmit">

            <div class="form-group row">

              <div class="col-md-4">
                <label>From Date <font color="red">*</font></label>
                <b-input-group left="<i class='fa fa-calendar'></i>" style="height: 45px;">
                  <b-form-input id="fromDate" type="date" name="fromDate" v-validate="{required: true}" v-model="fromDate" v-bind:class="{'form-control': true, 'error': errors.has('fromDate') }"></b-form-input>
                </b-input-group>
                <span v-show="errors.has('fromDate')" class="text-danger">From date is required.</span>
                <span id="fdate" class="text-danger"></span>
              </div>
              <div class="col-md-4">
                <label>To Date <font color="red">*</font></label>
                <b-input-group left="<i class='fa fa-calendar'></i>" style="height: 45px;">
                  <b-form-input id="toDate" type="date" name="toDate" v-validate="{required: true}" v-model="toDate" v-bind:class="{'form-control': true, 'error': errors.has('toDate') }"></b-form-input>
                </b-input-group>
                <span v-show="errors.has('toDate')" class="text-danger">To date is required.</span>
              </div>

            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
              <button class="btn btn-sm btn-danger" @click="resetForm()" type="reset"><i class="fa fa-ban"></i> Clear</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card-headerfrm" style="margin-bottom: 15px;">
        <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;Client's Result
          <span title="Click to send an email with report to selected clients" v-show="isSent" style="margin-left: 80%; cursor: pointer;" @click="showModal()">
            <button v-bind:disabled="disableButton" class="btn btn-sm btn-primary velmld-parent" type="button" style="font-weight: bold;"><i class="fa fa-envelope" aria-hidden="true" style="font-size: medium;"></i> Send</button>
          </span>
        </h4>
        <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
        <table class="table-bordered table-hover tbl datatables" style="width:100%;">
          <thead>
            <tr class="text-primary">
              <th class="text-center tableheader" style="width:5%;"><b>#</b></th>
              <th class="text-center tableheader" style="width:7%;">
                <input v-if="resultCount>0" type="checkbox" v-model="checkAll" @click="check" id="checkall" name="checkall" style="margin-left: -7px;"> All
              </th>
              <th class="text-center tableheader" style="width:20%;"><b>Company Name</b></th>
              <th class="text-center tableheader" style="width:15%;"><b>Company E-Mail</b></th>
              <th class="text-center tableheader" style="width:15%;"><b>Cycle</b></th>
              <th class="text-center tableheader"><b>Transaction<br> Date</b></th>
              <th class="text-center tableheader" style="width:10%;"><b>Paid Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
              <th class="text-center tableheader"><b>UTR #</b></th>
              <th class="text-center tableheader"><b>Download</b></th>
              <th class="text-center tableheader"><b>Report</b></th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="resultCount==0">
              <td colspan="10" align="center"><b>No record found..!</b></td>
            </tr>
            <tr v-if="resultCount>0" v-for="(data,index) in listEmailRemittanceData">
              <td scope="row" class="text-center"><strong>{{pageno+index+1}}</strong></td>
              <td class="text-center"><input type="checkbox" class="checkedChild" v-if="data.EmailStatus == 'Pending'" @change='updateCheck(data)' v-bind:name="setid('ClientId', data.ClientId)" v-bind:id="setid('ClientId', data.ClientId)"
                  :value="data.ClientId" v-model="ClientArr"></td>
              <td class="text-center">{{data.CompanyName}}</td>
              <td class="text-center">{{data.EmailId}}</td>

              <td class="text-center">{{data.Cycle}}</td>
              <td class="text-center">{{format_date(data.transactiondate)}}</td>
              <td class="text-center">{{data.PaidAmount}}</td>
              <td class="text-center">{{data.UTRNo}}</td>
              <td class="text-center">
                <span><a v-bind:title='`${data.CompanyName}`' v-bind:href='`${data.filepath}`'><i class="fa fa-download" aria-hidden="true" style="font-size:20px; color:#4b8cbb; margin: 10px 10px 1px 1px;"></i></a></span>
              </td>
              <td class="text-center">
                <span style="font-size: 11px; border-radius: 5px;" v-if="data.EmailStatus == 'Pending'" class="badge badge-danger"><i class="fa fa-circle-o" aria-hidden="true"></i> Pending</span>
                <span style="font-size: 12px; border-radius: 5px;" v-if="data.EmailStatus == 'Sent'" class="badge badge-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Sent</span>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :click-handler="getPaginationData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
        </paginate>
      </div>
    </div>
  </div>
</section>
