<section class="user">
  <div class="animated fadeIn">
    <div class="col-md-12 mb-2">
      <div class="card" v-show = "AddEditClientTAT"  >
        <div class="card-header filter_main">
          <i class=" fa fa-filter filter"></i> Add Edit Client TAT
        </div>
        <div class="card-body">
          <form  v-on:submit.prevent="onSubmit">
            <div class="form-group row">
              <div class="col-md-4">
                <label>Client Name</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <Multiselect :options="ClientList" name="ClientId" id="ClientId" @input="GetClientBusinessConfigList()" v-model="ClientId" placeholder="Select Client" label="CompanyName" track-by="ClientMasterID"  v-validate="{required: true}" v-bind:class="{'error': errors.has('ClientId') }" :optionHeight="100" :hide-selected="true" style="border: 1px solid #c2cfd6;z-index:999">
                  </Multiselect>
                </b-input-group>
                <span v-show="errors.has('ClientId')" class="text-danger">Please select Client.</span>
              </div>
              <div class="col-md-4">
                <label>Bussiness Service Type</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <select name="Bussinesstype" id="Bussinesstype" class="form-control" v-on:change = "GetClientBusinessAccounts" v-model="Bussinesstype"  v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('Bussinesstype') }">
                    <option value="">--Select--</option>
                    <option v-for="Client_obj in ClientBusinessList" v-bind:value="Client_obj.ClientBusinessDetailID" >{{Client_obj.BusinessConfig}}</option>
                  </select>
                </b-input-group>
                <span v-show="errors.has('Bussinesstype')" class="text-danger">Please select Bussiness Type.</span>
              </div>

              <div class="col-md-4">
                <label>Account Name</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <select name="AccountName" id="AccountName" class="form-control" v-model="AccountName" v-on:change="getAccountDetails" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('AccountName') }">
                    <option value="">--Select--</option>
                    <option v-for="Client_obj in ClientAccountsList"  v-bind:value="Client_obj.ClientBusinessAccountId" >{{Client_obj.AccountName}}</option>
                </select>
                </b-input-group>
                <span v-show="errors.has('AccountName')" class="text-danger">Please select account name.</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-4">
                <label>Remittance Day</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <select name="RemittanceDay" id="RemittanceDay" class="form-control" v-model="RemittanceDay" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('RemittanceDay') }">
                    <option value="">--Select--</option>
                </select>
                </b-input-group>
                  <span v-show="errors.has('RemittanceDay')" class="text-danger">Please Select  Remittance Day.</span>
              </div>

              <div class="col-md-4">
                <label>TAT</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <select name="TAT" id="TAT" class="form-control" v-model="TAT" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('TAT') }">
                    <option value="">--Select--</option>
                    <option value="">T+2</option>
                    <option value="">T+3</option>
                </select>
                </b-input-group>
                <span v-show="errors.has('TAT')" class="text-danger">Please Select TAT.</span>
              </div>

              <div class="col-md-4">
                <label>Type</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <select name="bank" id="bank" class="form-control" v-model="bank">
                    <option value="">--Select--</option>
                    <option value="">Hybrid</option>
                    <option value="">Non-Hybrid</option>
                </select>
                </b-input-group>
              </div>
            </div>
           <div class="form-group row">
            <div class="col-md-4">
              <b-form-fieldset>
                <label>Beneficiary Name</label>
                <b-input-group left="<i class='fa fa-user'></i>">
                  <b-form-input :disabled="true" type="text"  name="Beneficiary" id="Beneficiary" v-model="Beneficiary" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('Beneficiary') }"></b-form-input>
                </b-input-group>
                <span v-show="errors.has('Beneficiary')" class="text-danger">Please Enter Beneficiary Name
                </span>
              </b-form-fieldset>
            </div>

            <div class="col-md-4">
              <b-form-fieldset>
                <label>Bank Name</label>
                <b-input-group left="<i class='fa fa-bank'></i>">
                  <b-form-input type="text" :disabled="true"  name="BankName" id="BankName" v-model="BankName" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('BankName') }"></b-form-input>
                </b-input-group>
                <span v-show="errors.has('BankName')" class="text-danger">Please Enter Bank Name
                </span>
              </b-form-fieldset>
            </div>
            <div class="col-md-4">
              <b-form-fieldset>
                <label>Bank Account No</label>
                <b-input-group left="<i class='fa fa-user'></i>">
                  <b-form-input type="text" :disabled="true"  name="BankAccount" id="BankAccount" v-model="BankAccount" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('BankAccount') }"></b-form-input>
                </b-input-group>
                <span v-show="errors.has('BankAccount')" class="text-danger">Please Enter Account No
                </span>
              </b-form-fieldset>
            </div>
            </div>

            <div class="form-group row">
              <div class="col-md-4">
                <label>RTGS/IFSC:</label>
                <b-input-group left="<i class='fa fa-user'></i>">
                  <b-form-input :disabled="true" id="RTGS" type="text" name="RTGS" v-model="RTGS"></b-form-input>
                </b-input-group>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> Submit</button>
              <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Clear</button>
            </div>
          </form>
        </div>
      </div>

      <div class="card">
      <div class="card-body">
        <div class="form-group row">
          <div class="col-md-4">
            <label>Client </label>
            <b-input-group left="<i class='fa fa-list'></i>">
              <Multiselect :options="ClientList" name="Client" id="Client" v-model="Client" placeholder="Select Client" label="CompanyName" track-by="ClientMasterID"  v-validate="{required: true}" v-bind:class="{'error': errors.has('Client') }" :optionHeight="100" :hide-selected="true" style="border: 1px solid #c2cfd6;z-index:999">
              </Multiselect>
            </b-input-group>
            <span v-show="errors.has('Client')" class="text-danger">Please select Client.</span>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" @click = "AddEditClientTAT = false" type="submit"><i class="fa fa-search"></i> Search</button>
        </div>
      </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card-headerfrm" style="margin-bottom: 15px;">
        <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;Mapping Result</h4>

        <table class="table-bordered table-hover tbl datatables" style="width:100%;">
          <thead>
            <tr class="text-primary">
              <th class="text-center tableheader"></th>
              <th class="text-center tableheader"><b>Company Name</b></th>
              <th class="text-center tableheader"><b>TAT</b></th>
              <th class="text-center tableheader"><b>Remittance Day</b></th>
              <th class="text-center tableheader"><b>Remittance Type</b></th>
              <th class="text-center tableheader"><b>Beneficiary Name</b></th>
              <th class="text-center tableheader"><b>Client Bank Name</b></th>
              <th class="text-center tableheader"><b>Client Account No</b></th>
              <th class="text-center tableheader"><b>NEFT No</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" @click = "AddEditClientTAT = true">
                   <b-link href="#foo">
               <i @click.prevent="getRoleRowData(data, resultCount)" class="fa fa-edit text-successedit fa-lg mt-2 ml-3"></i>
             </b-link></td>
              <td>FirstCry BussyBees</td>
              <td></td>
              <td></td>
              <td>Hybrid</td>
              <td>tertrt</td>
              <td>KOTAK MAHINDRA BANK</td>
              <td>123321232</td>
              <td>SBINO12121</td>
            </tr>
            <tr>
              <td class="text-center" @click = "AddEditClientTAT = true">
                <i @click.prevent="getRoleRowData(data, resultCount)" class="fa fa-edit text-successedit fa-lg mt-2 ml-3"></i></td>
              <td>FirstCry BussyBees</td>
              <td></td>
              <td></td>
              <td>Hybrid</td>
              <td>tertrt</td>
              <td>KOTAK MAHINDRA BANK</td>
              <td>123321232</td>
              <td>SBINO12121</td>
              </tr>
            </tr>
            <tr>
              <td class="text-center" @click = "AddEditClientTAT = true">
                <i @click.prevent="getRoleRowData(data, resultCount)" class="fa fa-edit text-successedit fa-lg mt-2 ml-3"></i></td>
              <td>FirstCry BussyBees</td>
              <td></td>
              <td></td>
              <td>Hybrid</td>
              <td>tertrt</td>
              <td>KOTAK MAHINDRA BANK</td>
              <td>123321232</td>
              <td>SBINO12121</td>
            </tr>
            </tr>
          </tbody>
        </table><br>
        <!-- <paginate :page-count="pagecount" :page-range="2" :margin-pages="2"
        :click-handler="getPaginationData"  :container-class="'pagination'">
        </paginate> -->
      </div>
    </div>
  </div>
</section>
