<section class="user">
  <div class="animated fadeIn">
    <div class="col-md-12 mb-2">
      <div class="card">
        <div class="card-header">
          <i class=" fa fa-filter filter"></i>  Select
        </div>
          <div class="card-body">
            <form v-on:submit.prevent="onSubmit">

              <div class="form-group row">
                <div class="col-md-12">
                  <div class="col-md-9 col-form-label">
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" id="inline-radio1" type="radio" value="option1" name="inline-radios">
                      <label class="form-check-label" for="inline-radio1" style="margin-right: 25px; padding-left: 0;">Add</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" id="inline-radio2" type="radio" value="option2" name="inline-radios">
                      <label class="form-check-label" for="inline-radio2" style="padding-left: 0;">Search</label>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-4">
                  <label>Hub</label>
                  <b-input-group left="<i class='fa fa-list'></i>">
                    <select name="HubId" id="HubId" class="form-control" v-model="HubId" v-validate="{required:true}" v-bind:class="{'form-control': true, 'error': errors.has('HubId') }">
                      <option value="" disabled>--Select--</option>
                      <option v-for="hub_obj in hubList" v-bind:value="hub_obj.HubID" >{{hub_obj.HubName}}</option>
                    </select>
                  </b-input-group>
                </div>

                <div class="col-md-4">
                  <label>Delivery Date</label>
                  <b-input-group left="<i class='fa fa-list'></i>">
                    <b-form-input class="form-control" id="DeliveryDate" type="date" name="DeliveryDate"  v-validate="{required:true}" v-bind:class="{'form-control': true, 'error': errors.has('DeliveryDate') }">
                    </b-form-input>
                  </b-input-group>
                  <span v-show="errors.has('DeliveryDate')" class="text-danger">{{ "Please select Delivery Date" }}</span>
                </div>
              </div>

              <div class="col-md-4" style="display:none;">
                <label>Status</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <select name="Status" id="Status" class="form-control" v-model="Status">
                    <option value="">--Select--</option>
                    <option value="">Pending</option>
                    <option value="">Approved</option>
                </select>
                </b-input-group>
              </div>

              <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Clear</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</section>
