<section class="user">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 mb-2">
        <div class="card">
          <div class="card-header filter_main">
            <i class=" fa fa-filter filter"></i> COD Remittance
          </div>
          <div class="card-body">
            <form v-on:submit.prevent="onSubmit">
              <div class="form-group row">

                <div class="col-md-5">
                  <label>Download File</label>
                  <a target="_blank" v-bind:title="exportFileTitle" v-bind:href="exportPath">
                  <b-input-group style="height: 45px;" left="<i class='fa fa-file-text'></i>">
                    <span class="form-control">
                      <span class="form-control" style="border: 0;">COD Remittance - 10 May, 2019
                        <i class='fa fa-download' style="margin-left: 10px;font-size: 18px; color: #92969D"></i>
                      </span>
                    </span>
                  </b-input-group>
                  </a>
                </div>

                <div class="col-md-5">
                  <label>Upload File</label>
                  <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="isLoading" />
                  <b-input-group style="height: 45px;" left="<i class='fa fa-file-text'></i>">
                    <input type="file"  @change="onUpload" placeholder="Upload File"  name="paymentfile" id="paymentfile" v-validate="{required: true}"
                      v-bind:class="{'form-control': true, 'error': errors.has('paymentfile') }">
                  </b-input-group>
                  <small class="text-muted"><font color="red">Note: * Only .csv files allowed to upload.</font></small>
                  <label v-show="errors.has('paymentfile')" class="text-danger">{{ "Please select File Upload " }}</label>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                <button class="btn btn-sm btn-danger" @click="resetForm" type="reset"><i class="fa fa-ban"></i> Clear</button>
                <a v-bind:href="exportPath" v-if="resultCount>0"><button class="btn btn-sm btn-success" type="button"><i class="fa fa-download"></i> Export</button></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card-headerfrm" style="margin-bottom: 15px;">
          <h4 class="header">Result</h4>
          <table class="table-bordered table-hover tbl datatables" style="width:100%;">
            <thead>
              <tr class="text-primary">
                <th class="text-center tableheader"><b>Success</b></th>
                <th class="text-center tableheader"><b>Failure</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><center><h6>{{success}}</h6></center></td>
                <td><center><b-link v-bind:href='`${s3link}`'><h6>{{failed}}</h6></b-link></center></td>
              </tr>
            </tbody>

          </table><br>
        </div>
       </div>
    </div>
  </div>
</section>
