.block_hgt{
	height: 95px;
}

.fnt_blk_icon{
	font-size: 30px;
}

td{
	font-size: 12px;
	font-family: Roboto;
}

.text-danger {
    color: #f86c6b !important;
    font-weight: bold;
    font-size: 0.8rem;
}
