<section class="user">
  <div class="animated fadeIn">
    <div class="col-md-12 mb-2">
        <div class="card">
          <div class="card-header filter_main">
            <i class=" fa fa-filter filter"></i> Change Shipment Status: 'Delivered to InScan'
          </div>
          <div class="card-body">
            <form  v-on:submit.prevent="onSubmit">
              <div class="form-group row">
                <div class="col-md-6">
                  <label>Shipment Id <font color="red">*</font></label>
                  <b-input-group>
                    <textarea rows="2" name = "shipmentid" id="shipmentid" ref="textarea" v-model="shipmentid" v-validate="{required: true}" placeholder="Enter Shipment Ids..." v-bind:class="{'form-control': true, 'error': errors.has('shipmentid') }"></textarea>
                  </b-input-group>
                  <small class="text-muted"><font color="red">Note: * Only accept comma (,) seperated shipment ids.</font></small>
                  <br>
                  <span v-show="errors.has('shipmentid')" class="text-danger">Shipment Id is required.</span>
                </div>

                <div class="col-md-3">
                  <label>Status <font color="red">*</font></label>
                  <select class="form-control" disabled id="shipmentstatus" name="shipmentstatus" v-model="shipmentstatus" v-validate="{required: true}" v-bind:class="{'form-control': true, 'error': errors.has('shipmentstatus') }" style="margin-right: -3px;">
                    <option value="1">Delivered To InScan</option>
                  </select>
                  <span v-show="errors.has('shipmentstatus')" class="text-danger">Status is required.</span>
                </div>
              </div>
              <div class="form-group row">
              </div>
              <div class="card-footer">
                <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="submitLoading" />
                <button class="btn btn-sm btn-primary" title="Check Shipment Status" @click="getShipmentReport()" type="button"><i class="fa fa-search"></i> Search</button>&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;
                <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-dot-circle-o"></i> Update</button>
                <button class="btn btn-sm btn-danger" @click="resetForm()" type="reset"><i class="fa fa-ban"></i> Clear</button>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card-headerfrm" style="margin-bottom: 15px;">
              <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp; Result</h4>
              <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="shipmentLoading" />
              <table class="table-bordered table-hover tbl datatables" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader"><b>#</b></th>
                    <th class="text-center tableheader"><b>Shipment Id</b></th>
                    <th class="text-center tableheader"><b>Status</b></th>
                    <th class="text-center tableheader"><b>Shipment Status</b></th>
                    <th class="text-center tableheader"><b>Order Type</b></th>
                    <th class="text-center tableheader"><b>Epayment Type</b></th>
                    <th class="text-center tableheader"><b>OctroiMRP <br>( <i class="fa fa-rupee"></i> )</b></th>
                    <th class="text-center tableheader"><b>Net Payment <br>( <i class="fa fa-rupee"></i> )</b></th>
                    <th class="text-center tableheader"><b>Origin Hub Name</b></th>
                    <th class="text-center tableheader"><b>Final Destination Name</b></th>
                    <th class="text-center tableheader"><b>Current Hub Name</b></th>
                    <th class="text-center tableheader"><b>Last Modified By</b></th>
                    <th class="text-center tableheader"><b>Last Modified Date</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="resultCount==0">
                    <td colspan="13" align="center">No record found</td>
                  </tr>
                  <tr v-for="(shipmentobj,index) in shipmentList">
                    <td class="text-center">{{pageno+index+1}}</td>
                    <td class="text-center">{{shipmentobj.ShippingID}}</td>
                    <td class="text-center">{{shipmentobj.Status}}</td>
                    <td class="text-center">{{shipmentobj.ShipmentStatus}}</td>
                    <td class="text-center">{{shipmentobj.OrderType}}</td>
                    <td class="text-center">{{shipmentobj.EpaymentType}}</td>
                    <td class="text-center">{{shipmentobj.OctroiMRP}}</td>
                    <td class="text-center">{{shipmentobj.NetPayment}}</td>
                    <td class="text-center">{{shipmentobj.OriginHubName}}</td>
                    <td class="text-center">{{shipmentobj.FinalDestinationHubName}}</td>
                    <td class="text-center">{{shipmentobj.CurrentHubName}}</td>
                    <td class="text-center">{{shipmentobj.LastModifiedBy}}</td>
                    <td class="text-center">{{shipmentobj.LastModifiedDate}}</td>
                  </tr>
                </tbody>
              </table><br>
              <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
              </paginate>
            </div>
         </div>
       </div>

       <b-modal ref="myConfModalRef" v-model="confModalShow" id=#confirmationmodal title="Confirmation">
         <div role="document">
           <div class="modal-content">
             <div class="modal-headerfrm">
               <h5 class="modal-title" style="font-size: 1rem;">Confirmation</h5>
               <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                 <span aria-hidden="true">×</span>
               </button>
             </div>
             <div class="modal-bodyfrm">
               <h5 style="font-size: 15px; padding: 10px; color:red;">Are you sure, you want to change shipment status from `Delivered` to `InScan`</h5>
             </div>
             <div class="modal-footerfrm">
             <center>
               <button type="button" @click = "hideConfModal('0')" class="btn btn-success" style="background-color: #20a8d8;">Ok</button>
               <button type="button" @click = "hideConfModal('1')" class="btn btn-danger" style="background-color: #f86c6b;">Cancel</button>
             </center>
             </div>
           </div>
         </div>
       </b-modal>
    </div>
  </div>
</section>
