<section>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-4">
        <b-card>
          <div slot="header">
            <strong>COD SR day Closure</strong>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">SR Name</span>
              </div>
              <select class="form-control" id="select1" name="select1">
                <option value="0">--Select--</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
              <div class="input-group-append">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Deposit Amount</span>
              </div>
              <input class="form-control" id="dep_amount" type="text" name="dep_amount">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-rupee"></i>
                </span>
              </div>
            </div>
          </div>

          <div slot="footer">
            <b-button type="submit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            <b-button type="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>
        </b-card>
        <div>
           <b-link href="#foo">Click Here for P2P Entry</b-link>
       </div>
      </div>
      <div class="col-sm-4">
        <b-card >
          <table class="table table-bordered table-striped table-sm" >
            <thead>
              <tr>
                <th>Notes</th>
                <th>Count</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="notes">2000</td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="2000" type="text" name="2000" @change="notesCount" />
                  </b-col>
                </td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="mo2000" type="text" name="note_amt" value="0" disabled />
                  </b-col></td>
              </tr>
              <tr>
                <td class="notes">500</td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="500" type="text" name="500" @change="notesCount" />
                  </b-col></td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="mo500" type="text" name="note_amt" value="0" disabled />
                  </b-col></td>
              </tr>
              <tr>
                <td class="notes">200</td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="200" type="text" name="200" @change="notesCount" />
                  </b-col></td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="mo200" type="text" name="note_amt" value="0" disabled />
                  </b-col></td>
              </tr>
              <tr>
                <td class="notes">100</td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="100" type="text" name="100" @change="notesCount" />
                  </b-col></td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="mo100" type="text" name="note_amt" value="0" disabled />
                  </b-col></td>
              </tr>
              <tr>
                <td class="notes">50</td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="50" type="text" name="50" @change="notesCount" />
                  </b-col></td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="mo50" type="text" name="note_amt" value="0" disabled /></b-col></td>
              </tr>
              <tr>
                <td class="notes">20</td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="20" type="text" name="20" @change="notesCount" />
                  </b-col></td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="mo20" type="text" name="note_amt" value="0" disabled />
                  </b-col></td>
              </tr>
              <tr>
                <td class="notes">10</td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="10" type="text" name="10" @change="notesCount" />
                  </b-col></td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="mo10" type="text" name="note_amt" value="0" disabled />
                  </b-col></td>
              </tr>
              <tr>
                <td class="notes">5</td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="5" type="text" name="5" @change="notesCount" />
                  </b-col></td>
                <td class="notes">
                  <b-col sm="10"> <b-form-input class="form-control" size="sm" id="mo5" type="text" name="note_amt" value="0" disabled />
                  </b-col></td>
              </tr>
              <tr>
                <td class="notes">2</td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="2" type="text" name="2" @change="notesCount" /></b-col></td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="mo2" type="text" name="note_amt" value="0" disabled /></b-col></td>
              </tr>
              <tr>
                <td class="notes">1</td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="1" type="text" name="1" @change="notesCount" /></b-col></td>
                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="mo1" type="text" name="note_amt" value="0" disabled /></b-col></td>
              </tr>
              <tr>
                <td class="notes"></td>
                <td class="notes">Total</td>

                <td class="notes">
                  <b-col sm="10">
                    <b-form-input class="form-control" size="sm" id="tot_amt" type="text" name="tot_amt" value="0" disabled /></b-col></td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div>

        <div class="col-sm-4">
          <b-card>
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Assign</th>
                  <th>Prepaid</th>
                  <th>Cash</th>
                  <th>Card</th>
                  <th>Wallet</th>
                  <th>NDR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>

                  <td>0</td>

                  <td>0</td>

                  <td>0</td>

                  <td>0</td>

                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </b-card>
          <b-card>
         <table>
          <tbody>
            <tr>
              <td><strong>Today's Cash Amt</strong></td>&nbsp;
              <td>9000</td>
             </tr>
           </br>
            <tr>
              <td><strong>Pending Cash Amt</strong></td>&nbsp;
              <td>0.00</td>
             </tr>
              </br>
            <tr>
              <td><strong>Total Amt</strong></td>&nbsp;
              <td>9000</td>
             </tr>
             </br>

          </tbody>
        </table>
        </b-card>
        </div>
        </div>
    </div>
    </div>
   </div>
  </div>
</section>
