<section>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-4">
        <b-card>
          <div slot="header">
            <strong>COD SR day Closure</strong>
          </div>
              <b-form-fieldset
              label="SR Name"
              :label-cols="3"
              :horizontal="true">
              <b-form-select
              :plain="true"
              :options="['Please select','Option 1', 'Option 2', 'Option 3']"
              value="Please select">
            </b-form-select>
          </b-form-fieldset>

          <b-form-fieldset
            label="Deposit Amount"
            :label-cols="3"
            :horizontal="true">
            <b-form-input type="text"></b-form-input>
          </b-form-fieldset>
          <div slot="footer">
            <b-button type="submit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            <b-button type="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>
        </b-card>
        <div>
           <b-link href="#foo">Click Here for P2P Entry</b-link>
       </div>
      </div>
      <div class="col-sm-4">
        <b-card>
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Notes</th>
                <th>Count</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2000</td>
                <td><b-form-fieldset
                  :label-cols="5"
                  :horizontal="true">
                  <b-form-input type="text"></b-form-input>
                </b-form-fieldset></td>
                <td><b-form-fieldset

                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" :disabled="true" placeholder="0"></b-form-input>
                  </b-form-fieldset></td>
              </tr>
              <tr>
                <td>500</td>
                <td><b-form-fieldset
                  :label-cols="5"
                  :horizontal="true">
                  <b-form-input type="text"></b-form-input>
                </b-form-fieldset></td>
                <td><b-form-fieldset

                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" :disabled="true" placeholder="0"></b-form-input>
                  </b-form-fieldset></td>
              </tr>
              <tr>
                <td>200</td>
                <td><b-form-fieldset
                  :label-cols="5"
                  :horizontal="true">
                  <b-form-input type="text"></b-form-input>
                </b-form-fieldset></td>
                <td><b-form-fieldset

                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" :disabled="true" placeholder="0"></b-form-input>
                  </b-form-fieldset></td>
              </tr>
              <tr>
                <td>100</td>
                <td><b-form-fieldset
                  :label-cols="5"
                  :horizontal="true">
                  <b-form-input type="text"></b-form-input>
                </b-form-fieldset></td>
                <td><b-form-fieldset

                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" :disabled="true" placeholder="0"></b-form-input>
                  </b-form-fieldset></td>
              </tr>
              <tr>
                <td>50</td>
                <td><b-form-fieldset
                  :label-cols="5"
                  :horizontal="true">
                  <b-form-input type="text"></b-form-input>
                </b-form-fieldset></td>
                <td><b-form-fieldset

                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" :disabled="true" placeholder="0"></b-form-input>
                  </b-form-fieldset></td>
              </tr>
              <tr>
                <td>20</td>
                <td><b-form-fieldset
                  :label-cols="5"
                  :horizontal="true">
                  <b-form-input type="text"></b-form-input>
                </b-form-fieldset></td>
                <td>  <b-form-fieldset

                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" :disabled="true" placeholder="0"></b-form-input>
                  </b-form-fieldset></td>
              </tr>
              <tr>
                <td>10</td>
                <td><b-form-fieldset
                  :label-cols="5"
                  :horizontal="true">
                  <b-form-input type="text"></b-form-input>
                </b-form-fieldset></td>
                <td>  <b-form-fieldset

                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" :disabled="true" placeholder="0"></b-form-input>
                  </b-form-fieldset></td>
              </tr>
              <tr>
                <td>5</td>
                <td><b-form-fieldset
                  :label-cols="5"
                  :horizontal="true">
                  <b-form-input type="text"></b-form-input>
                </b-form-fieldset></td>
                <td>  <b-form-fieldset

                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" :disabled="true" placeholder="0"></b-form-input>
                  </b-form-fieldset></td>
              </tr>
              <tr>
                <td>2</td>
                <td><b-form-fieldset
                  :label-cols="5"
                  :horizontal="true">
                  <b-form-input type="text"></b-form-input>
                </b-form-fieldset></td>
                <td>  <b-form-fieldset
                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" :disabled="true" placeholder="0"></b-form-input>
                  </b-form-fieldset></td>
              </tr>
              <tr>
                <td>1</td>
                <td><b-form-fieldset
                  :label-cols="5"
                  :horizontal="true">
                  <b-form-input type="text"></b-form-input>
                </b-form-fieldset></td>
                <td>  <b-form-fieldset
                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" :disabled="true" placeholder="0"></b-form-input>
                  </b-form-fieldset></td>
              </tr>
              <tr>
                <td></td>
                <td>Total</td>
                <td><b-form-fieldset
                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" :disabled="true" placeholder="0"></b-form-input>
                  </b-form-fieldset></td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div>

        <div class="col-sm-4">
          <b-card>
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Assign</th>
                  <th>Prepaid</th>
                  <th>Cash</th>
                  <th>Card</th>
                  <th>Wallet</th>
                  <th>NDR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>

                  <td>0</td>

                  <td>0</td>

                  <td>0</td>

                  <td>0</td>

                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </b-card>
          <b-card>
         <table>
          <tbody>
            <tr>
              <td><strong>Today's Cash Amt</strong></td>&nbsp;
              <td>9000</td>
             </tr>
           </br>
            <tr>
              <td><strong>Pending Cash Amt</strong></td>&nbsp;
              <td>0.00</td>
             </tr>
              </br>
            <tr>
              <td><strong>Total Amt</strong></td>&nbsp;
              <td>9000</td>
             </tr>
             </br>

          </tbody>
        </table>
        </b-card>
        </div>
        </div>
    </div>
    </div>
   </div>
  </div>
</section>
