<section>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12" style="margin-top: -15px;">
        <div class="card">
          <div class="card-body" style="height: 40px;">
           <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="isLoading" />
            <table class="table table-responsive-sm" style="margin-top: -27px; width: 75%;">
              <tbody>
                <tr>
                  <td>
                    <b style="font-size: 13px;">Completed SR Closure Count :</b>&nbsp;&nbsp;&nbsp;&nbsp;
                    <u @click="showSRNameModal('Completed Closure SR Name', todayClosureList)" style="cursor:pointer; color: rgb(79, 151, 39); font-size: 15px;">
                      <span class="fa-stack"><span class="fa fa-circle-o fa-stack-2x"></span><strong class="fa-stack-1x">{{closureCount}}</strong></span>
                    </u>
                  </td>
                  <td>
                    <b style="font-size: 13px;">Pending SR Closure Count :</b>&nbsp;&nbsp;&nbsp;&nbsp;
                    <u @click="showSRNameModal('Pending Closure SR Name', pendingClosureList)" style="cursor:pointer; color: rgb(221, 16, 16); font-size: 15px;">
                      <span class="fa-stack"><span class="fa fa-circle-o fa-stack-2x"></span><strong class="fa-stack-1x">{{pendingCount}}</strong></span>
                    </u>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-top: -15px;">
        <div class="card">
          <div class="card-header"><i class="fa fa-align-justify"></i> COD SR Day Closure</div>
          <div class="card-body">

            <form  v-on:submit.prevent="onSubmit">
              <div class="form-group" >
                <div class="input-group">
                  <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="srLoading" />
                  <div class="input-group-prepend">
                    <span class="input-group-text">SR Name <font color="red">&nbsp;*</font></span>
                  </div>
                  <select class="form-control" id="SR_Name" v-model="SR_Name" name="SR_Name" v-on:input="srChange"
                     v-validate="{required: true}" v-bind:class="{'form-control': true, 'error': errors.has('SR_Name') }">
                    <option value="">--Select--</option>
                    <option v-for="SR_obj in pendingClosureList"  v-bind:value="SR_obj.SRID" >{{SR_obj.SRName}}</option>
                  </select>
                </div>
                <span v-show="errors.has('SR_Name')" class="text-danger">SR name is required.</span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Deposit Amount <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control"  id="Deposit_Amount" placeholder="Deposit Amount" v-model="Deposit_Amount" type="text" name="Deposit_Amount"
                     onkeypress="return event.charCode >= 48 && event.charCode <= 57||event.keyCode == 8" v-validate="{required: true}"
                     v-bind:class="{'form-control': true, 'error': errors.has('Deposit_Amount') }" >
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-rupee"></i>
                    </span>
                  </div>
              </div>
              <span id="d_a" v-show="errors.has('Deposit_Amount')" class="text-danger">Deposit amount is required.</span>
              </div>


              <div class="form-group" v-show="Regionshow" >
                <div class="input-group">

                  <div class="input-group-prepend">
                    <span class="input-group-text">Reason <font color="red">&nbsp;*</font></span>
                  </div>
                  <select class="form-control" id="Reason" name="Reason" v-validate="`${Regionshow ? 'required' : ''}`"
                   v-model="Reason"v-bind:class="{'form-control': true, 'error': errors.has('Reason') }">
                   <option value="" >--Select--</option>
                   <option v-for="Reason_obj in ReasonList" v-bind:value="Reason_obj.ReasonsID" >{{Reason_obj.Reason}}</option>
                  </select>
                </div>
                <span v-show="errors.has('Reason')" class="text-danger">{{RemainData}} Rs is remaining amount, please select reason.</span>
              </div>

              <div class="card-footer">
                <button v-bind:disabled="disableButton" class="btn btn-sm btn-primary" type="submit">
                  <i class="fa fa-dot-circle-o"></i> Submit</button>
                <button v-bind:disabled="disableButton" class="btn btn-sm btn-danger" type="reset" @click="resetData">
                  <i class="fa fa-ban"></i> Clear</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-4" style="margin-top: -15px;">
        <div class="card">
          <div class="card-header"><i class="fa fa-align-justify"></i> Denomination <font color="red">&nbsp;*</font></div>
          <div class="card-body" style="height: 500px;">
            <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="denomLoading" />
            <table class="table table-responsive-sm" height="10">
              <thead>
                <tr>
                  <th>Notes</th>
                  <th>Count</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="data in DenominationList ">
                  <td class="notes">{{data.Denomination}}</td>
                  <td class="notes"><input class="form-control"  :id="`${data.Denomination}`" name="`${data.Denomination}`" min="0" type="number"  @change="notesCount" onkeypress="return event.charCode >= 48 && event.charCode <= 57||event.keyCode == 8"></td>
                  <td class="notes">
                    <input class="form-control" :id="`mo${data.Denomination}`"type="text" name="note_amt" value="0" disabled>
                    <input class="form-control" :id="`moi${data.Denomination}`" type="hidden" :value="`${data.DenominationID}`" disabled>
                  </td>
                </tr>
                <tr>
                  <td class="notes"></td>
                  <td class="notes"><strong>Total</strong></td>
                  <td class="notes"><input class="form-control" id="tot_amt" type="text" name="tot_amt"  v-model="tot_amt" value="0" disabled ></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-4" v-show="RightSRLedger" style="margin-top: -15px;">
        <b-card>
          <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="Loading" />
          <table class="table table-bordered table-striped table-sm" style="margin-left: -17px; border: 0px;">
            <thead>
              <tr>
                <th>Assign</th>
                <th>Prepaid</th>
                <th>Cash</th>
                <th>Payphi</th>
                <th>Card</th>
                <th>Wallet</th>
                <th>NDR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td @click="showShippingidModal('Assigned AWB Numbers', assignArr)" style="cursor:pointer; color: rgb(25,25,112);"><u>{{assign}}</u></td>

                <td @click="showShippingidModal('Prepaid AWB Numbers', prepaidArr)" style="cursor:pointer; color: rgb(25,25,112);"><u>{{prepaid}}</u></td>

                <td @click="showShippingidModal('COD ( Cash ) AWB Numbers', cashArr)" style="cursor:pointer; color: rgb(25,25,112);"><u>{{cash}}</u></td>

                <td @click="showShippingidModal('Payphi AWB Numbers', payphiArr)" style="cursor:pointer; color: rgb(25,25,112);"><u>{{payphi}}</u></td>

                <td @click="showShippingidModal('Card AWB Numbers', cardArr)" style="cursor:pointer; color: rgb(25,25,112);"><u>{{card}}</u></td>

                <td @click="showShippingidModal('Wallet AWB Numbers', walletArr)" style="cursor:pointer; color: rgb(25,25,112);"><u>{{wallet}}</u></td>

                <td @click="showShippingidModal('NDR AWB Numbers', ndrArr)" style="cursor:pointer; color: rgb(25,25,112);"><u>{{ndr}}</u></td>
              </tr>
            </tbody>
          </table>
        </b-card>

        <div class="card">
          <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="Loading" />
          <div class="card-header"><i class="fa fa-align-justify"></i>Delivered Shipment Count</div>
          <div class="card-body">
           <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="isLoading" />
            <table class="table table-responsive-sm">
              <tbody>
                <tr>
                  <td>Today's COD ( Cash ) Shipment</td>
                  <td @click="showShippingidModal('Delivered COD ( Cash ) AWB Numbers', deliveredCODArr)" style="cursor:pointer; color: rgb(25,25,112);"><u>{{TodaysShipmentCount}}</u></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card">
          <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="Loading" />
          <div class="card-header"><i class="fa fa-align-justify"></i>COD Amount</div>
          <div class="card-body">
           <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="isLoading" />
            <table class="table table-responsive-sm">
              <tbody>
                <tr>
                  <td>Today's COD Amount</td>
                  <td><i class="fa fa-rupee"></i> {{TodaysCOD}}</td>
                </tr>
                <tr>
                  <td>Pending COD Amount</td>
                  <td><i class="fa fa-rupee"></i> {{PendingCOD}}</td>
                </tr>
                <tr>
                  <td>Total Amount</td>
                  <td id="Tot_Amt"><i class="fa fa-rupee"></i> {{TotalAmount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <b-modal ref="shippingModalRef" v-model="modalShippingShow"  id=#confirmationmodal1 title="Confirmation">
        <div role="document">
          <div class="modal-content">
            <div class="modal-headerfrm">
              <h5 class="modal-title" style="font-size: 1rem;">{{awbnotype}}:</h5>
              <button type="button" class="close" @click="closeShippingidModal" aria-label="Close">
                <span aria-hidden="true" style="color: white;">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <table v-if="awbArr.length>10" class="table-bordered table-hover tbl datatables scroll" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader" style="width: 25px"><b>#</b></th>
                    <th class="text-center tableheader" style="width: 298px"><b>AWB Number</b></th>
                    <th class="text-center tableheader" style="width: 128px"><b>Amount ( <i class="fa fa-rupee"></i> )</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="awbArr.length<=0">
                    <td colspan="3" align="center">No record found</td>
                  </tr>
                  <tr v-for="(val,index) in awbArr">
                    <td class="text-center">{{index+1}}</td>
                    <td class="text-center" style="width: 70%">{{val.ShippingID}}</td>
                    <td class="text-center" style="width: 30%">{{val.Amount}}</td>
                  </tr>
                </tbody>
              </table>

              <table v-if="awbArr.length<11" class="table-bordered table-hover tbl datatables" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader" style="width: 18px"><b>#</b></th>
                    <th class="text-center tableheader" style="width: 312px"><b>AWB Number</b></th>
                    <th class="text-center tableheader" style="width: 133px"><b>Amount ( <i class="fa fa-rupee"></i> )</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="awbArr.length<=0">
                    <td colspan="3" align="center">No record found</td>
                  </tr>
                  <tr v-for="(val,index) in awbArr">
                    <td class="text-center">{{index+1}}</td>
                    <td class="text-center" style="width: 70%">{{val.ShippingID}}</td>
                    <td class="text-center" style="width: 30%">{{val.Amount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal ref="SRNameModalRef" v-model="modalSRNameShow"  id=#confirmationmodal3 title="Confirmation">
        <div role="document">
          <div class="modal-content">
            <div class="modal-headerfrm">
              <h5 class="modal-title" style="font-size: 1rem;">{{srtype}}:</h5>
              <button type="button" class="close" @click="closeSRNameModal" aria-label="Close">
                <span aria-hidden="true" style="color: white;">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <table v-if="srArr.length>10" class="table-bordered table-hover tbl datatables scroll" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader" style="width: 25px"><b>#</b></th>
                    <th class="text-center tableheader" style="width: 298px"><b>SR Name</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="srArr.length<=0">
                    <td colspan="3" align="center">No record found</td>
                  </tr>
                  <tr v-for="(val,index) in srArr">
                    <td class="text-center">{{index+1}}</td>
                    <td class="text-center" style="width: 70%">{{val.SRName}}</td>
                  </tr>
                </tbody>
              </table>

              <table v-if="srArr.length<11" class="table-bordered table-hover tbl datatables" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader" style="width: 18px"><b>#</b></th>
                    <th class="text-center tableheader" style="width: 312px"><b>SR Name</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="srArr.length<=0">
                    <td colspan="3" align="center">No record found</td>
                  </tr>
                  <tr v-for="(val,index) in srArr">
                    <td class="text-center">{{index+1}}</td>
                    <td class="text-center" style="width: 70%">{{val.SRName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal ref="myModalRef" v-model="modalShow" id=#confirmationmodal title="Confirmation">
        <div role="document">
          <div class="modal-content">
            <div class="modal-headerfrm">
              <h5 class="modal-title">Confirmation</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <h5 style="font-size:1rem; color:red;">Remaining amount is {{RemainData}} Rs.</h5>
            </div>
            <div class="modal-footerfrm">
            <center><button type="button"  @click="modalShow = false" class="btn btn-success" style="background-color: #20a8d8;">OK</button></center>
            </div>
          </div>
        </div>
      </b-modal>

      <div class="col-12" v-show="SRLedgerDetails">
        <div class="card-headerfrm" style="margin-bottom: 15px;">
          <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;Result</h4>
          <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="ledgerLoading" />
          <table class="table-bordered table-hover tbl datatables" style="width:100%;">
            <thead>
              <tr class="text-primary">
                <th class="text-center tableheader"><b>#</b></th>
                <th class="text-center tableheader"><b>Delivery Date</b></th>
                <th class="text-center tableheader"><b>COD Receivable ( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Paid Amount ( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Pending Amount ( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Reason</b></th>
                <th class="text-center tableheader"><b>Created Date</b></th>
                <th class="text-center tableheader"><b>Created By</b></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="resultCount==0">
                <td colspan="8" align="center">No record found</td>
              </tr>
              <tr v-for="(SL_List,index) in SRLedgerList ">
                <td scope="row" class="text-center"><strong>{{index+1}}</strong></td>
                <td>{{SL_List.deliverydate}}</td>
                <td>{{SL_List.codamount}}</td>
                <td>{{SL_List.creditamount}}</td>
                <td>{{SL_List.debitamount}}</td>
                <td>{{SL_List.Reason}}</td>
                <td>{{SL_List.createddate}}</td>
                <td>{{SL_List.createdby}}</td>
              </tr>
            </tbody>

          </table><br>
          <!-- <paginate :page-count="pagecount" :page-range="2" :margin-pages="2" :click-handler="getPaginationData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
          </paginate> -->
        </div>
       </div>
    </div>
  </div>
</section>
