<section>
<div class="animated fadeIn">
  <div>
    <b-link style="text-align: right" @click="POPUP"><h4>Change Hub</h4> </b-link>
  </div>
      <!--/.col-->
      <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 pdl_0">
        <div class="card h-100 block_hgt">
          <div class="h-100 form-verticle">
            <div class="col-xs-2  h-100 col-sm-2 col-lg-2 col-lg-2 float-left">
              <label>Zone</label>
              <b-input-group>
                <select   name="zone" id="zone" class="form-control" v-model="zone" v-on:change="getStateData" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('zone') }">
                  <option value="">--Select--</option>
                  <option v-for="zone_obj in zoneList" v-bind:value="zone_obj.hubzonename" >{{zone_obj.hubzonename}}</option>
                </select>
              </b-input-group>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-lg-2 float-left">
              <label>State</label>
              <b-input-group>
                <select name="state" id="state" class="form-control" v-model="state" v-on:change="getCityData"  v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('state') }">
                  <option value="">--Select--</option>
                  <option v-for="state_obj in stateList" v-bind:value="state_obj.statename" >{{state_obj.statename}}</option>
                </select>
              </b-input-group>
              </b-input-group>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-lg-2 float-left">
              <label>City</label>
              <b-input-group>
                <select name="city" id="city" class="form-control" v-model="city"   v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('city') }">
                  <option value="">--Select--</option>
                  <option v-for="city_obj in cityList" v-bind:value="city_obj.cityname" >{{city_obj.cityname}}</option>
                </select>
              </b-input-group>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-lg-2 float-left">
              <label>From Date</label>
              <b-input-group left="<i class='fa fa-user'></i>">
                <b-form-input id="date-input" type="date" placeholder=" Enter User Type" v-model="FromDate"></b-form-input>
              </b-input-group>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-lg-2 float-left">
              <label>To Date</label>
              <b-input-group left="<i class='fa fa-user'></i>">
                <b-form-input id="date-input" type="date" placeholder=" Enter User Type" v-model="ToDate"></b-form-input>
              </b-input-group>
            </div>
            <div style= "margin-top:2em;">
            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
          </div>
           </div>
       </div>
       <div class="pcoded-inner-content">
           <div class="main-body">
               <div class="page-wrapper">
                   <div class="page-body">
                       <div class="row">
                           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                               <div class="card">
                                   <div class="card-header">
                                       <h6>Volume Trend</h6>
                                       <i class="feather icon-refresh-cw reload-card" style="float:right;"></i>
                                   </div>
                                   <div class="card-body">
                                       <div id="chartdiv"></div>
                                   </div>
                               </div>
                               <div class="card">
                                   <div class="card-header">
                                       <h6>Zone Distribution</h6>
                                       <i class="feather icon-refresh-cw reload-card" style="float:right;"></i>
                                   </div>
                                   <div class="card-body">
                                       <h6 style="color:#D3D3D3;">Geographical Distribution of Orders</h6>
                                       <div id="chartdiv3"></div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                               <div class="card csh-16">
                                   <div class="card-header">
                                       <h6>On Time Pickups</h6>
                                       <i class="feather icon-refresh-cw reload-card" style="float:right;position: relative;bottom: 18px;left: 5px;"></i>
                                   </div>
                                   <div class="card-body">
                                       <h3 class="f-w-700 text-c-blue txtc">00</h3>
                                       <h6 class="txtc">Feb 13 - Feb 19</h6>
                                   </div>
                               </div>
                               <div class="card csh-16">
                                   <div class="card-header">
                                       <h6>Return Rate</h6>
                                       <i class="feather icon-refresh-cw reload-card" style="float:right;"></i>
                                   </div>
                                   <div class="card-body">
                                       <h3 class="f-w-700 text-c-blue txtc" style="font-family:sans-serif;">14%</h3>
                                   </div>
                               </div>
                               <div class="card csh-16">
                                   <div class="card-header">
                                       <h6>Service Precision</h6>
                                       <i class="feather icon-refresh-cw reload-card" style="float:right;position: relative;bottom: 18px;left: 5px;"></i>
                                   </div>
                                   <div class="card-body">
                                       <table style="font-size: 10px;margin-left: -1.5em">
                                           <thead>
                                               <th>Reversed Order</th>
                                               <th style="float:right;">100%</th>
                                           </thead>
                                           <thead>
                                               <th>Forward Order</th>
                                               <th style="float:right;">NA</th>
                                           </thead>
                                           <thead>
                                               <th>Returened Order</th>
                                               <th style="float:right;">NA</th>
                                           </thead>
                                       </table>
                                   </div>
                               </div>
                           </div>
                           <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                               <div class="card csh-16">
                                   <div class="card-header">
                                       <h6>COD Balance</h6>
                                       <i class="feather icon-refresh-cw reload-card" style="float:right;"></i>
                                   </div>
                                   <div class="card-body">
                                       <h3 class="f-w-700 text-c-blue txtc" style="font-family:sans-serif;">&#x20B9;.150</h3>
                                   </div>
                               </div>
                               <div class="card csh-16">
                                   <div class="card-header">
                                       <h6>Outstanding Billing</h6>
                                       <i class="feather icon-refresh-cw reload-card" style="float:right;"></i>
                                   </div>
                                   <div class="card-body">
                                       <h3 class="f-w-700 text-c-blue txtc" style="font-family:sans-serif;">&#x20B9;.340</h3>
                                   </div>
                               </div>
                               <div class="card csh-16">
                                   <div class="card-header">
                                       <h6>Services not used</h6>
                                       <i class="feather icon-refresh-cw reload-card" style="float:right;"></i>
                                   </div>
                                   <div class="card-body">
                                       <h6 style="color:#D3D3D3;">No Data Found</h6>
                                   </div>
                               </div>
                           </div>
                           <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                               <div class="card csh-16">
                                   <div class="card-header">
                                       <h6>ACT on Exception</h6>
                                       <i class="feather icon-refresh-cw reload-card" style="float:right;"></i>
                                   </div>
                                   <div class="card-body">
                                       <p>Undelivered Orders</p>
                                       <h3 class="f-w-700 text-c-blue txtc" style="font-family:sans-serif;">&#x20B9;.234</h3>
                                   </div>
                               </div>
                               <div class="card csh-16">
                                   <div class="card-header">
                                       <h6>Delayed Shipments</h6>
                                       <i class="feather icon-refresh-cw reload-card" style="float:right;"></i>
                                   </div>
                                   <div class="card-body">
                                       <p>Undelivered Orders</p>
                                       <div class="card-body">
                                       <h6 style="color:#D3D3D3;">No Data Found</h6>
                                   </div>
                                   </div>
                               </div>
                               <div class="card csh-16">
                                   <div class="card-header">
                                       <h6>Pincodes you have shipped to</h6>
                                       <i class="feather icon-refresh-cw reload-card" style="float:right;"></i>
                                   </div>
                                   <div class="card-body">
                                       <h3 class="f-w-700 text-c-blue txtc" style="font-family:sans-serif;"><span style="color:red;">569</span>/700</h3>
                                       <table>
                                           <thead>
                                               <th>Forward Order</th>&nbsp;
                                               <th style="float:right;margin-left: 20px;">10</th>
                                           </thead>
                                           <thead>
                                               <th>Reversed Order</th>&nbsp;&nbsp;&nbsp;
                                               <th style="float:right;margin-left: 20px;">120</th>
                                           </thead>
                                       </table>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
             </div>
         </div>
         <b-modal size="vlg" v-model="calcModal" @ok="calcModal = false">
           <b-card>
             <div slot="header">
               <span class="mdltitle">Login Details</span>
               <button type="button" aria-label="Close" @click="closeCalcModal" class="close">×</button>
             </div>
               <form v-on:submit.prevent="onSubmit">
                 <div class="form-group row">
                  <div class="col-md-3">
                   <label>Zone</label>
                   <b-input-group >
                     <select name="popupZone" id="popupZone" class="form-control" v-model="popupZone" v-on:change="getStateData" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('popupZone') }">
                       <option value="">--Select--</option>
                       <option v-for="zone_obj in zoneList" v-bind:value="zone_obj.hubzonename" >{{zone_obj.hubzonename}}</option>
                     </select>
                   </b-input-group>
                   <span v-show="errors.has('popupZone')" class="text-danger">Please select Zone. </span>
                 </div>

                 <div class="col-md-3">
                   <label>State</label>
                   <b-input-group >
                     <select name="popupState" id="popupState" class="form-control" v-model="popupState" v-on:change="getCityData"  v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('popupState') }">
                       <option value="">--Select--</option>
                       <option v-for="state_obj in stateList" v-bind:value="state_obj.statename" >{{state_obj.statename}}</option>
                     </select>
                   </b-input-group>
                    <span v-show="errors.has('popupState')" class="text-danger">Please select state. </span>
                 </div>

                   <div class="col-md-3">
                   <label>City</label>
                   <b-input-group>
                     <select name="PopupCity" id="PopupCity" class="form-control" v-model="PopupCity"  v-on:change = "getHubData" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('PopupCity') }">
                       <option value="">--Select--</option>
                       <option v-for="city_obj in cityList" v-bind:value="city_obj.cityname" >{{city_obj.cityname}}</option>
                     </select>
                   </b-input-group>
                     <span v-show="errors.has('PopupCity')" class="text-danger">Please select city. </span>
                 </div>
                   <div class="col-md-3">
                   <label>Hub</label>
                   <b-input-group>
                     <select name="hub" id="hub" class="form-control" v-model="hub"   v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('hub') }">
                       <option value="">--Select--</option>
                       <option v-for="hub_obj in hubList" v-bind:value="hub_obj.HubName" >{{hub_obj.HubName}}</option>
                     </select>
                   </b-input-group>
                   <span v-show="errors.has('hub')" class="text-danger">Please select hub. </span>
                 </div>
               </div>

             <div class="modal-footerfrm">
             <button type="submit"  size="vlg" class="btn btn-primary">Submit</button>&nbsp;
             <button type="button" size="vlg" class="btn btn-danger" @click="closeCalcModal">Cancel</button>
           </div>
          </form>
         </b-card>
        </b-modal>
     </div>
   </div>

</section>
