<body background="static/img/Heavy-Duty-Warehouse-Trucks-in-Miami.jpg">
  <section class="login">
    <div class="app2 flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card-group mb-0">
              <div class="card p-4">
                <div class="card-body">
                  <img src="static/img/logo.png" alt="homepage" class="dark-logo">
                  <br>
                  <br>
                  <br>
                  <!-- <h4>Login</h4> -->
                  <!-- <p class="text-muted">Sign In to your account</p> -->

                  <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    <input type="text" v-model="username" class="form-control" placeholder="Username">
                  </div>
                  <div class="input-group mb-4">
                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                    <input type="password" v-model="password" class="form-control" placeholder="Password">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" @click="checklogin">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                  <h4>Delivering Happiness</h4>
                <div class="card-body text-center">
                  <div>

                    <p>Instantly grow your e-commerce business through our extensive network and create happy customers through value added services and on time delivery</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
