<section class="user">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 mb-2">
        <div class="card">
          <div class="card-header"><i class="fa fa-filter filter"></i> Search</div>
          <div class="card-body">
            <form v-on:submit.prevent="onSubmit">
              <div class="form-group row">
                <div class="col-md-4">
                  <label>Zone <font color="red">*</font></label>
                  <b-input-group left="<i class='fa fa-list'></i>">
                    <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="allZoneLoading" />
                    <select name="zone" id="zone" class="form-control" v-model="zone" v-on:change="addHubData" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('zone') }" style="height: 45px;">
                      <option value="">--Select--</option>
                      <option v-for="zone_obj in zoneList" v-bind:value="zone_obj.hubzoneid" >{{zone_obj.hubzonename}}</option>
                    </select>
                  </b-input-group>
                  <span v-show="errors.has('zone')" class="text-danger">Zone is required.</span>
                </div>
                <div class="col-md-4">
                  <label>Hub Name</label>
                  <b-input-group left="<i class='fa fa-list'></i>">
                    <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="hubLoading" />
                    <Multiselect :options="hubList" v-bind:multiple="multipleHub()" name="HubId" id="HubId" v-model="HubId" placeholder="Select Hub" label="HubName" track-by="HubID" :optionHeight="100" :hide-selected="true" style="border: 1px solid #c2cfd6;z-index:999">
                       <template slot="noResult"><p>No Record Found.</p></template>
                    </Multiselect>
                  </b-input-group>
                  <span v-show="errors.has('HubId')" class="text-danger">Hub name is required.</span>
                  <span id="hubrsc" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                  <label>RSC / SVC</label>
                  <b-input-group left="<i class='fa fa-list'></i>">
                    <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="RSCLoading" />
                    <Multiselect :options="RSCList" placeholder="Select RSC / SVC" v-bind:multiple="multipleRSC()" name="RSCName" id="RSCName" v-bind:disabled="disableRSC" v-model="RSCName" label="HubName" track-by="HubName" :optionHeight="100" :hide-selected="false" style="border: 1px solid #c2cfd6;z-index:999">
                     <template slot="noResult"><p>No Record Found.</p></template>
                    </Multiselect>
                  </b-input-group>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-3">
                  <label>Deposit Type</label>
                  <b-input-group left="<i class='fa fa-list'></i>">
                    <select class="form-control" id="DepositType" name="DepositType" v-model="DepositType" v-bind:class="{'form-control': true}">
                      <option value="">--Select--</option>
                      <option value="1">Bank (Self) Deposit</option>
                      <option value="2">CMS (Cash) Deposit</option>
                      <option value="3">NEFT/Virtual/Other</option>
                    </select>
                  </b-input-group>
                </div>
                <div class="col-md-3">
                  <label>Status <font color="red">*</font></label>
                  <b-input-group left="<i class='fa fa-list'></i>">
                    <select name="status" id="status" class="form-control" v-model="status">
                      <option value="0" title="Select All">Select All</option>
                      <option value="1" title="Open">Open</option>
                      <option value="6" title="Close">Close</option>
                    </select>
                  </b-input-group>
                </div>

                <div class="col-md-3">
                  <label>From ( Delivery ) Date <font color="red">*</font></label>
                  <b-input-group left="<i class='fa fa-calendar'></i>">
                    <b-form-input id="fromDate" type="date" name="fromDate" v-validate="{required: true}"
                    v-model="fromDate" v-bind:class="{'form-control': true, 'error': errors.has('fromDate') }"></b-form-input>
                  </b-input-group>
                  <span v-show="errors.has('fromDate')" class="text-danger">From date is required. </span>
                  <span id="fdate" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                  <label>To ( Delivery ) Date <font color="red">*</font></label>
                  <b-input-group left="<i class='fa fa-calendar'></i>">
                    <b-form-input id="toDate" type="date" name="toDate" v-validate="{required: true}"
                    v-model="toDate" v-bind:class="{'form-control': true, 'error': errors.has('toDate') }"></b-form-input>
                  </b-input-group>
                  <span v-show="errors.has('toDate')" class="text-danger">To date is required. </span>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit" @click="scrollWin()"><i class="fa fa-search"></i> Search</button>
                <button class="btn btn-sm btn-danger" type="reset" @click="resetForm()"><i class="fa fa-ban"></i> Clear</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-8">
        <div class="card" style="height: 95%;">
          <div class="card-header filter_main">
            <i class=" fa fa-align-justify"></i> Zone&nbsp;&nbsp;<span style="font-size:13px;"><b>({{resultdate}})</b></span>
          </div>
          <div class="card-body" style="height: 388px;">
            <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="zoneLoading" />
            <form action="" method="post" class="form-horizontal">
              <div class="form-group row">
                <div class="col-md-4" v-for="zone_obj in zoneAmtList">
                  <div class="card border-primary">
                    <div class="card-header">{{zone_obj.hubzonename}}</div>
                    <div class="card-body"><i class="fa fa-rupee"></i> {{zone_obj.zoneamount}}</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> -->

      <b-modal ref="myReasonModalRef" v-model="ReasonModalShow" id=#confirmationmodal2 title="Confirmation">
        <div role="document">
          <div class="modal-content" style="width: 150%;">
            <div class="modal-headerfrm">
              <h5 class="modal-title" style="font-size: 1rem;">Dispute Reason & AWB No/Amount</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true" style="color: white;">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <table class="table-bordered table-hover tbl datatables" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader" style="width: 1%"><b>#</b></th>
                    <th class="text-center tableheader" style="width: 50%"><b>Reason</b></th>
                    <th class="text-center tableheader" style="width: 49%">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr class="text-primary">
                          <th class="text-center tableheader" style="width:25%"><b>AWB Number</b></th>
                          <th class="text-center tableheader" style="width:10%"><b>Amount ( <i class="fa fa-rupee"></i> )</b></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="DisputeArr.length<=0">
                    <td colspan="3" align="center">No record found</td>
                  </tr>
                  <tr v-for="(val,index) in DisputeArr">
                    <td class="text-center" style="width: 1%">{{index+1}}</td>
                    <td class="text-center" style="width: 50%">{{val.Reason}}</td>
                    <td class="text-center" style="width: 49%" v-if="val.ReasonAmt">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr>
                          <td class="text-center" style="width:21%">&nbsp;</td>
                          <td class="text-center" style="width:9%">{{val.ReasonAmt}}</td>
                        </tr>
                      </table>
                    </td>
                    <td class="text-center" style="width: 49%" v-if="!val.ReasonAmt">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr v-for="(row, ind) in val.awb">
                          <td class="text-center" style="width:21%">{{(Object.keys(row)) ? Object.keys(row).toString() : ''}}</td>
                          <td class="text-center" style="width:9%">{{(Object.values(row)) ? Object.values(row).toString() : ''}}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal ref="myRecExcModalRef" v-model="RecExcModalShow" id=#confirmationmodal3 title="Confirmation">
        <div role="document">
          <div class="modal-content" style="width: 150%;">
            <div class="modal-headerfrm">
              <h5 class="modal-title" style="font-size: 1rem;">Self Debit/Recovery & Exception AWB No/Amount</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true" style="color: white;">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <table class="table-bordered table-hover tbl datatables" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader" style="width: 1%"><b>#</b></th>
                    <th class="text-center tableheader" style="width: 50%"><b>Reason</b></th>
                    <th class="text-center tableheader" style="width: 49%">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr class="text-primary">
                          <th class="text-center tableheader" style="width:25%"><b>AWB Number</b></th>
                        </tr>
                      </table>
                    </th>
                    <th class="text-center tableheader" style="width:10%"><b>Amount ( <i class="fa fa-rupee"></i> )</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="DisputeArr.length<=0">
                    <td colspan="4" align="center">No record found</td>
                  </tr>
                  <tr v-for="(val,index) in DisputeArr">
                    <td class="text-center" style="width: 1%">{{index+1}}</td>
                    <td class="text-center" style="width: 50%">{{val.Reason}}</td>
                    <td class="text-center" style="width: 49%">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr v-for="(row, ind) in val.awb">
                          <td class="text-center" style="width:25%">{{(Object.keys(row)) ? Object.keys(row).toString() : ''}}</td>
                        </tr>
                      </table>
                    </td>
                    <td class="text-center" style="width:11%">{{val.amount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal ref="myCommentModalRef" v-model="commentModalShow" id=#confirmationmodal title="Confirmation">
        <div role="document">
          <div class="modal-content">
            <div class="modal-headerfrm">
              <h5 class="modal-title">{{cType}}</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true" style="color: white;">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <h5 style="font-size:0.9rem; color:black;">{{comment}}</h5>
            </div>
          </div>
        </div>
      </b-modal>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card-headerfrm" style="margin-bottom: 15px;">
          <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;Result&nbsp;&nbsp;
            <span v-if="resultCount>0" style="font-size:13px;"><b>({{resultfdate}})</b></span>

            <span v-if="exportf==false && resultCount>0" style="margin-left: 55%;"><font style="font-size: 12px;color: red;font-weight: bold;">Report available in few seconds..</font></span>
            <span v-show="exportf" style="margin-left: 65%; cursor: pointer;" @click="exportfinanceledgermaster()">
              <button class="btn btn-sm btn-success" type="button"><i class="fa fa-download"></i> Export</button>
            </span>
          </h4>
          <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
          <table class="table-bordered table-hover tbl datatables scrolltb" style="width:100%;">
            <thead>
              <tr class="text-primary">
                <th class="text-center tableheader"><b>#</b></th>
                <th class="text-center tableheader"><b>Hub</b></th>
                <th class="text-center tableheader"><b>RSC Name</b></th>
                <th class="text-center tableheader"><b>Delivery Date</b></th>
                <th class="text-center tableheader"><b>Deposite Date</b></th>
                <th class="text-center tableheader"><b>Opening Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>COD Receivable <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Bank Deposited Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Finance Confirmed Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Exception Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Dispute Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <!-- <th class="text-center tableheader"><b>Self Debit/ Recovery Amount <br>( <i class="fa fa-rupee"></i> )</b></th> -->
                <th class="text-center tableheader"><b>Outstanding Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Status</b></th>
                <th class="text-center tableheader"><b>Finance Reason</b></th>
                <th class="text-center tableheader"><b>Deposit Type</b></th>
                <th class="text-center tableheader"><b>Bank Name</b></th>
                <th class="text-center tableheader"><b>View Receipt</b></th>
                <th class="text-center tableheader"><b>Transaction Id</b></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="resultCount==0">
                <td colspan="18" align="center">No record found</td>
              </tr>
              <tr v-for="(data,index) in listFinanceledgerData" v-bind:class="`${([84,124,187].includes(data.financereasonid)) ? 'mismatched' : ''}`">
                <td scope="row" class="text-center"><strong>{{pageno+index+1}}</strong></td>
                <td class="text-center">{{data.hubname}}</td>
                <td class="text-center">{{data.rscowner}}</td>
                <td class="text-center">{{data.deliverydate}}</td>
                <td class="text-center">{{data.depositdate}}</td>
                <td class="text-center">{{data.openingbalance}}</td>
                <td class="text-center">{{data.codamount}}</td>
                <td class="text-center">{{data.bankdeposit}}</td>
                <td class="text-center">{{data.actualrecamt}}</td>
                <td class="text-center">
                  <span @click="showRecExcAWBNo('exception', data.exceptionamt, data.awbno)" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;" v-if="data.exceptionamt!=0">{{data.exceptionamt}}</span>
                  <span v-if="data.exceptionamt==0">{{data.exceptionamt}}</span>
                </td>
                <td class="text-center">
                  <span @click="showReasonAWBNo(data.cardawbno)" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;" v-if="data.cardissueamt!=0">{{data.cardissueamt}}</span>
                  <span v-if="data.cardissueamt==0">{{data.cardissueamt}}</span>
                </td>
                <!-- <td class="text-center">
                  <span @click="showRecExcAWBNo('recovery', data.othercharges, data.recoveryawb, data.financereasonid)" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;" v-if="data.othercharges!=0">{{data.othercharges}}</span>
                  <span v-if="data.othercharges==0">{{data.othercharges}}</span>
                </td> -->
                <td class="text-center">{{data.balanceoutstanding}}</td>
                <td class="text-center" v-if="data.statusid==1">Transaction Open</td>
                <td class="text-center" v-if="data.statusid==6">Transaction Closed</td>
                <td class="text-center" v-show="data.statusid != 6">
                  <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="form.subLoading[data.svcledgerid]" />
                  <form v-on:submit.prevent="onUpdate(data.svcledgerid, data)">
                    <select style="width: 220px;" v-model="form.finreason[data.svcledgerid]"  v-bind:name="setid('finreason', data.svcledgerid)" v-bind:id="setid('finreason', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true, 'error': errors.has('finreason'+data.svcledgerid) }" :disabled="data.statusid == 6 ? true : false">
                      <option value="">--Select--</option>
                      <option v-for="finreason_obj in FinanceReasonList" v-bind:value="finreason_obj.ReasonsID" >{{finreason_obj.Reason}}</option>
                    </select>
                    <span v-bind:id="setid('finR', data.svcledgerid)" class="text-danger"></span>

                    <br v-show="form.finreason[data.svcledgerid] > 0 && data.statusid != 6">
                    <input v-show="form.finreason[data.svcledgerid] > 0 && data.statusid != 6" v-model="form.financeconfirmdate[data.svcledgerid]" v-bind:name="setid('financeconfirmdate', data.svcledgerid)" v-bind:id="setid('financeconfirmdate', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true, 'error': errors.has('financeconfirmdate'+data.svcledgerid) }" type="date">
                    <span v-bind:id="setid('finD', data.svcledgerid)" class="text-danger"></span>

                    <br v-show="([84,124,187,125,218].includes(form.finreason[data.svcledgerid])) && data.statusid != 6">
                    <input v-show="([84,124,187,125,218].includes(form.finreason[data.svcledgerid])) && data.statusid != 6" v-model="form.confirmamount[data.svcledgerid]" v-bind:name="setid('confirmamount', data.svcledgerid)" v-bind:id="setid('confirmamount', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true, 'error': errors.has('confirmamount'+data.svcledgerid) }" type="text" placeholder="Enter Received Amount" onkeypress="return event.charCode >= 48 && event.charCode <= 57||event.keyCode == 8">
                    <span v-bind:id="setid('finA', data.svcledgerid)" class="text-danger"></span>

                    <br v-show="([125,218].includes(form.finreason[data.svcledgerid])) && data.statusid != 6">
                    <span v-show="([125,218].includes(form.finreason[data.svcledgerid])) && data.statusid != 6" style="margin-right:120px;">
                      <input type="radio" name="radio" v-model="form.radio[data.svcledgerid]" value="awb"> Enter AWB No. &nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="radio" name="radio" v-model="form.radio[data.svcledgerid]" value="amount"> Enter Amount
                      <span v-show="!form.radio[data.svcledgerid]" v-bind:id="setid('finRadio', data.svcledgerid)" class="text-danger" style="margin-right: -110px;"></span>
                    </span>

                    <br v-show="([125,218].includes(form.finreason[data.svcledgerid])) && data.statusid != 6">
                    <input v-show="(([125,218].includes(form.finreason[data.svcledgerid])) && data.statusid != 6) && form.radio[data.svcledgerid]=='amount'" v-model="form.RecAmt[data.svcledgerid]" v-bind:name="setid('RecAmt', data.svcledgerid)" v-bind:id="setid('RecAmt', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true, 'error': errors.has('RecAmt'+data.svcledgerid) }" type="text" placeholder="Enter Recovery Amount" onkeypress="return event.charCode >= 48 && event.charCode <= 57||event.keyCode == 8||event.keyCode == 46">
                    <span v-show="!form.RecAmt[data.svcledgerid] && form.radio[data.svcledgerid]=='amount'" v-bind:id="setid('finRec', data.svcledgerid)" class="text-danger"></span>

                    <input v-show="(([125,218].includes(form.finreason[data.svcledgerid])) && data.statusid != 6) && form.radio[data.svcledgerid]=='awb'" v-model="form.AWBNo[data.svcledgerid]" v-bind:name="setid('AWBNo', data.svcledgerid)" v-bind:id="setid('AWBNo', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true, 'error': errors.has('AWBNo'+data.svcledgerid) }" type="text" placeholder="Enter AWB Number">
                    <span v-show="(([125,218].includes(form.finreason[data.svcledgerid])) && data.statusid != 6) && form.radio[data.svcledgerid]=='awb'" class="text" style="font-size: 11px; color: rgb(0, 0, 0);">Note: Please enter comma (,) seperated AWB number.</span>
                    <br v-show="(([125,218].includes(form.finreason[data.svcledgerid])) && data.statusid != 6) && form.radio[data.svcledgerid]=='awb'">
                    <span v-show="!form.AWBNo[data.svcledgerid] && form.radio[data.svcledgerid]=='awb'" v-bind:id="setid('finDR', data.svcledgerid)" class="text-danger"></span>

                    <br v-show="([84,124,187,125,218].includes(form.finreason[data.svcledgerid])) && data.statusid != 6">
                    <textarea rows="2" v-show="([84,124,187,125,218].includes(form.finreason[data.svcledgerid])) && data.statusid != 6" v-model="form.comment[data.svcledgerid]" v-bind:name="setid('comment', data.svcledgerid)" v-bind:id="setid('comment', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true}" ref="textarea" placeholder="Enter Comment..."></textarea>

                    <span v-show="(data.statusid != 6)"><button class="btn btn-sm btn-primary" @click = "form.subLoading[data.svcledgerid] = 'true'" type="submit" :disabled = "(data.statusid == 6) || (form.button[data.svcledgerid])" ><i class="fa fa-dot-circle-o"></i> Submit</button></span>
                  </form>
                </td>
                <td class="text-center" v-show="data.statusid == 6">
                  <span @click="showComment(data.comment, 'c')" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;" v-if="data.comment">{{data.financereason}}</span>
                  <span v-show="(['',null].includes(data.comment))">{{data.financereason}}</span>
                </td>
                <td class="text-center">{{data.deposittype}}</td>
                <td class="text-center">{{data.bank}}</td>
                <td class="text-center">
                  <span v-bind:id='`${"vrl"+data.svcledgerid}`' v-if="data.files.length>0" @click="showHideImages(data.svcledgerid, 'vrl')" style="color: blue; cursor: pointer; text-decoration: underline;"><u>Deposit</u></span>
                  <span v-bind:id='`${"vri"+data.svcledgerid}`' style="display: none;">
                    <a v-bind:title='`${file.name}`' v-for="file in data.files" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:20px; color:#4b8cbb; margin: 10px 10px 1px 1px;"></i></a>
                  </span>

                  <br><span v-bind:id='`${"vrrl"+data.svcledgerid}`' v-if="data.reasonfiles.length>0" @click="showHideImages(data.svcledgerid, 'vrrl')" style="color: blue; cursor: pointer; text-decoration: underline;"><u>Other</u></span>
                  <span v-bind:id='`${"vrri"+data.svcledgerid}`' style="display: none;">
                    <a v-bind:title='`${file.name}`' v-for="file in data.reasonfiles" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:20px; color:#4b8cbb; margin: 10px 10px 1px 1px;"></i></a>
                  </span>
                </td>
                <td class="text-center">
                  <span @click="showComment(data.transactionid, 't')" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;" v-if="data.transactionid && data.transactionid!=0">view</span>
                  <span v-show="(['',null,0].includes(data.transactionid))"></span>
                </td>
              </tr>
            </tbody>
          </table><br>
          <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :click-handler="getPaginationData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
          </paginate>
        </div>
      </div>

      <!-- <b-modal ref="myCardModalRef" v-model="cardModalShow" id=#confirmationmodal title="Confirmation">
        <div role="document">
          <div class="modal-content">
            <div class="modal-headerfrm">
              <h5 class="modal-title">Confirmation</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <h5 style="font-size:1rem; color:red;">Please make sure, Self Debit/Client Recovery AWB No. or Amount is {{AWBAmount}} Rs.</h5>
            </div>
            <div class="modal-footerfrm">
            <center>
              <button type="button" @click = "hideCardModal('0')" class="btn btn-success" style="background-color: #20a8d8;">Ok</button>
              <button type="button" @click = "hideCardModal('1')" class="btn btn-danger" style="background-color: #f86c6b;">Cancel</button>
            </center>
            </div>
          </div>
        </div>
      </b-modal> -->

      <b-modal ref="myCardModalRef" v-model="cardModalShow" id=#confirmationmodal1 title="Confirmation">
        <div role="document">
          <div class="modal-content" style="width: 150%;">
            <div class="modal-headerfrm">
              <h5 class="modal-title" style="font-size: 1rem;">AWB No & Amount Confirmation</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true" style="color: white;">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <table class="table-bordered table-hover tbl datatables" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader" style="width: 1%"><b>#</b></th>
                    <th class="text-center tableheader" style="width: 50%"><b>Reason</b></th>
                    <th class="text-center tableheader" style="width: 49%">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr class="text-primary">
                          <th class="text-center tableheader" style="width:25%"><b>AWB Number</b></th>
                          <th class="text-center tableheader" style="width:10%"><b>Amount ( <i class="fa fa-rupee"></i> )</b></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="DisputeArr.length<=0">
                    <td colspan="3" align="center">No record found</td>
                  </tr>
                  <tr v-for="(val,index) in DisputeArr">
                    <td class="text-center" style="width: 1%">{{index+1}}</td>
                    <td class="text-center" style="width: 50%">{{val.Reason}}</td>
                    <td class="text-center" style="width: 49%" v-if="val.ReasonAmt">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr>
                          <td class="text-center" style="width:20%">&nbsp;</td>
                          <td class="text-center" style="width:9%">{{val.ReasonAmt}}</td>
                        </tr>
                      </table>
                    </td>
                    <td class="text-center" style="width: 49%" v-if="!val.ReasonAmt">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr v-for="(row, ind) in val.awb">
                          <td class="text-center" style="width:21%">{{(Object.keys(row)) ? Object.keys(row).toString() : ''}}</td>
                          <td class="text-center" style="width:9%">{{(Object.values(row)) ? Object.values(row).toString() : ''}}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footerfrm">
              <center>
                <button type="button" @click = "hideCardModal('0')" class="btn btn-success" style="background-color: #20a8d8;">Ok</button>
                <button type="button" @click = "hideCardModal('1')" class="btn btn-danger" style="background-color: #f86c6b;">Cancel</button>
              </center>
            </div>
          </div>
        </div>
      </b-modal>
    </div>
  </div>
</section>
