.block_hgt{
	height: 95px;
}

.fnt_blk_icon{
	font-size: 30px;
}

td{
	font-size: 12px;
	font-family: Roboto;
}

.scrolltb {
  display: block;
  overflow-x: auto;
  // white-space: nowrap;
}

.popup {
  position: relative;
  //display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  //width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: -70%;
  //margin-left: -80px;
}

.popup:hover .popuptext {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.mismatched {
	background-color: #E58080;
}

.text-danger {
    color: rgb(255, 0, 0) !important;
    font-weight: bold;
    font-size: 0.7rem;
}

table.scroll {
    border: 0px solid #c2cfd6;
}

table.scroll tbody,
table.scroll thead tr { display: block; }

table.scroll tbody {
    height: 291px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody td,
table.scroll thead th {
    //width: 133px;
}

table.scroll thead th:last-child {
    width: 156px; /* 140px + 16px scrollbar width */
}

input,
input::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 1;
}

.mdltitle{
	font-size: 18px;
}
.rolefooter{
  text-align: right !important;
}
.scheduler {
	background-color: #FFFF66;
}
.dot1 {
  height: 15px;
  width: 15px;
  background-color: #FFFF66;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 15px;
  width: 15px;
  background-color: #E58080;
  border-radius: 50%;
  display: inline-block;
  margin-left:20px;
}
