<section class="user">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="height: 430px;">
          <div class="card-header"><i class="fa fa-filter filter"></i> Closure</div>
          <div class="card-body">
            <form v-on:submit.prevent="onSubmit">
              <div class="form-group">
                <label>Zone <font color="red">*</font></label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="allZoneLoading" />
                  <select name="zone" id="zone" class="form-control" v-model="zone" v-on:change="getHubData" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('zone') }">
                    <option value="">--Select--</option>
                    <option v-for="zone_obj in zoneList" v-bind:value="zone_obj.hubzoneid" >{{zone_obj.hubzonename}}</option>
                  </select>
                </b-input-group>
                <span v-show="errors.has('zone')" class="text-danger">The Zone field is required.</span>
              </div>
              <div class="form-group">
                <label>Hub <font color="red">*</font></label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="hubLoading" />
                  <Multiselect :options="hubList" name="HubId" id="HubId" v-model="HubId" v-validate="{required: true}" v-bind:class="{'error': errors.has('HubId') }" placeholder="Select Hub" label="HubName" track-by="HubID" :optionHeight="100" :hide-selected="true" style="border: 1px solid #c2cfd6;z-index:999">
                     <template slot="noResult"><p>No Record Found.</p></template>
                  </Multiselect>
                </b-input-group>
                <span v-show="errors.has('HubId')" class="text-danger">The Hub field is required.</span>
              </div>
              <div class="form-group">
                <label>Status</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <select name="status" id="status" class="form-control" v-model="status" style="height: 40px;">
                    <option value="1" title="Open">Open</option>
                    <option value="6" title="Close">Close</option>
                  </select>
                </b-input-group>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit" @click="scrollWin()"><i class="fa fa-search"></i> Search</button>
                <button class="btn btn-sm btn-danger" type="reset" @click="resetForm()"><i class="fa fa-ban"></i> Clear</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="card">
          <div class="card-header filter_main">
            <i class=" fa fa-align-justify"></i> Zone&nbsp;&nbsp;<span style="font-size:13px;"><b>({{resultdate}})</b></span>
          </div>
          <div class="card-body" style="height: 388px;">
            <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="zoneLoading" />
            <form action="" method="post" class="form-horizontal">
              <div class="form-group row">
                <div class="col-md-4" v-for="zone_obj in zoneAmtList">
                  <div class="card border-primary">
                    <div class="card-header">{{zone_obj.hubzonename}}</div>
                    <div class="card-body"><i class="fa fa-rupee"></i> {{zone_obj.zoneamount}}</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card-headerfrm" style="margin-bottom: 15px;">
          <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;Result&nbsp;&nbsp;<span v-if="resultCount>0" style="font-size:13px;"><b>({{resultfdate}})</b></span></h4>
          <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
          <table class="table-bordered table-hover tbl datatables scrolltb" style="width:100%;">
            <thead>
              <tr class="text-primary">
                <th class="text-center tableheader"><b>#</b></th>
                <th class="text-center tableheader"><b>Hub</b></th>
                <th class="text-center tableheader"><b>RSC Name</b></th>
                <th class="text-center tableheader"><b>Delivery Date</b></th>
                <th class="text-center tableheader"><b>Deposite Date</b></th>
                <th class="text-center tableheader"><b>Opening Amount</b></th>
                <th class="text-center tableheader"><b>COD Receivable</b></th>
                <th class="text-center tableheader"><b>Bank Deposited Amount</b></th>
                <th class="text-center tableheader"><b>Actual Received Amount</b></th>
                <th class="text-center tableheader"><b>Exception Amount</b></th>
                <th class="text-center tableheader"><b>Card/Other AWB Amount</b></th>
                <th class="text-center tableheader"><b>Other Charges</b></th>
                <th class="text-center tableheader"><b>Balance Outstanding</b></th>
                <th class="text-center tableheader"><b>Status</b></th>
                <th class="text-center tableheader"><b>Finance Reason</b></th>
                <th class="text-center tableheader"><b>Deposit Type</b></th>
                <th class="text-center tableheader"><b>Bank Name</b></th>
                <th class="text-center tableheader"><b>Reason</b></th>
                <th class="text-center tableheader"><b>Receipts</b></th>
                <th class="text-center tableheader"><b>View AWB No.</b></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="resultCount==0">
                <td colspan="20" align="center">No record found</td>
              </tr>
              <tr v-for="(data,index) in listFinanceledgerData" v-bind:class="`${data.financereasonid == 84 ? 'mismatched' : ''}`">
                <td scope="row" class="text-center"><strong>{{pageno+index+1}}</strong></td>
                <td>{{HubName}}</td>
                <td>{{data.rscowner}}</td>
                <td>{{data.deliverydate}}</td>
                <td>{{data.depositdate}}</td>
                <td>{{data.openingbalance}}</td>
                <td>{{data.codamount}}</td>
                <td>{{data.bankdeposit}}</td>
                <td>{{data.actualrecamt}}</td>
                <td>{{data.exceptionamt}}</td>
                <td>{{data.cardissueamt}}</td>
                <td>{{data.othercharges}}</td>
                <td>{{data.balanceoutstanding}}</td>
                <td>{{StatusVal}}</td>
                <td>
                  <form v-on:submit.prevent="onUpdate(data.svcledgerid, data)">
                    <select style="width: 210px;" v-model="form.finreason[data.svcledgerid]"  v-bind:name="setid('finreason', data.svcledgerid)" v-bind:id="setid('finreason', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true, 'error': errors.has('finreason'+data.svcledgerid) }" :disabled="data.statusid == 6 ? true : false">
                      <option value="">--Select--</option>
                      <option v-for="finreason_obj in FinanceReasonList" v-bind:value="finreason_obj.ReasonsID" >{{finreason_obj.Reason}}</option>
                    </select>
                    <span v-bind:id="setid('finR', data.svcledgerid)" class="text-danger"></span>
                    <br v-show="form.finreason[data.svcledgerid] > 0 && form.hide[data.svcledgerid] == 0">
                    <input v-show="form.finreason[data.svcledgerid] > 0 && form.hide[data.svcledgerid] == 0" v-model="form.financeconfirmdate[data.svcledgerid]" v-bind:name="setid('financeconfirmdate', data.svcledgerid)" v-bind:id="setid('financeconfirmdate', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true, 'error': errors.has('financeconfirmdate'+data.svcledgerid) }" type="date">
                    <span v-bind:id="setid('finD', data.svcledgerid)" class="text-danger"></span>
                    <br v-show="form.finreason[data.svcledgerid] == 84 && form.hide[data.svcledgerid] == 0">
                    <input v-show="form.finreason[data.svcledgerid] == 84 && form.hide[data.svcledgerid] == 0" v-model="form.confirmamount[data.svcledgerid]" v-bind:name="setid('confirmamount', data.svcledgerid)" v-bind:id="setid('confirmamount', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true, 'error': errors.has('confirmamount'+data.svcledgerid) }" type="text" placeholder="Enter Received Amount">
                    <span v-bind:id="setid('finA', data.svcledgerid)" class="text-danger"></span>
                    <span v-show="form.hide[data.svcledgerid] == 0"><br><button class="btn btn-sm btn-primary" type="submit" :disabled = "data.statusid == 6" ><i class="fa fa-dot-circle-o"></i> Submit</button></span>
                </form>
                </td>
                <td>{{data.deposittype}}</td>
                <td>{{data.bank}}</td>
                <td>{{data.reason}}</td>
                <td>
                  <span v-bind:id='`${"vrl"+data.svcledgerid}`' v-if="data.files.length>0" @click="showHideImages(data.svcledgerid, 'vrl')" style="color: blue; cursor: pointer;"><u>Deposit</u></span>
                  <span v-bind:id='`${"vri"+data.svcledgerid}`' style="display: none;">
                    <a v-bind:title='`${file.name}`' v-for="file in data.files" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:20px; color:#4b8cbb; margin: 10px 10px 1px 1px;"></i></a>
                  </span>

                  <br><span v-bind:id='`${"vrrl"+data.svcledgerid}`' v-if="data.reasonfiles.length>0" @click="showHideImages(data.svcledgerid, 'vrrl')" style="color: blue; cursor: pointer;"><u>Other</u></span>
                  <span v-bind:id='`${"vrri"+data.svcledgerid}`' style="display: none;">
                    <a v-bind:title='`${file.name}`' v-for="file in data.reasonfiles" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:20px; color:#4b8cbb; margin: 10px 10px 1px 1px;"></i></a>
                  </span>
                </td>
                <td>
                  <span v-if="data.awbnocount!=''" @click="showAWBNo('Exception', data.awbno)" style="cursor:pointer; color: rgb(25,25,112);">Exception</span>
                  <br v-if="data.awbnocount!='' && data.cardawbnocount!=''">
                  <span v-if="data.cardawbnocount!=''" @click="showAWBNo('Card/Other Issue', data.cardawbno)" style="cursor:pointer; color: rgb(25,25,112);">Card/Other</span>
                </td>
              </tr>
            </tbody>
          </table><br>
          <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :click-handler="getPaginationData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
          </paginate>
        </div>
      </div>
    </div>
  </div>
</section>
