<section class="user">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="height: 370px;">
          <div class="card-header"><i class="fa fa-filter filter"></i> Closure</div>
          <div class="card-body">
            <form v-on:submit.prevent="onSubmit">
              <div class="form-group">
                <label>Zone</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <select name="zone" id="zone" class="form-control" v-model="zone" v-on:change="getHubData" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('zone') }">
                    <option value="">--Select--</option>
                    <option v-for="zone_obj in zoneList" v-bind:value="zone_obj.hubzoneid" >{{zone_obj.hubzonename}}</option>
                  </select>
                </b-input-group>
                <span v-show="errors.has('zone')" class="text-danger">The Zone field is required.</span>
              </div>
              <div class="form-group">
                <label>Hub</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <select name="HubId" id="HubId" class="form-control" v-model="HubId" v-validate="'required'" v-bind:class="{'form-control': true, 'error': errors.has('HubId') }">
                    <option value="">--Select--</option>
                    <option v-for="hub_obj in hubList" v-bind:value="hub_obj.HubID" v-bind:title="hub_obj.HubName">{{hub_obj.HubName}}</option>
                  </select>
                </b-input-group>
                <span v-show="errors.has('HubId')" class="text-danger">The Hub field is required.</span>
              </div>
              <div class="form-group">
                <label>Status</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <select name="status" id="status" class="form-control" v-model="status">
                    <option value="1" title="Open">Open</option>
                    <option value="6" title="Close">Close</option>
                  </select>
                </b-input-group>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Clear</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="card">
          <div class="card-header filter_main">
            <i class=" fa fa-align-justify"></i> Region
          </div>
          <div class="card-body">
            <form action="" method="post" class="form-horizontal">
              <div class="form-group row">
                <div class="col-md-3">
                  <div class="card border-primary">
                    <div class="card-header">East</div>
                    <div class="card-body">0.00</div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-primary">
                    <div class="card-header">West</div>
                    <div class="card-body">0.00</div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-primary">
                    <div class="card-header">North</div>
                    <div class="card-body">0.00</div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-primary">
                    <div class="card-header">South-1</div>
                    <div class="card-body">0.00</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-3">
                  <div class="card border-primary">
                    <div class="card-header">South-2</div>
                    <div class="card-body">0.00</div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-primary">
                    <div class="card-header">Central</div>
                    <div class="card-body">0.00</div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-primary">
                    <div class="card-header">North East</div>
                    <div class="card-body">0.00</div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-primary">
                    <div class="card-header">Total</div>
                    <div class="card-body">0.00</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card-headerfrm" style="margin-bottom: 15px;">
          <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;Result</h4>
          <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
          <table class="table-bordered table-hover tbl datatables" style="width:100%;">
            <thead>
              <tr class="text-primary">
                <th class="text-center tableheader"><b>#</b></th>
                <th class="text-center tableheader"><b>Hub</b></th>
                <th class="text-center tableheader"><b>Deposite Date</b></th>
                <th class="text-center tableheader"><b>Opening Amt</b></th>
                <th class="text-center tableheader"><b>COD Receivable</b></th>
                <th class="text-center tableheader"><b>Bank Deposited Amt</b></th>
                <th class="text-center tableheader"><b>Actual Received Amt</b></th>
                <th class="text-center tableheader"><b>Discrepancy Amt</b></th>
                <th class="text-center tableheader"><b>Balance Outstanding</b></th>
                <th class="text-center tableheader"><b>Status</b></th>
                <th class="text-center tableheader"><b>Finance Reason</b></th>
                <th class="text-center tableheader"><b>Deposit Type</b></th>
                <th class="text-center tableheader"><b>Bank Name</b></th>
                <th class="text-center tableheader"><b>Reason</b></th>
                <th class="text-center tableheader"><b>View</b></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="resultCount==0">
                <td colspan="15" align="center">No record found</td>
              </tr>
              <tr v-for="(data,index) in listFinanceledgerData">
                <td scope="row" class="text-center"><strong>{{index+1}}</strong></td>
                <td>{{HubName}}</td>
                <td>{{data.depositdate}}</td>
                <td>{{data.openingbalance}}</td>
                <td>{{data.codamount}}</td>
                <td>{{data.bankdeposit}}</td>
                <td>{{data.actualrecamt}}</td>
                <td>{{data.discrepancyamt}}</td>
                <td>{{data.balanceoutstanding}}</td>
                <td>{{StatusVal}}</td>
                <td>
                  <form v-on:submit.prevent="onUpdate">
                    <select v-model="form.finreason[data.svcledgerid]" v-bind:name="setid('finreason', data.svcledgerid)" v-bind:id="setid('finreason', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true, 'error': errors.has('finreason'+data.svcledgerid) }">
                      <option value="">--Select--</option>
                      <option v-for="finreason_obj in FinanceReasonList" v-bind:value="finreason_obj.ReasonsID" >{{finreason_obj.Reason}}</option>
                    </select>
                    <span v-show="errors.has('finreason'+data.svcledgerid)" class="text-danger">The Finance Reason field is required.</span>
                    <br v-show="form.finreason[data.svcledgerid] > 0">
                    <input v-show="form.finreason[data.svcledgerid] > 0" v-model="form.financeconfirmdate[data.svcledgerid]" v-bind:name="setid('financeconfirmdate', data.svcledgerid)" v-bind:id="setid('financeconfirmdate', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true, 'error': errors.has('financeconfirmdate'+data.svcledgerid) }" type="date">
                    <span v-show="errors.has('financeconfirmdate'+data.svcledgerid)" class="text-danger">The Finance Confirm Date field is required.</span>
                    <br v-show="form.finreason[data.svcledgerid] == 5">
                    <input v-show="form.finreason[data.svcledgerid] == 5" v-model="form.confirmamount[data.svcledgerid]" v-bind:name="setid('confirmamount', data.svcledgerid)" v-bind:id="setid('confirmamount', data.svcledgerid)" class="form-control" v-bind:class="{'form-control': true, 'error': errors.has('confirmamount'+data.svcledgerid) }" type="text" placeholder="Enter Received Amount">
                    <span v-show="errors.has('confirmamount'+data.svcledgerid)" class="text-danger">The Finance Confirm Amount field is required.</span>
                    <br>
                    <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
                </form>
                </td>

                <td>{{data.deposittype}}</td>
                <td>{{data.bank}}</td>
                <td>{{data.reason}}</td>
                <td><a href="">View Images</a></td>
              </tr>
            </tbody>
          </table><br>
          <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :click-handler="getPaginationData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
          </paginate>
        </div>
      </div>
    </div>
  </div>
</section>
