<section class="user">
  <div class="animated fadeIn">
    <div class="col-md-12 mb-2">
        <div class="card">
          <div class="card-header filter_main">
            <i class=" fa fa-filter filter"></i> Change Shipment Payment Mode
          </div>
          <div class="card-body">
            <form  v-on:submit.prevent="onSubmit">
              <div class="form-group row">
                <div class="col-md-4">
                  <label>Shipment Id <font color="red">*</font></label>
                  <b-input-group>
                    <input class="form-control" id="shipmentid" type="text" v-on:change="getShipmentReport()" name="shipmentid" placeholder="Enter Shipping Id" v-validate="{required: true}" v-model="shipmentid" v-bind:class="{'form-control': true, 'error': errors.has('shipmentid') }">
                  </b-input-group>
                  <span v-show="errors.has('shipmentid')" class="text-danger">Shipment Id is required.</span>
                </div>

                <div class="col-md-4">
                  <label>Epayment Type <font color="red">*</font></label>
                  <select class="form-control" id="epaymenttype" name="epaymenttype" v-on:change="GetEpaymentName" v-model="epaymenttype" v-validate="{required: true}" v-bind:class="{'form-control': true, 'error': errors.has('epaymenttype') }">
                    <option value="">--Select--</option>
                    <option value="cash">Cash</option>
                    <option value="wallet">Wallet</option>
                    <option value="payphi">Payphi</option>
                    <option value="card">Card</option>
                  </select>
                  <span v-show="errors.has('epaymenttype')" class="text-danger">Epayment type is required.</span>
                </div>
                <div class="col-md-4">
                  <label>Epayment Name <font color="red">*</font></label>
                  <select disabled class="form-control" id="epaymentname" v-model="epaymentname" name="epaymentname" v-validate="{required: true}"
                  v-bind:class="{'form-control': true, 'error': errors.has('epaymentname') }" style="margin-right: -8px;">
                    <option value="">--Select--</option>
                    <option v-for="Epayment_obj in EpaymentNameList" v-bind:value="Epayment_obj.EpaymentType" >{{Epayment_obj.EpaymentName}}</option>
                  </select>
                  <span v-show="errors.has('epaymentname')" class="text-danger">Epayment name is required.</span>
                </div>
              </div>
              <div class="form-group row">
              </div>
              <div class="card-footer">
                <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="submitLoading" />
                <button class="btn btn-sm btn-primary" title="Check Shipment Detail" @click="getShipmentReport()" type="button"><i class="fa fa-search"></i> Search</button>&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;
                <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-dot-circle-o"></i> Update</button>
                <button class="btn btn-sm btn-danger" @click="resetForm()" type="reset"><i class="fa fa-ban"></i> Clear</button>
                <br>
                <small class="text-muted"><font color="red">Note: * For search shipment detail, only fill  `Shipment Id` input field.</font></small>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card-headerfrm" style="margin-bottom: 15px;">
              <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp; Result</h4>
              <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="shipmentLoading" />
              <table class="table-bordered table-hover tbl datatables" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader"><b>#</b></th>
                    <th class="text-center tableheader"><b>Shipping Id</b></th>
                    <th class="text-center tableheader"><b>Status</b></th>
                    <th class="text-center tableheader"><b>Shipment Status</b></th>
                    <th class="text-center tableheader"><b>Epayment Type</b></th>
                    <th class="text-center tableheader"><b>Epayment Name</b></th>
                    <th class="text-center tableheader"><b>COD Amount ( <i class="fa fa-rupee"></i> )</b></th>
                    <th class="text-center tableheader"><b>Hub Name</b></th>
                    <th class="text-center tableheader"><b>Last Modified By</b></th>
                    <th class="text-center tableheader"><b>Last Modified Date</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="resultCount==0">
                    <td colspan="10" align="center">No record found</td>
                  </tr>
                  <tr v-for="(shipmentobj,index) in shipmentList">
                    <td class="text-center">{{pageno+index+1}}</td>
                    <td class="text-center">{{shipmentobj.ShippingID}}</td>
                    <td class="text-center">{{shipmentobj.Status}}</td>
                    <td class="text-center">{{shipmentobj.ShipmentStatus}}</td>
                    <td class="text-center">{{shipmentobj.EpaymentType}}</td>
                    <td class="text-center">{{shipmentobj.EpaymentName}}</td>
                    <td class="text-center">{{shipmentobj.NetPayment}}</td>
                    <td class="text-center">{{shipmentobj.CurrentHubName}}</td>
                    <td class="text-center">{{shipmentobj.LastModifiedBy}}</td>
                    <td class="text-center">{{shipmentobj.LastModifiedDate}}</td>
                  </tr>
                </tbody>
              </table><br>
              <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'"></paginate>
            </div>
         </div>
       </div>

       <b-modal ref="myConfModalRef" v-model="confModalShow" id=#confirmationmodal title="Confirmation">
         <div role="document">
           <div class="modal-content">
             <div class="modal-headerfrm">
               <h5 class="modal-title" style="font-size: 1rem;">Confirmation</h5>
               <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                 <span aria-hidden="true">×</span>
               </button>
             </div>
             <div class="modal-bodyfrm">
               <h5 style="font-size: 15px; padding: 10px; color:red;">Are you sure, you want to change `Epayment Type` from `{{OEpayType}}` to `{{NEpayType}}`</h5>
             </div>
             <div class="modal-footerfrm">
             <center>
               <button type="button" @click = "hideConfModal('0')" class="btn btn-success" style="background-color: #20a8d8;">Ok</button>
               <button type="button" @click = "hideConfModal('1')" class="btn btn-danger" style="background-color: #f86c6b;">Cancel</button>
             </center>
             </div>
           </div>
         </div>
       </b-modal>
    </div>
  </div>
</section>
