<section class="user">
  <div class="animated fadeIn">
    <div class="col-md-12 mb-2">
      <div class="card">
        <div class="card-header filter_main">
          <i class=" fa fa-filter filter"></i> Long Tail Remittance
        </div>
        <div class="card-body">
          <form v-on:submit.prevent="onSubmit" id="ltcform">
            <b-form-fieldset>
              <b-form-radio @input="changeRadio(selected)" name="searchview" id="searchview" :plain="true" :options="options" v-model="selected"></b-form-radio>
              <span id="opt" class="text-danger"></span>
              <hr style="margin-top: 0rem; margin-bottom: 0rem;">
            </b-form-fieldset>
            <div class="form-group row">
              <!-- <div class="col-md-3" v-show="selected=='Initiated'">
                <label>Remittance As On</label>
                <b-input-group left="<i class='fa fa-calendar'></i>">
                  <b-form-input id="remDate" type="date" name="remDate" v-model="remDate" v-bind:class="{'form-control': true, 'error': errors.has('remDate') }" style="height:45px;"></b-form-input>
                </b-input-group>
              </div> -->

              <div class="col-md-5">
                <label>Client Name/ Id</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="clientLoading" />
                  <Multiselect v-bind:multiple="multipleC()" :options="ClientList" name="Client" id="Client" v-model="Client" placeholder="Search Client Name/ Id" label="CompanyName" track-by="ClientId" :optionHeight="100" :hide-selected="true" style="border: 1px solid #c2cfd6;z-index:999">
                    <template slot="noResult"><p>No Record Found.</p></template>
                  </Multiselect>
                </b-input-group>
                <span id="clienterr" class="text-danger"></span>
              </div>

              <div class="col-md-4" v-show="selected!='Initiated'">
                <label>Date</label>
                <b-input-group left="<i class='fa fa-calendar'></i>">
                  <b-form-input id="fromDate" type="date" name="fromDate" v-model="fromDate" v-bind:class="{'form-control': true, 'error': errors.has('fromDate') }" style="height:45px; border-right-color: transparent;"></b-form-input>
                  <b-form-input id="toDate" type="date" name="toDate" v-model="toDate" v-bind:class="{'form-control': true, 'error': errors.has('toDate') }" style="height:45px; border-left-color: transparent;"></b-form-input>
                </b-input-group>
                <span id="fdate" class="text-danger"></span>
              </div>
            </div>

            <div class="card-footer">
              <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="excelLoading" />
              <span>
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                <button class="btn btn-sm btn-danger" @click="resetForm()" type="reset"><i class="fa fa-ban"></i> Clear</button>
              </span>
              <span v-if="selected!='Done'" style="margin: 0px 10px 0px 10px;"><b>|</b></span>
              <span>
                <button v-if="selected!='Done'" @click="exportData()" class="btn btn-sm btn-ltc" title="Download Remittance Report" type="button" style="width: 50px;"><i class="fa fa-download"></i></button>
                <label v-if="selected=='Initiated'" title="Bulk Remittance" for="remittancefile" class="custom-file-upload btn-ltc">Bulk Upload <i class="fa fa-upload"></i></label><input @change="onUpload" type="file" name="remittancefile" id="remittancefile"/>
                <button v-if="selected=='Initiated'" @click='bulkAction("Hold")' class="btn btn-sm btn-ltc" title="Hold Client Remittance" type="button" style="width: 70px;">Hold</button>
                <button v-if="selected!='Done'" @click='bulkAction("Done")' class="btn btn-sm btn-ltc" title="Approve Client Remittance" type="button" style="width: 85px;">Approve</button>
              </span>
            </div>
          </form>
        </div>

        <b-modal ref="ShipmentModalRef" v-model="modalShipmentShow"  id=#confirmationmodal3 title="Confirmation">
          <div role="document">
            <div class="modal-content">
              <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="shipLoading" />
              <div class="modal-headerfrm">
                <h5 v-if="shipmentList.length>0" class="modal-title" style="font-size: 1rem;">Total COD Shipments ({{shipmentList.length}})</h5>
                <h5 v-if="exceptionList.length>0" class="modal-title" style="font-size: 1rem;">Exception Shipments ({{exceptionList.length}})</h5>
                <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                  <span aria-hidden="true" style="color: white;">×</span>
                </button>
              </div>
              <div class="modal-bodyfrm">
                <table v-if="shipmentList.length>0" class="table-bordered table-hover tbl datatables" v-bind:class="`${(shipmentList.length>10) ? ' scroll' : ''}`" style="width:100%;">
                  <thead>
                    <tr class="text-primary">
                      <th class="text-center tableheader" style="width: 25px"><b>#</b></th>
                      <th class="text-center tableheader" style="width: 298px"><b>AWB Number</b></th>
                      <th class="text-center tableheader" style="width: 128px"><b>COD Amount ( <i class="fa fa-rupee"></i> )</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-if="shipmentList.length<=0">
                      <td colspan="3" align="center">No record found</td>
                    </tr>
                    <tr v-for="(val,index) in shipmentList">
                      <td class="text-center">{{index+1}}</td>
                      <td class="text-center" style="width: 70%">{{val.ShippingID}}</td>
                      <td class="text-center" style="width: 30%">{{val.NetPayment}}</td>
                    </tr>
                  </tbody>
                </table>

                <table v-if="exceptionList.length>0" class="table-bordered table-hover tbl datatables" v-bind:class="`${(exceptionList.length>10) ? ' scroll' : ''}`" style="width:100%;">
                  <thead>
                    <tr class="text-primary">
                      <th class="text-center tableheader" style="width: 25px"><b>#</b></th>
                      <th class="text-center tableheader" style="width: 298px"><b>AWB Number</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-if="exceptionList.length<=0">
                      <td colspan="2" align="center">No record found</td>
                    </tr>
                    <tr v-for="(val,index) in exceptionList">
                      <td class="text-center">{{index+1}}</td>
                      <td class="text-center" style="width: 70%">{{val}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </b-modal>

        <b-modal ref="myModalRef" v-model="ModalShow" id=#confirmationmodal title="Confirmation">
          <div role="document">
            <div class="modal-content">
              <div class="modal-headerfrm">
                <h5 class="modal-title">Remittance Approval</h5>
                <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-bodyfrm">
                <h5 v-if="singleArr.length>0" style="font-size:1rem; color:red;">Remittance for Client {{ singleArr.length>0 ? singleArr[0].ClientId : '' }} is Rs {{ singleArr.length>0 ? singleArr[0].RemittanceAmount : '' }}.</h5><br>
                <h5 v-if="ClientArr.length>0" style="font-size:1rem; color:red;">Remittance for checked clients.</h5><br>
                <h5 style="font-size:1rem; color:red;">Do you want to <b>{{ status=='Done' ? 'Approve' : 'Hold' }}</b> it.</h5>
              </div>
              <div class="modal-footerfrm">
              <center>
                <button type="button" @click="hideModal('0')" class="btn btn-success" style="background-color: #20a8d8;">Yes</button>
                <button type="button" @click = "hideModal('1')" class="btn btn-danger" style="background-color: #f86c6b;">No</button>
              </center>
              </div>
            </div>
          </div>
        </b-modal>

        <b-modal v-model="FCModal" @ok="FCModal = false" ref="myClosureModalRef">
          <div role="document">
            <div class="modal-content">
              <div class="modal-bodyfrm">
                <form id="FCform" v-on:submit.prevent="onUpdate()">
                  <div class="form-group">
                    <b-card>
                      <div slot="header">
                        <span class="mdltitle">Long Tail Remittance</span>
                        <button type="button" aria-label="Close" @click="closeStatusRoleModal" class="close">×</button>
                      </div>
                      <fieldset>
                        <div class="form-group row">
                          <div class="col-lg-12">
                            <b-form-fieldset>
                              <label>Remark</label>
                              <b-input-group>
                                <textarea rows="4" name = "holdremark" id="holdremark" ref="textarea" v-model="holdremark" v-validate="{required: true}" placeholder="Enter Hold Remark..." v-bind:class="{'form-control': true, 'error': errors.has('holdremark') }"></textarea>
                              </b-input-group>
                            </b-form-fieldset>
                          </div>
                        </div>
                        <div class="rolefooter form-actions">
                          <b-button class="btn btn-success" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
                          <b-button type="button" class="btn btn-danger" @click="closeStatusRoleModal">Cancel</b-button>
                        </div>
                      </fieldset>
                    </b-card>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </b-modal>

        <b-modal ref="myCommentModalRef" v-model="commentModalShow" id=#confirmationmodal title="Confirmation">
          <div role="document">
            <div class="modal-content">
              <div class="modal-headerfrm">
                <h5 class="modal-title">Reason/Remark</h5>
                <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                  <span aria-hidden="true" style="color: white;">×</span>
                </button>
              </div>
              <div class="modal-bodyfrm">
                <h5 style="font-size:0.9rem; color:black;">{{comment}}</h5>
              </div>
            </div>
          </div>
        </b-modal>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card-headerfrm" style="margin-bottom: 15px;">
            <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
            <table class="table-bordered table-hover tbl datatables scrolltb" style="width:100%;">
              <thead>
                <tr class="text-primary">
                  <th class="text-center tableheader"><b>#</b></th>
                  <th class="text-center tableheader" v-if="selected!='Done'">
                    <input type="checkbox" v-model="checkAll" @click="check">
                  </th>
                  <th class="text-center tableheader"><b>Client ID</b></th>
                  <th class="text-center tableheader"><b>Client Name</b></th>
                  <th class="text-center tableheader"><b>Delivery Cycle</b></th>
                  <th class="text-center tableheader"><b>COD Amount ( <i class="fa fa-rupee"></i> )</b></th>
                  <th class="text-center tableheader"><b>Exception Amount ( <i class="fa fa-rupee"></i> )</b></th>
                  <th class="text-center tableheader" v-if="selected!='Done'"><b>Wallet Balance ( <i class="fa fa-rupee"></i> )</b></th>
                  <th class="text-center tableheader" v-if="selected=='Done'"><b>Approved On</b></th>
                  <th class="text-center tableheader" v-if="selected!='Hold'"><b>Total Remittance ( <i class="fa fa-rupee"></i> )</b></th>
                  <th class="text-center tableheader" v-if="selected=='Hold'"><b>Hold Value ( <i class="fa fa-rupee"></i> )</b></th>
                  <th class="text-center tableheader" v-if="selected=='Hold'"><b>Reason/Remark</b></th>
                  <th class="text-center tableheader" v-if="selected!='Done'"><b>Action</b></th>
                  <th class="text-center tableheader" v-if="selected=='Done'"><b>Remittance Id</b></th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="resultCount==0">
                  <td v-bind:colspan="selected=='Done'?9:selected=='Hold'?11:10" align="center">No record found</td>
                </tr>
                <tr v-if="resultCount>0" v-for="(data,index) in listPendingRemittanceData">
                  <td scope="row" class="text-center"><strong>{{pageno+index+1}}</strong></td>
                  <td class="text-center" v-if="selected!='Done'">
                    <input type="checkbox" @change='updateCheck()' v-bind:name='`${"ClientId"+data.ClientId}`' v-bind:id='`${"ClientId"+data.ClientId}`' :value="data" v-model="ClientArr">
                  </td>
                  <td class="text-center">{{data.ClientId}}</td>
                  <td class="text-center">{{data.CompanyName}}</td>
                  <td class="text-center">{{data.Cycle}}</td>
                  <td class="text-center">{{data.CODAmount}}</td>
                  <td class="text-center">{{data.ExceptionAmount}} <i v-if="data.ExceptionAWB.length>0" class="fa fa-exclamation-circle" style="cursor: pointer;" aria-hidden="true" @click="exShipments(data.ExceptionAWB)"></i></td>
                  <td class="text-center" v-if="selected!='Done'">{{data.WalletBalance}}</td>
                  <td class="text-center" v-if="selected=='Done'">{{data.RemittanceDate}}</td>
                  <td class="text-center">{{data.RemittanceAmount}} <i class="fa fa-exclamation-circle" style="cursor: pointer;" aria-hidden="true" @click="ltcRemitShipments(data.FromDate, data.ToDate, data.ClientId)"></i></td>
                  <td class="text-center" v-if="selected=='Hold'">
                    <span @click="showComment(data.Remark)" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;" v-if="data.Remark">view</span>
                  </td>
                  <td v-if="selected=='Initiated'" class="text-center" style="font-size: x-large;">
                    <b @click="PopUp(data.RemittanceId)" style="cursor: pointer;">...</b>
                    <b><span v-bind:id='`${"popUpText"+data.RemittanceId}`' class="popUpText">
                      <span @click='action("Done", data)' style="cursor: pointer;">Approve</span>
                      <span aria-hidden="true" @click="closeStatusRoleModal" style="margin-left: 10px;cursor: pointer;">×</span>
                      <br>
                      <span @click='action("Hold", data)' style="cursor: pointer;">Hold</span>
                    </span></b>
                  </td>
                  <td v-if="selected=='Hold'" class="text-center" style="font-size: x-large;">
                    <button @click='action("Done", data)' class="btn btn-sm btn-ltc" title="Approve Client Remittance" type="button" style="width: 80px;">Approve</button>
                  </td>
                  <td class="text-center" v-if="selected=='Done'">{{data.RemittanceId}}</td>
                </tr>
              </tbody>
            </table><br>
            <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :click-handler="getPaginationData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'"></paginate>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
