<section>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-5">
        <div class="card">
          <div class="card-header"><i class="fa fa-align-justify"></i> COD SVC Day Closure</div>
          <div class="card-body">
            <form v-on:submit.prevent="onSubmit">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Delivery Date</span>
                  </div>
                  <b-form-input disabled id="DeliveryDate" type="date" name="DeliveryDate" v-validate="{required: true}"
                  v-model="DeliveryDate" v-bind:class="{'form-control': true, 'error': errors.has('DeliveryDate') }" style="margin-right: -5px;"></b-form-input>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('DeliveryDate')" class="text-danger">Please select delivery date. </span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Deposit Date</span>
                  </div>
                  <b-form-input id="DepositDate" type="date" name="DepositDate" v-validate="{required: true}"
                  v-model="DepositDate" v-bind:class="{'form-control': true, 'error': errors.has('DepositDate') }" style="margin-right: -5px;"></b-form-input>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('DepositDate')" class="text-danger">Please select deposit date. </span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Deposit Amount</span>
                  </div>
                  <input class="form-control" id="Deposit_Amount" type="text" name="Deposit_Amount" placeholder="Enter Deposit Amount" onkeypress="return event.charCode >= 48 && event.charCode <= 57||event.keyCode == 8"
                    v-validate="{required: true}" v-model="Deposit_Amount" v-bind:class="{'form-control': true, 'error': errors.has('Deposit_Amount') }" style="margin-right: 0px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-rupee"></i></span>
                  </div>
                </div>
                <span id="d_a" v-show="errors.has('Deposit_Amount')" class="text-danger">Please enter deposit amount. </span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Deposit Type</span>
                  </div>
                  <select class="form-control" id="DepositType" name="DepositType" v-on:change="GetBankData" v-validate="{required: true}"
                  v-model="DepositType" v-bind:class="{'form-control': true, 'error': errors.has('DepositType') }" style="margin-right: -3px;">
                    <option value="">--Select--</option>
                    <option value="1">Bank (Self) Deposit</option>
                    <option value="2">CMS (Cash) Deposit</option>
                    <option value="3">NEFT/Virtual/Other</option>
                  </select>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                  </div>
                </div>
                  <span v-show="errors.has('DepositType')" class="text-danger">Please select deposit type.  </span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Bank Name</span>
                  </div>
                  <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="bankLoading" />
                  <select class="form-control" id="BankMasterId" v-model="BankMasterId" name="BankMasterId" v-validate="{required: true}"
                  v-bind:class="{'form-control': true, 'error': errors.has('BankMasterId') }" style="margin-right: -8px;">
                    <option value="">--Select--</option>
                    <option v-for="Bank_obj in BankList" v-bind:value="Bank_obj.BankMasterId" >{{Bank_obj.BankName}}</option>
                  </select>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-bank"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('BankMasterId')" class="text-danger">Please select bank name.</span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Transaction Id</span>
                  </div>
                  <input class="form-control" id="TransactionID" type="text" name="TransactionID" placeholder="Enter Transaction Id" v-validate="{required: true}"
                  v-model="TransactionID" v-bind:class="{'form-control': true, 'error': errors.has('TransactionID') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-exchange"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('TransactionID')" class="text-danger">Please enter transaction id.</span>
              </div>

              <div class="form-group" v-if="exceptionList.length>0">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">AWB No.</span>
                  </div>
                  <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="exceptionLoading" />
                  <Multiselect :options="exceptionList" name="exception" id="exception" v-model="exception" @input="addExceptionData" placeholder="Select Shipping Id" label="ShippingID" track-by="ShippingID" :optionHeight="100" :preselect-first="false" v-bind:multiple="multiple()" :hide-selected="true" style="border: 1px solid #c2cfd6;z-index:999">
                     <template slot="noResult"><p>No Record Found.</p></template>
                  </Multiselect>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-align-justify"></i></span>
                  </div>
                </div>
              </div>

              <div class="form-group" v-if="exceptionList.length>0">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Exception Amount</span>
                  </div>
                  <input disabled class="form-control" id="exceptionAmount" type="text" name="exceptionAmount" placeholder="Enter Exception Amount"
                  v-model="exceptionAmount" v-bind:class="{'form-control': true}" style="margin-right: 1px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-rupee"></i></span>
                  </div>
                </div>
              </div>

              <div class="form-group" v-show="DepositType != ''">
                <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="DepositLoading" />
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Deposit Slip</span>
                  </div>
                  <input @change="onUpload" class="form-control" type="file" placeholder="Upload Deposit Slip"  v-validate="`${DepositType != '' ? 'required' : ''}`" name="DepositSlip" id="DepositSlip"
                  v-bind:class="{'form-control': true, 'error': errors.has('DepositSlip')}" style="margin: -5px 1px 0px 1px; height: 28px; border: 0;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-file"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('DepositSlip')" class="text-danger">Please upload deposit slip.</span>
                <a v-bind:title='`${file.name}`' v-for="file in uploadFileList" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:25px; color:#4b8cbb; margin: 10px 15px 1px 10px;"></i></a>
              </div>

              <div class="form-group" v-show="unmatchedAmt > 0" style="margin-top: -10px;">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Reason</span>
                  </div>
                  <select class="form-control" id="Reason" v-model="Reason" name="Reason" v-validate="`${unmatchedAmt > 0 ? 'required' : ''}`"
                  v-bind:class="{'form-control': true, 'error': errors.has('Reason') }" style="margin-right: -5px;">
                    <option value="">--Select--</option>
                    <option v-for="Reason_obj in ReasonList" v-bind:value="Reason_obj.ReasonsID" >{{Reason_obj.Reason}}</option>
                  </select>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('Reason')" class="text-danger">Rs.{{unmatchedAmt}} is remaining amount so, please select reason to verify.</span>
              </div>

              <div class="form-group" v-if="Reason==65">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Reason Amount</span>
                  </div>
                  <input class="form-control" id="ReasonAmount" type="text" name="ReasonAmount" title="Enter amount used for tax payment/ other purpose" placeholder="Enter amount used for tax payment/ other purpose" v-validate="`${Reason==65 ? 'required' : ''}`"
                  v-model="ReasonAmount" v-bind:class="{'form-control': true, 'error': errors.has('ReasonAmount') }" style="margin-right: -5px;" onkeypress="return event.charCode >= 48 && event.charCode <= 57||event.keyCode == 8">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-rupee"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('ReasonAmount')" class="text-danger">Please enter amount used for tax payment/ other purpose.</span>
              </div>

              <div class="form-group" v-if="Reason==65">
                <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="ReasonLoading" />
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Reason Slip</span>
                  </div>
                  <input @change="onUpload" class="form-control" type="file" placeholder="Upload Reason Slip" v-validate="{required: true}" name="ReasonSlip" id="ReasonSlip"
                  v-bind:class="{'form-control': true, 'error': errors.has('ReasonSlip')}" style="margin: -5px 1px 0px 1px; height: 28px; border: 0;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-file"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('ReasonSlip')" class="text-danger">Please upload slip used for tax payment/ other purpose.</span>
                <a v-bind:title='`${file.name}`' v-for="file in reasonFileList" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:25px; color:#4b8cbb; margin: 10px 15px 1px 10px;"></i></a>
              </div>

              <!-- <div class="form-group" v-if="Reason==78">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">AWB Number</span>
                  </div>
                  <input class="form-control" id="AWBNo" type="text" name="AWBNo" title="Enter AWB number" placeholder="Enter AWB number" v-validate="`${Reason==78 ? 'required' : ''}`"
                  v-model="AWBNo" v-bind:class="{'form-control': true, 'error': errors.has('AWBNo') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-truck"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Please enter comma (,) seperated AWB number.</span>
                <span v-show="errors.has('AWBNo')" class="text-danger"><br>Please enter AWB number.</span>
              </div>

              <div class="form-group" v-if="Reason==78">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Card Amount</span>
                  </div>
                  <input class="form-control" id="CardAmount" type="text" name="CardAmount" title="Enter total card amount" placeholder="Enter total card amount" v-validate="`${Reason==78 ? 'required' : ''}`"
                  v-model="CardAmount" v-bind:class="{'form-control': true, 'error': errors.has('CardAmount') }" style="margin-right: -5px;" onkeypress="return event.charCode >= 48 && event.charCode <= 57||event.keyCode == 8">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-rupee"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('CardAmount')" class="text-danger">Please enter total card amount.</span>
              </div> -->

              <div class="card-footer">
                <button v-bind:disabled="disableButton" class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button v-bind:disabled="disableButton" class="btn btn-sm btn-danger" @click="resetForm()" type="reset"><i class="fa fa-ban"></i> Clear</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header"><i class="fa fa-align-justify"></i> Denomination</div>

          <div class="card-body" style="height: 500px;">
            <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="denomLoading" />
            <table class="table table-responsive-sm" height="10" id="denomlist">
              <thead>
                <tr>
                  <th>Notes</th>
                  <th>Count</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="data in DenominationList">
                  <td class="notes">{{data.Denomination}}</td>
                  <td class="notes"><input class="form-control" :id="`${data.Denomination}`" type="number" min="0" name="`${data.Denomination}`" @change="notesCount" onkeypress="return event.charCode >= 48 && event.charCode <= 57"></td>
                  <td class="notes">
                    <input class="form-control" :id="`mo${data.Denomination}`" type="text" name="note_amt" value="0" disabled>
                    <input class="form-control" :id="`moi${data.Denomination}`" type="hidden" :value="`${data.DenominationID}`" disabled>
                  </td>
                </tr>
                <tr>
                  <td class="notes"></td>
                  <td class="notes"><strong>Total</strong></td>
                  <td class="notes"><input class="form-control" id="tot_amt" type="text" name="tot_amt"  v-model="tot_amt" value="0" disabled ></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> COD Amount</div>
          <div class="card-body">
            <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="penAmtLoading" />
            <table class="table table-responsive-sm">
              <tbody>
                <tr>
                  <td>Yesterday</td>
                  <td id="ClosingBalance"><i class="fa fa-rupee"></i> {{yesterdayCODAmt}}</td>
                </tr>
                <tr>
                  <td>Pending</td>
                  <td id="CODAmount"><i class="fa fa-rupee"></i> {{pendingCODAmt}}</td>
                </tr>
                <tr>
                  <td>Exception</td>
                  <td id="ExceptionAmount"><i class="fa fa-rupee"></i> {{exceptionAmount}}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td id="TolatCollection"><i class="fa fa-rupee"></i> {{TolatCollection}}</td>
                </tr>
                <!-- <tr>
                  <td>Total P2P Amount</td>
                  <td id="p2pamt">{{p2pAmount}}</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <b-modal ref="myModalRef" v-model="modalShow"  id=#confirmationmodal title="Confirmation">
        <div role="document">
          <div class="modal-content">
            <div class="modal-headerfrm">
              <h5 class="modal-title">Confirmation</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <h5 style="font-size:1rem; color:red;">Remaining Amount is Rs. {{unmatchedAmt}}</h5>
            </div>
            <div class="modal-footerfrm">
            <center><button type="button"  @click="modalShow = false" class="btn btn-success" style="background-color: #20a8d8;">OK</button></center>
            </div>
          </div>
        </div>
      </b-modal>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card-headerfrm" style="margin-bottom: 15px;">
          <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;Result&nbsp;&nbsp;<span v-if="resultCount>0" style="font-size:13px;"><b>({{resultdate}})</b></span></h4>
          <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
          <table class="table-bordered table-hover tbl datatables scrolltb" style="width:100%;">
            <thead>
              <tr class="text-primary">
                <th class="text-center tableheader"><b>#</b></th>
                <th class="text-center tableheader"><b>Delivery Date</b></th>
                <th class="text-center tableheader"><b>Deposit Date</b></th>
                <th class="text-center tableheader"><b>Deposit Type</b></th>
                <th class="text-center tableheader"><b>Opening Amount</b></th>
                <th class="text-center tableheader"><b>COD Receivable</b></th>
                <th class="text-center tableheader"><b>Bank Name</b></th>
                <th class="text-center tableheader"><b>Bank Deposited Amount</b></th>
                <th class="text-center tableheader"><b>Exception Amount</b></th>
                <!-- <th class="text-center tableheader"><b>Card Issue Amount</b></th> -->
                <th class="text-center tableheader"><b>Other Charges</b></th>
                <th class="text-center tableheader"><b>Balance Outstanding</b></th>
                <th class="text-center tableheader"><b>Status</b></th>
                <th class="text-center tableheader"><b>Reason</b></th>
                <th class="text-center tableheader"><b>Finance Reason</b></th>
                <th class="text-center tableheader"><b>Receipts</b></th>
                <th class="text-center tableheader"><b>AWB No.</b></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="resultCount==0">
                <td colspan="16" align="center">No record found</td>
              </tr>
              <tr v-for="(data,index) in listSVCledgerData" v-bind:class="`${data.createdby == 'schedular@xpressbees.com' ? 'scheduler' : ''}`">
                <td scope="row" class="text-center"><strong>{{pageno+index+1}}</strong></td>
                <td>{{data.deliverydate}}</td>
                <td>{{data.bankdepositdate}}</td>
                <td>{{data.deposittype}}</td>
                <td>{{data.openingbalance}}</td>
                <td>{{data.codamount}}</td>
                <td>{{data.bankname}}</td>
                <td>{{data.bankdeposit}}</td>
                <td>{{data.exceptionamt}}</td>
                <!-- <td>{{data.cardissueamt}}</td> -->
                <td>{{data.othercharges}}</td>
                <td>{{data.closingbalance}}</td>
                <td v-if="data.statusid==1">Open</td>
                <td v-if="data.statusid==6">Close</td>
                <td>{{data.Reason}}</td>
                <td>{{data.financereason}}</td>
                <td class="text-center">
                  <span v-bind:id='`${"vrl"+data.svcledgerid}`' v-if="data.createdby!='schedular@xpressbees.com'" @click="showHideImages(data.svcledgerid, 'vrl')" style="color: blue; cursor: pointer;"><u>Deposit</u></span>
                  <span v-bind:id='`${"vri"+data.svcledgerid}`' style="display: none;">
                    <a v-bind:title='`${file.name}`' v-for="file in data.files" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:20px; color:#4b8cbb; margin: 10px 10px 1px 1px;"></i></a>
                  </span>

                  <br><span v-bind:id='`${"vrrl"+data.svcledgerid}`' v-if="data.reasonfiles.length>0 && data.createdby!='schedular@xpressbees.com'" @click="showHideImages(data.svcledgerid, 'vrrl')" style="color: blue; cursor: pointer;"><u>Other</u></span>
                  <span v-bind:id='`${"vrri"+data.svcledgerid}`' style="display: none;">
                    <a v-bind:title='`${file.name}`' v-for="file in data.reasonfiles" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:20px; color:#4b8cbb; margin: 10px 10px 1px 1px;"></i></a>
                  </span>
                </td>
                <td class="popup" @click="showAWBNo(data.svcledgerid, 'awb')">{{data.awbnocount}} <span v-if="data.awbnocount!=''" class="popuptext" v-bind:id='`${"awb"+data.svcledgerid}`'><b>{{data.awbno}}</b></span></td>
              </tr>
            </tbody>
          </table><br>
          <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :click-handler="getPaginationData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
          </paginate>
        </div>
      </div>
    </div>
  </div>
</section>
