<section>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-5">
        <div class="card">
          <div class="card-header"><i class="fa fa-align-justify"></i> COD Yesterday's Closure Of SVC</div>
          <div class="card-body">
            <form v-on:submit.prevent="onSubmit" id="svcform">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Delivery Date <font color="red">&nbsp;*</font></span>
                  </div>
                  <b-form-input disabled id="DeliveryDate" type="date" name="DeliveryDate" v-validate="{required: true}"
                  v-model="DeliveryDate" v-bind:class="{'form-control': true, 'error': errors.has('DeliveryDate') }" style="margin-right: -5px;"></b-form-input>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('DeliveryDate')" class="text-danger">Delivery date is required. </span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Deposit Date <font color="red">&nbsp;*</font></span>
                  </div>
                  <b-form-input id="DepositDate" type="date" name="DepositDate" v-validate="{required: true}"
                  v-model="DepositDate" v-bind:class="{'form-control': true, 'error': errors.has('DepositDate') }" style="margin-right: -5px;"></b-form-input>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('DepositDate')" class="text-danger">Deposit date is required. </span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Deposit Amount <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" disabled @change="changeDepType" id="Deposit_Amount" type="text" name="Deposit_Amount" placeholder="Enter Deposit Amount" onkeypress="return event.charCode >= 48 && event.charCode <= 57||event.keyCode == 8"
                    v-validate="{required: true}" v-model="Deposit_Amount" v-bind:class="{'form-control': true, 'error': errors.has('Deposit_Amount') }" style="margin-right: 0px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-rupee"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: For deposit amount, please enter denomination details.</span>
                <span id="d_a" v-show="errors.has('Deposit_Amount')" class="text-danger"><br/>Deposit amount is required. </span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Deposit Type <font color="red">&nbsp;*</font></span>
                  </div>
                  <select class="form-control" id="DepositType" name="DepositType" v-on:change="GetBankData" v-validate="{required: true}"
                  v-model="DepositType" v-bind:class="{'form-control': true, 'error': errors.has('DepositType') }" style="margin-right: -3px;">
                    <option value="">--Select--</option>
                    <option value="1">Bank (Self) Deposit</option>
                    <option value="2">CMS (Cash) Deposit</option>
                    <option value="3">NEFT/Virtual/Other</option>
                  </select>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                  </div>
                </div>
                  <span v-show="errors.has('DepositType')" class="text-danger">Deposit type is required.  </span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Bank Name <font color="red">&nbsp;*</font></span>
                  </div>
                  <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="bankLoading" />
                  <select class="form-control" id="BankMasterId" v-model="BankMasterId" name="BankMasterId" v-validate="{required: true}"
                  v-bind:class="{'form-control': true, 'error': errors.has('BankMasterId') }" style="margin-right: -8px;">
                    <option value="">--Select--</option>
                    <option v-for="Bank_obj in BankList" v-bind:value="Bank_obj.BankMasterId" >{{Bank_obj.BankName}}</option>
                  </select>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-bank"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('BankMasterId')" class="text-danger">Bank name is required.</span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Transaction Id <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="TransactionID" type="text" name="TransactionID" placeholder="Enter Transaction Id" v-validate="{required: true}"
                  v-model="TransactionID" v-bind:class="{'form-control': true, 'error': errors.has('TransactionID') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-exchange"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Enter comma (,) separated transaction ids.</span>
                <span v-show="errors.has('TransactionID')" class="text-danger"><br>Transaction id is required.</span>
              </div>

              <div class="form-group" v-if="exceptionList.length>0">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Exception AWB No.</span>
                  </div>
                  <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="exceptionLoading" />
                  <Multiselect disabled :options="exceptionList" name="exception" id="exception" v-model="exception" @input="addExceptionData" placeholder="Select AWB No" label="ShippingID" track-by="ShippingID" :optionHeight="100" :preselect-first="false" v-bind:multiple="multiple()" :hide-selected="true" style="border: 1px solid #c2cfd6;z-index:999">
                     <template slot="noResult"><p>No Record Found.</p></template>
                  </Multiselect>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-align-justify"></i></span>
                  </div>
                </div>
              </div>

              <div class="form-group" v-if="exceptionList.length>0">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Exception Amount</span>
                  </div>
                  <input disabled class="form-control" id="exceptionAmount" type="text" name="exceptionAmount" placeholder="Enter Exception Amount"
                  v-model="exceptionAmount" v-bind:class="{'form-control': true}" style="margin-right: 1px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-rupee"></i></span>
                  </div>
                </div>
              </div>

              <div class="form-group" v-show="DepositType != ''">
                <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="DepositLoading" />
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Deposit Slip <font color="red">&nbsp;*</font></span>
                  </div>
                  <input @change="onUpload" class="form-control" type="file" placeholder="Upload Deposit Slip"  v-validate="`${uploadFileList.length<=0 ? 'required' : ''}`" name="DepositSlip" id="DepositSlip"
                  v-bind:class="{'form-control': true, 'error': errors.has('DepositSlip')}" style="margin: -5px 1px 0px 1px; height: 40px; border: 0;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-file"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Upload multiple deposit slip one by one.<br></span>
                <span v-show="errors.has('DepositSlip')" id="dps" class="text-danger">Deposit slip is required.</span>
                <a v-bind:title='`${file.name}`' v-for="file in uploadFileList" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:25px; color:#4b8cbb; margin: 10px 15px 1px 10px;"></i></a>
              </div>

              <!-- <div class="form-group" v-show="unmatchedAmt != 0" style="margin-top: -10px;">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Reason <font color="red">&nbsp;*</font></span>
                  </div>
                  <select class="form-control" @change="setReasonId" id="Reason" v-model="Reason" name="Reason" v-validate="`${unmatchedAmt > 0 ? 'required' : ''}`"
                  v-bind:class="{'form-control': true, 'error': errors.has('Reason') }" style="margin-right: -5px;">
                    <option value="">--Select--</option>
                    <option v-for="Reason_obj in ReasonList" v-bind:value="Reason_obj.ReasonsID" >{{Reason_obj.Reason}}</option>
                  </select>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('Reason')" class="text-danger">{{unmatchedAmt}} Rs is remaining amount, please select reason.</span>
              </div> -->

              <div class="multiselect" v-show="unmatchedAmt > 0">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Reason <font color="red">&nbsp;*</font></span>
                  </div>
                  <div class="selectBox" @click="showCheckboxes()">
                    <select>
                      <option>-- Select Reason --</option>
                    </select>
                    <div class="overSelect"></div>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                  </div>
                </div>
                <div id="checkboxes">
                  <label v-for="Reason_obj in ReasonList" v-bind:for="setid(Reason_obj.ReasonsID)">
                    <input type="checkbox" name="reason" v-bind:id="setid(Reason_obj.ReasonsID)" @change="showHideReasonField(Reason_obj.ReasonsID)" />&nbsp;&nbsp;{{Reason_obj.Reason}}</label>
                </div>
                <span class="text-danger">Note: {{unmatchedAmt}} Rs is remaining amount, please select reason.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && amoimp">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Reason Amount <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="ReasonAmount" type="text" name="ReasonAmount" title="Enter amount used for tax payment/ imprest" placeholder="Enter amount used for tax payment/ imprest" v-validate="`${amoimp ? 'required' : ''}`"
                  v-model="ReasonAmount" v-bind:class="{'form-control': true, 'error': errors.has('ReasonAmount') }" style="margin-right: -5px;" onkeypress="return event.charCode >= 48 && event.charCode <= 57||event.keyCode == 8">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-rupee"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('ReasonAmount')" class="text-danger">Reason amount used for tax payment/ imprest is required.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && amoimp">
                <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="ReasonLoading" />
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Reason Slip <font color="red">&nbsp;*</font></span>
                  </div>
                  <input @change="onUpload" class="form-control" type="file" placeholder="Upload Reason Slip" v-validate="`${(amoimp && reasonFileList.length<=0) ? 'required' : ''}`" name="ReasonSlip" id="ReasonSlip"
                  v-bind:class="{'form-control': true, 'error': errors.has('ReasonSlip')}" style="margin: -5px 1px 0px 1px; height: 40px; border: 0;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-file"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Upload multiple reason slip one by one.<br></span>
                <span v-show="errors.has('ReasonSlip')" id="rss" class="text-danger">Reason slip used for tax payment/ imprest is required.</span>
                <a v-bind:title='`${file.name}`' v-for="file in reasonFileList" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:25px; color:#4b8cbb; margin: 10px 15px 1px 10px;"></i></a>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && cariss">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="carissAWBNo" type="text" name="carissAWBNo" title="Enter Card AWB number" placeholder="Card AWB No." v-validate="`${cariss ? 'required' : ''}`"
                  v-model="carissAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('carissAWBNo') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-truck"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Please enter comma (,) seperated AWB number.</span>
                <span id="awb_n" v-show="errors.has('carissAWBNo')" class="text-danger"><br>Card AWB No. is required.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && cassnat">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="cassnatAWBNo" type="text" name="cassnatAWBNo" title="Enter Cash/shipmet snatched by Customer AWB No." placeholder="Cash/shipmet snatched by Customer AWB No." v-validate="`${cassnat ? 'required' : ''}`"
                  v-model="cassnatAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('cassnatAWBNo') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-truck"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Please enter comma (,) seperated AWB number.</span>
                <span id="awb_n" v-show="errors.has('cassnatAWBNo')" class="text-danger"><br>Cash/shipmet snatched by Customer AWB No. is required.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && paychg">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="paychgAWBNo" type="text" name="paychgAWBNo" title="Enter Payment Mode Changed AWB No." placeholder="Payment Mode Changed AWB No." v-validate="`${paychg ? 'required' : ''}`"
                  v-model="paychgAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('paychgAWBNo') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-truck"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Please enter comma (,) seperated AWB number.</span>
                <span id="awb_n" v-show="errors.has('paychgAWBNo')" class="text-danger"><br>Payment Mode Changed AWB No. is required.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && vendrec">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="vendrecAWBNo" type="text" name="vendrecAWBNo" title="Enter Vendor Recovery AWB No." placeholder="Vendor Recovery AWB No." v-validate="`${vendrec ? 'required' : ''}`"
                  v-model="vendrecAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('vendrecAWBNo') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-truck"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Please enter comma (,) seperated AWB number.</span>
                <span id="awb_n" v-show="errors.has('vendrecAWBNo')" class="text-danger"><br>Vendor Recovery AWB No. is required.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && casstol">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="casstolAWBNo" type="text" name="casstolAWBNo" title="Enter Cash stolen by unidentified party AWB No." placeholder="Cash stolen by unidentified party AWB No." v-validate="`${casstol ? 'required' : ''}`"
                  v-model="casstolAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('casstolAWBNo') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-truck"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Please enter comma (,) seperated AWB number.</span>
                <span id="awb_n" v-show="errors.has('casstolAWBNo')" class="text-danger"><br>Cash stolen by unidentified party AWB No. is required.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && theftstol">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="theftstolAWBNo" type="text" name="theftstolAWBNo" title="Enter Theft/Stolen cases AWB No." placeholder="Theft/Stolen cases AWB No." v-validate="`${theftstol ? 'required' : ''}`"
                  v-model="theftstolAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('theftstolAWBNo') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-truck"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Please enter comma (,) seperated AWB number.</span>
                <span id="awb_n" v-show="errors.has('theftstolAWBNo')" class="text-danger"><br>Theft/Stolen cases AWB No. is required.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && wrongdel">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="wrongdelAWBNo" type="text" name="wrongdelAWBNo" title="Enter Wrong Delivered Shipments AWB No." placeholder="Wrong Delivered Shipments AWB No." v-validate="`${wrongdel ? 'required' : ''}`"
                  v-model="wrongdelAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('wrongdelAWBNo') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-truck"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Please enter comma (,) seperated AWB number.</span>
                <span id="awb_n" v-show="errors.has('wrongdelAWBNo')" class="text-danger"><br>Wrong Delivered Shipments AWB No. is required.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && srabsc">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="srabscAWBNo" type="text" name="srabscAWBNo" title="Enter SR absconding AWB No." placeholder="SR absconding AWB No." v-validate="`${srabsc ? 'required' : ''}`"
                  v-model="srabscAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('srabscAWBNo') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-truck"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Please enter comma (,) seperated AWB number.</span>
                <span id="awb_n" v-show="errors.has('srabscAWBNo')" class="text-danger"><br>SR absconding AWB No. is required.</span>
              </div>

              <!-- <div class="form-group" v-if="unmatchedAmt > 0 && srtpsr">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="srtpsrAWBNo" type="text" name="srtpsrAWBNo" title="Enter Short payment by SR AWB No." placeholder="Short payment by SR AWB No." v-validate="`${srtpsr ? 'required' : ''}`"
                  v-model="srtpsrAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('srtpsrAWBNo') }" style="margin-right: -5px;">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-truck"></i></span>
                  </div>
                </div>
                <span class="text" style="font-size: 0.8rem; color: #5D5D5D;">Note: Please enter comma (,) seperated AWB number.</span>
                <span id="awb_n" v-show="errors.has('srtpsrAWBNo')" class="text-danger"><br>Short payment by SR AWB No. is required.</span>
              </div> -->
              <div class="form-group" v-if="unmatchedAmt > 0 && srtpsr">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 140px;">
                    <span class="input-group-text" style="width: 140px;">Amount <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="srtpsrAmt" type="text" name="srtpsrAmt" title="Enter short payment by SR amount" placeholder="Short payment by SR amount" v-validate="`${srtpsr ? 'required' : ''}`"
                  v-model="srtpsrAmt" v-bind:class="{'form-control': true, 'error': errors.has('srtpsrAmt') }" style="margin-right: -5px;" onkeypress="return event.charCode >= 48 && event.charCode <= 57||event.keyCode == 8">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-rupee"></i></span>
                  </div>
                </div>
                <span v-show="errors.has('srtpsrAmt')" class="text-danger">Short payment by SR amount is required.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && nddiss">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="nddissAWBNo" type="text" name="nddissAWBNo" title="Enter Non-Delivery dispute AWB number" placeholder="Non-Delivery dispute AWB No." v-validate="`${nddiss ? 'required' : ''}`"
                  v-model="nddissAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('nddissAWBNo') }">
                </div>
                <span id="awb_n" v-show="errors.has('nddissAWBNo')" class="text-danger">Non-Delivery dispute AWB No. is required.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && waliss">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="walissAWBNo" type="text" name="walissAWBNo" title="Enter Wallet AWB number" placeholder="Wallet AWB No." v-validate="`${waliss ? 'required' : ''}`"
                  v-model="walissAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('walissAWBNo') }">
                </div>
                <span id="awb_n" v-show="errors.has('walissAWBNo')" class="text-danger">Wallet AWB No. is required.</span>
              </div>

              <div class="form-group" v-if="unmatchedAmt > 0 && paypiss">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">AWB No. <font color="red">&nbsp;*</font></span>
                  </div>
                  <input class="form-control" id="paypissAWBNo" type="text" name="paypissAWBNo" title="Enter Payphi AWB number" placeholder="Payphi AWB No." v-validate="`${paypiss ? 'required' : ''}`"
                  v-model="paypissAWBNo" v-bind:class="{'form-control': true, 'error': errors.has('paypissAWBNo') }">
                </div>
                <span id="awb_n" v-show="errors.has('paypissAWBNo')" class="text-danger">Payphi AWB No. is required.</span>
              </div>

              <div class="card-footer">
                <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="subLoading" />
                <button v-bind:disabled="disableButton" class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button v-bind:disabled="disableButton" class="btn btn-sm btn-danger" @click="resetForm()" type="reset"><i class="fa fa-ban"></i> Clear</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header"><i class="fa fa-align-justify"></i> Denomination <font color="red">&nbsp;*</font></div>

          <div class="card-body" style="height: 500px;">
            <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="denomLoading" />
            <table class="table table-responsive-sm" height="10" id="denomlist">
              <thead>
                <tr>
                  <th>Notes</th>
                  <th>Count</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="data in DenominationList">
                  <td class="notes">{{data.Denomination}}</td>
                  <td class="notes"><input class="form-control" :id="`${data.Denomination}`" type="number" min="0" name="`${data.Denomination}`" @change="notesCount" onkeypress="return event.charCode >= 48 && event.charCode <= 57"></td>
                  <td class="notes">
                    <input class="form-control" :id="`mo${data.Denomination}`" type="text" name="note_amt" value="0" disabled>
                    <input class="form-control" :id="`moi${data.Denomination}`" type="hidden" :value="`${data.DenominationID}`" disabled>
                  </td>
                </tr>
                <tr>
                  <td class="notes"></td>
                  <td class="notes"><strong>Total</strong></td>
                  <td class="notes"><input class="form-control" id="tot_amt" type="text" name="tot_amt"  v-model="tot_amt" value="0" disabled ></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> COD Amount</div>
          <div class="card-body">
            <vue-element-loading spinner="mini-spinner" color="#FF6700" :active.sync="penAmtLoading" />
            <table class="table table-responsive-sm">
              <tbody>
                <tr>
                  <td>Yesterday</td>
                  <td id="ClosingBalance"><i class="fa fa-rupee"></i> {{yesterdayCODAmt}}</td>
                </tr>
                <tr>
                  <td>Pending</td>
                  <td id="CODAmount"><i class="fa fa-rupee"></i> {{pendingCODAmt}}</td>
                </tr>
                <tr>
                  <td>Exception</td>
                  <td id="ExceptionAmount"><i class="fa fa-rupee"></i> {{exceptionAmount}}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td id="TolatCollection"><i class="fa fa-rupee"></i> {{TolatCollection}}</td>
                </tr>
                <!-- <tr>
                  <td>Total P2P Amount</td>
                  <td id="p2pamt">{{p2pAmount}}</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <b-modal ref="myModalRef" v-model="modalShow"  id=#confirmationmodal title="Confirmation">
        <div role="document">
          <div class="modal-content">
            <div class="modal-headerfrm">
              <h5 class="modal-title">Confirmation</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <h5 style="font-size:1rem; color:red;">{{unmatchedAmt}} Rs. is remaining amount, please select reason</h5>
            </div>
            <div class="modal-footerfrm">
            <center><button type="button"  @click="modalShow = false" class="btn btn-success" style="background-color: #20a8d8;">Ok</button></center>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal ref="myConfModalRef" v-model="ConfmodalShow"  id=#confirmationmodal title="Confirmation">
        <div role="document">
          <div class="modal-content">
            <div class="modal-headerfrm">
              <h5 class="modal-title">Confirmation</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <h5 style="font-size:1rem; color:red;">Are you sure to submit the SVC closure.</h5>
            </div>
            <div class="modal-footerfrm">
            <center>
              <button type="button" @click="hideConfModal('0')" class="btn btn-success" style="background-color: #20a8d8;">Ok</button>
              <button type="button" @click = "hideConfModal('1')" class="btn btn-danger" style="background-color: #f86c6b;">Cancel</button>
            </center>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal ref="myExModalRef" v-model="ExmodalShow" id=#confirmationmodal title="Confirmation">
        <div role="document">
          <div class="modal-content">
            <div class="modal-headerfrm">
              <h5 class="modal-title">Confirmation</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <h5 style="font-size:1rem; color:red;">Please make sure you have enter extra amount of Rs. {{ExData}}</h5>
            </div>
            <div class="modal-footerfrm">
            <center>
              <button type="button" @click = "hideExModal('0')" class="btn btn-success" style="background-color: #20a8d8;">Ok</button>
              <button type="button" @click = "hideExModal('1')" class="btn btn-danger" style="background-color: #f86c6b;">Cancel</button>
            </center>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal ref="myCardModalRef" v-model="cardModalShow" id=#confirmationmodal1 title="Confirmation">
        <div role="document">
          <div class="modal-content" style="width: 150%;">
            <div class="modal-headerfrm">
              <h5 class="modal-title" style="font-size: 1rem;">AWB No & AWB Amount Confirmation</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true" style="color: white;">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <table class="table-bordered table-hover tbl datatables" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader" style="width: 1%"><b>#</b></th>
                    <th class="text-center tableheader" style="width: 50%"><b>Reason</b></th>
                    <th class="text-center tableheader" style="width: 49%">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr class="text-primary">
                          <th class="text-center tableheader" style="width:25%"><b>AWB Number</b></th>
                          <th class="text-center tableheader" style="width:10%"><b>Amount ( <i class="fa fa-rupee"></i> )</b></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="DisputeArr.length<=0">
                    <td colspan="3" align="center">No record found</td>
                  </tr>
                  <tr v-for="(val,index) in DisputeArr">
                    <td class="text-center" style="width: 1%">{{index+1}}</td>
                    <td class="text-center" style="width: 50%">{{val.Reason}}</td>
                    <td class="text-center" style="width: 49%" v-if="val.ReasonAmt">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr>
                          <td class="text-center" style="width:20%">&nbsp;</td>
                          <td class="text-center" style="width:9%">{{val.ReasonAmt}}</td>
                        </tr>
                      </table>
                    </td>
                    <td class="text-center" style="width: 49%" v-if="!val.ReasonAmt">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr v-for="(row, ind) in val.awb">
                          <td class="text-center" style="width:21%">{{(Object.keys(row)) ? Object.keys(row).toString() : ''}}</td>
                          <td class="text-center" style="width:9%">{{(Object.values(row)) ? Object.values(row).toString() : ''}}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footerfrm">
              <center>
                <button type="button" @click = "hideCardModal('0')" class="btn btn-success" style="background-color: #20a8d8;">Ok</button>
                <button type="button" @click = "hideCardModal('1')" class="btn btn-danger" style="background-color: #f86c6b;">Cancel</button>
              </center>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal ref="myReasonModalRef" v-model="ReasonModalShow" id=#confirmationmodal2 title="Confirmation">
        <div role="document">
          <div class="modal-content" style="width: 150%;">
            <div class="modal-headerfrm">
              <h5 class="modal-title" style="font-size: 1rem;">Reason AWB No/Amount</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true" style="color: white;">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <table class="table-bordered table-hover tbl datatables" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader" style="width: 1%"><b>#</b></th>
                    <th class="text-center tableheader" style="width: 50%"><b>Reason</b></th>
                    <th class="text-center tableheader" style="width: 49%">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr class="text-primary">
                          <th class="text-center tableheader" style="width:25%"><b>AWB Number</b></th>
                          <th class="text-center tableheader" style="width:10%"><b>Amount ( <i class="fa fa-rupee"></i> )</b></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="DisputeArr.length<=0">
                    <td colspan="3" align="center">No record found</td>
                  </tr>
                  <tr v-for="(val,index) in DisputeArr">
                    <td class="text-center" style="width: 1%">{{index+1}}</td>
                    <td class="text-center" style="width: 50%">{{val.Reason}}</td>
                    <td class="text-center" style="width: 49%" v-if="val.ReasonAmt">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr>
                          <td class="text-center" style="width:21%">&nbsp;</td>
                          <td class="text-center" style="width:9%">{{val.ReasonAmt}}</td>
                        </tr>
                      </table>
                    </td>
                    <td class="text-center" style="width: 49%" v-if="!val.ReasonAmt">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr v-for="(row, ind) in val.awb">
                          <td class="text-center" style="width:21%">{{(Object.keys(row)) ? Object.keys(row).toString() : ''}}</td>
                          <td class="text-center" style="width:9%">{{(Object.values(row)) ? Object.values(row).toString() : ''}}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal ref="myRecExcModalRef" v-model="RecExcModalShow" id=#confirmationmodal3 title="Confirmation">
        <div role="document">
          <div class="modal-content" style="width: 150%;">
            <div class="modal-headerfrm">
              <h5 class="modal-title" style="font-size: 1rem;">Self Debit/Recovery & Exception AWB No/Amount</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true" style="color: white;">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <table class="table-bordered table-hover tbl datatables" style="width:100%;">
                <thead>
                  <tr class="text-primary">
                    <th class="text-center tableheader" style="width: 1%"><b>#</b></th>
                    <th class="text-center tableheader" style="width: 50%"><b>Reason</b></th>
                    <th class="text-center tableheader" style="width: 49%">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr class="text-primary">
                          <th class="text-center tableheader" style="width:25%"><b>AWB Number</b></th>
                        </tr>
                      </table>
                    </th>
                    <th class="text-center tableheader" style="width:10%"><b>Amount ( <i class="fa fa-rupee"></i> )</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="DisputeArr.length<=0">
                    <td colspan="4" align="center">No record found</td>
                  </tr>
                  <tr v-for="(val,index) in DisputeArr">
                    <td class="text-center" style="width: 1%">{{index+1}}</td>
                    <td class="text-center" style="width: 50%">{{val.Reason}}</td>
                    <td class="text-center" style="width: 49%">
                      <table class="table-bordered table-hover tbl datatables">
                        <tr v-for="(row, ind) in val.awb">
                          <td class="text-center" style="width:25%">{{(Object.keys(row)) ? Object.keys(row).toString() : ''}}</td>
                        </tr>
                      </table>
                    </td>
                    <td class="text-center" style="width:11%">{{val.amount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal ref="myCommentModalRef" v-model="commentModalShow" id=#confirmationmodal title="Confirmation">
        <div role="document">
          <div class="modal-content">
            <div class="modal-headerfrm">
              <h5 class="modal-title">Finance Comment</h5>
              <button type="button" class="close" @click="closeStatusRoleModal" aria-label="Close">
                <span aria-hidden="true" style="color: white;">×</span>
              </button>
            </div>
            <div class="modal-bodyfrm">
              <h5 style="font-size:0.9rem; color:black;">{{comment}}</h5>
            </div>
          </div>
        </div>
      </b-modal>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card-headerfrm" style="margin-bottom: 15px;">
          <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;Result&nbsp;
            ( &nbsp;
              <span v-if="resultCount>0" style="font-size:13px;"><b>{{resultdate}}&nbsp;:&nbsp;</b></span>&nbsp;
              <font style="font-size: 13px;">
                <span class="dot1"></span> System Closure
                <span class="dot2"></span> Tax Payment/Imprest
                <span class="dot3"></span> Amount Mismatched
              </font>
            &nbsp; )
          </h4>
          <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
          <table class="table-bordered table-hover tbl datatables scrolltb" style="width:100%;">
            <thead>
              <tr class="text-primary">
                <th class="text-center tableheader"><b>#</b></th>
                <th class="text-center tableheader"><b>Delivery Date</b></th>
                <th class="text-center tableheader"><b>Deposit Date</b></th>
                <th class="text-center tableheader"><b>Deposit Type</b></th>
                <th class="text-center tableheader"><b>Opening Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>COD Receivable <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Bank Name</b></th>
                <th class="text-center tableheader"><b>Bank Deposited Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Finance Confirmed Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Exception AWB Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Dispute Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <!-- <th class="text-center tableheader"><b>Self Debit/ Recovery Amount <br>( <i class="fa fa-rupee"></i> )</b></th> -->
                <th class="text-center tableheader"><b>Outstanding Amount <br>( <i class="fa fa-rupee"></i> )</b></th>
                <th class="text-center tableheader"><b>Status</b></th>
                <th class="text-center tableheader"><b>Finance Reason</b></th>
                <th class="text-center tableheader"><b>View Receipt</b></th>
                <th class="text-center tableheader"><b>Created By</b></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="resultCount==0">
                <td colspan="16" align="center">No record found</td>
              </tr>
              <tr v-for="(data,index) in listSVCledgerData" v-bind:class="`${(data.createdby == 'schedular@xpressbees.com') || (data.deposittype == '') ? 'scheduler' : '' || data.reasonid == 65 ? 'other' : '' || ([84,124,187].includes(data.financereasonid)) ? 'mismatched' : ''}`">
                <td scope="row" class="text-center"><strong>{{pageno+index+1}}</strong></td>
                <td class="text-center">{{data.deliverydate}}</td>
                <td class="text-center">{{data.bankdepositdate}}</td>
                <td class="text-center">{{data.deposittype}}</td>
                <td class="text-center">{{data.openingbalance}}</td>
                <td class="text-center">{{data.codamount}}</td>
                <td class="text-center">{{data.bankname}}</td>
                <td class="text-center">{{data.bankdeposit}}</td>
                <td class="text-center">{{data.actualrecamt}}</td>
                <td class="text-center">
                  <span @click="showRecExcAWBNo('exception', data.exceptionamt, data.awbno)" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;" v-if="data.exceptionamt!=0">{{data.exceptionamt}}</span>
                  <span v-if="data.exceptionamt==0">{{data.exceptionamt}}</span>
                </td>
                <td class="text-center">
                  <span @click="showReasonAWBNo(data.cardawbno)" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;" v-if="data.cardawbno.length>0">{{data.cardissueamt}}</span>
                  <span v-if="data.cardawbno.length<=0">{{data.cardissueamt}}</span>
                </td>
                <!-- <td class="text-center">
                  <span @click="showRecExcAWBNo('recovery', data.othercharges, data.recoveryawb)" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;" v-if="data.othercharges!=0">{{data.othercharges}}</span>
                  <span v-if="data.othercharges==0">{{data.othercharges}}</span>
                </td> -->
                <td class="text-center">{{data.closingbalance}}</td>
                <td class="text-center" v-if="data.statusid==1">Open</td>
                <td class="text-center" v-if="data.statusid==6">Close</td>
                <td class="text-center">
                  <span @click="showComment(data.comment)" style="cursor:pointer; color: rgb(25,25,112); text-decoration: underline;" v-if="data.comment">{{data.financereason}}</span>
                  <span v-show="(['',null].includes(data.comment))">{{data.financereason}}</span>
                </td>
                <td class="text-center">
                  <span v-bind:id='`${"vrl"+data.svcledgerid}`' v-if="data.files.length>0 && data.createdby!='schedular@xpressbees.com' && data.othercharges == '0.00'" @click="showHideImages(data.svcledgerid, 'vrl')" style="color: blue; cursor: pointer; text-decoration: underline;">Deposit</span>
                  <span v-bind:id='`${"vri"+data.svcledgerid}`' style="display: none;">
                    <a v-bind:title='`${file.name}`' v-for="file in data.files" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:20px; color:#4b8cbb; margin: 10px 10px 1px 1px;"></i></a>
                  </span>

                  <br><span v-bind:id='`${"vrrl"+data.svcledgerid}`' v-if="(data.reasonfiles.length>0 && data.createdby!='schedular@xpressbees.com')" @click="showHideImages(data.svcledgerid, 'vrrl')" style="color: blue; cursor: pointer; text-decoration: underline;">Other</span>
                  <span v-bind:id='`${"vrri"+data.svcledgerid}`' style="display: none;">
                    <a v-bind:title='`${file.name}`' v-for="file in data.reasonfiles" v-bind:href='`${file.url}`'><i class="fa fa-download" aria-hidden="true" style="font-size:20px; color:#4b8cbb; margin: 10px 10px 1px 1px;"></i></a>
                  </span>
                </td>
                <td class="text-center">{{data.createdby}}</td>
              </tr>
            </tbody>
          </table><br>
          <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :click-handler="getPaginationData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
          </paginate>
        </div>
      </div>
    </div>
  </div>
</section>
