<div class="row">
  <div class="col-lg-12">
    <b-card>
      <div slot="header">
        COD SR Day Closure Search
      </div>
      <div class="card-body1">
        <form  v-on:submit.prevent="onSubmit">
            <div class="form-group row">
              <div class="col-md-5">
                <label>SR Name</label>
                <b-input-group left="<i class='fa fa-list'></i>">
                  <select class="form-control" id="SR_Name" v-model="SR_Name"name="SR_Name" v-validate="{required: true}"
                     v-bind:class="{'form-control': true, 'error': errors.has('SR_Name') }">
                    <option value="">--Select--</option>
                    <option v-for="SR_obj in SRList" v-bind:value="SR_obj.SRID" >{{SR_obj.SRName}}</option>
                  </select>
                </b-input-group>
                  <span v-show="errors.has('SR_Name')" class="text-danger">Please select SR name.</span>
              </div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <label>From Date</label>
              <b-input-group left="<i class='fa fa-calendar'></i>">
                <b-form-input id="fromDate" type="date" name="fromDate" v-validate="{required: true}"
                v-model="fromDate" v-bind:class="{'form-control': true, 'error': errors.has('fromDate') }"></b-form-input>
              </b-input-group>
              <span v-show="errors.has('fromDate')" class="text-danger">Please select from date. </span>
            </div>

            <div class="col-md-4">
              <label>To Date</label>
              <b-input-group left="<i class='fa fa-calendar'></i>">
                <b-form-input id="toDate" type="date" name="toDate" v-validate="{required: true}"
                v-model="toDate" v-bind:class="{'form-control': true, 'error': errors.has('toDate') }"></b-form-input>
              </b-input-group>
              <span v-show="errors.has('toDate')" class="text-danger">Please select to date. </span>
            </div>
          </div>

          <div >
            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
          </div>
        </form>
      </div>

    </b-card>
    <div class="col-12" v-show="SRLedgerDetails">
      <div class="card-headerfrm" style="margin-bottom: 15px;">
        <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp;Mapping Result</h4>
          <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
        <table class="table-bordered table-hover tbl datatables" style="width:100%;">
          <thead>
            <tr class="text-primary">
              <th class="text-center tableheader"><b>Credit Amount</b></th>
              <th class="text-center tableheader"><b>Debit Amount</b></th>
              <th class="text-center tableheader"><b>Created Date</b></th>
              <th class="text-center tableheader"><b>Delivery Date</b></th>
              <th class="text-center tableheader"><b>Reason</b></th>
              <th class="text-center tableheader"><b>Created By</b></th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="resultCount==0">
              <td colspan="7" align="center">No record found</td>
            </tr>
            <tr v-for="SL_List in SRLedgerList ">
              <td>{{SL_List.creditamount}}</td>
              <td>{{SL_List.debitamount}}</td>
              <td>{{SL_List.createddate}}</td>
              <td>{{SL_List.deliverydate}}</td>
              <td>{{SL_List.Reason}}</td>
              <td>{{SL_List.createdby}}</td>
            </tr>
          </tbody>

        </table><br>
        <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :click-handler="getPaginationData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
        </paginate>
      </div>
     </div>
  </div><!--/.col-->
</div><!--/.row-->
