<section class="user">
  <div class="animated fadeIn">
    <div class="col-md-12 mb-2">
      <div class="card">
        <div class="card-header filter_main">
          <i class=" fa fa-filter filter"></i>  COD SR Day Closure Search
        </div>
        <div class="card-body">
          <form  v-on:submit.prevent="onSubmit">
            <div class="form-group row">
              <div class="col-md-4">
                <label>SR Name <font color="red">*</font></label>
                  <b-input-group left="<i class='fa fa-list'></i>">
                      <Multiselect  :options="SRList" placeholder="Select SR Name" name="SR_Name" id="SR_Name" v-model="SR_Name" label="srname" track-by="srid"  v-validate="{required: true}" v-bind:class="{'error': errors.has('SR_Name') }" :optionHeight="100" :hide-selected="false" style="border: 1px solid #c2cfd6; z-index:999">
                        <template slot="noResult"><p>No Record Found.</p></template>
                      </Multiselect>
                  </b-input-group>
                  <span v-show="errors.has('SR_Name')" class="text-danger">SR name is required.</span>
              </div>

              <div class="col-md-4">
                <label>From ( Created ) Date <font color="red">*</font></label>
                <b-input-group left="<i class='fa fa-calendar'></i>" style="height: 45px;">
                  <b-form-input id="fromDate" type="date" name="fromDate" v-validate="{required: true}"
                  v-model="fromDate" v-bind:class="{'form-control': true, 'error': errors.has('fromDate') }"></b-form-input>
                </b-input-group>
                <span v-show="errors.has('fromDate')" class="text-danger">From date is required. </span>
                <span id="fdate" class="text-danger"></span>
              </div>

              <div class="col-md-4">
                <label>To ( Created ) Date <font color="red">*</font></label>
                <b-input-group left="<i class='fa fa-calendar'></i>" style="height: 45px;">
                  <b-form-input id="toDate" type="date" name="toDate" v-validate="{required: true}"
                  v-model="toDate" v-bind:class="{'form-control': true, 'error': errors.has('toDate') }"></b-form-input>
                </b-input-group>
                <span v-show="errors.has('toDate')" class="text-danger">To date is required. </span>
              </div>
            </div>

            <div class="card-footer">
              <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
              <button class="btn btn-sm btn-danger" @click="resetForm()" type="reset"><i class="fa fa-ban"></i> Clear</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card-headerfrm" style="margin-bottom: 15px;">
        <h4 class="header"><i class="fa fa-bars barcolor" aria-hidden="true"></i>&nbsp; Result</h4>
        <vue-element-loading spinner="line-scale" color="#FF6700" :active.sync="isLoading" />
        <table class="table-bordered table-hover tbl datatables" style="width:100%;">
          <thead>
            <tr class="text-primary">
              <th class="text-center tableheader"><b>#</b></th>
              <th class="text-center tableheader"><b>Paid Amount</b></th>
              <th class="text-center tableheader"><b>Pending Amount</b></th>
              <th class="text-center tableheader"><b>Created Date</b></th>
              <th class="text-center tableheader"><b>Delivery Date</b></th>
              <th class="text-center tableheader"><b>Reason</b></th>
              <th class="text-center tableheader"><b>Created By</b></th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="resultCount==0">
              <td colspan="7" align="center">No record found</td>
            </tr>
            <tr v-for="(SL_List,index) in SRLedgerList ">
              <td scope="row" class="text-center"><strong>{{pageno+index+1}}</strong></td>
              <td>{{SL_List.creditamount}}</td>
              <td>{{SL_List.debitamount}}</td>
              <td>{{SL_List.createddate}}</td>
              <td>{{SL_List.deliverydate}}</td>
              <td>{{SL_List.Reason}}</td>
              <td>{{SL_List.createdby}}</td>
            </tr>
          </tbody>

        </table><br>
        <paginate v-if="resultCount>0" :page-count="pagecount" :page-range="2" :margin-pages="2" :click-handler="getPaginationData" :prev-text="'«'" :next-text="'»'" :container-class="'pagination'">
        </paginate>
      </div>
     </div>
  </div>
</section>
